# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class CoursesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def copy_course_content(self, course_id, **kwargs):  # noqa: E501
        """Copy course content  # noqa: E501

        DEPRECATED: Please use the {api:ContentMigrationsController#create Content Migrations API}  Copies content from one course into another. The default is to copy all course content. You can control specific types to copy by using either the 'except' option or the 'only' option.  The response is the same as the course copy status endpoint  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_course_content(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param str source_course: ID or SIS-ID of the course to copy the content from
        :param list[str] _except: A list of the course content types to exclude, all areas not listed will be copied.
        :param list[str] only: A list of the course content types to copy, all areas not listed will not be copied.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_course_content_with_http_info(course_id, **kwargs)  # noqa: E501
        else:
            (data) = self.copy_course_content_with_http_info(course_id, **kwargs)  # noqa: E501
            return data

    def copy_course_content_with_http_info(self, course_id, **kwargs):  # noqa: E501
        """Copy course content  # noqa: E501

        DEPRECATED: Please use the {api:ContentMigrationsController#create Content Migrations API}  Copies content from one course into another. The default is to copy all course content. You can control specific types to copy by using either the 'except' option or the 'only' option.  The response is the same as the course copy status endpoint  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_course_content_with_http_info(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param str source_course: ID or SIS-ID of the course to copy the content from
        :param list[str] _except: A list of the course content types to exclude, all areas not listed will be copied.
        :param list[str] only: A list of the course content types to copy, all areas not listed will not be copied.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id', 'source_course', '_except', 'only']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_course_content" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `copy_course_content`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'source_course' in params:
            form_params.append(('source_course', params['source_course']))  # noqa: E501
        if '_except' in params:
            form_params.append(('except', params['_except']))  # noqa: E501
            collection_formats['except'] = 'csv'  # noqa: E501
        if 'only' in params:
            form_params.append(('only', params['only']))  # noqa: E501
            collection_formats['only'] = 'csv'  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/course_copy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def course_activity_stream(self, course_id, **kwargs):  # noqa: E501
        """Course activity stream  # noqa: E501

        Returns the current user's course-specific activity stream, paginated.  For full documentation, see the API documentation for the user activity stream, in the user api.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.course_activity_stream(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.course_activity_stream_with_http_info(course_id, **kwargs)  # noqa: E501
        else:
            (data) = self.course_activity_stream_with_http_info(course_id, **kwargs)  # noqa: E501
            return data

    def course_activity_stream_with_http_info(self, course_id, **kwargs):  # noqa: E501
        """Course activity stream  # noqa: E501

        Returns the current user's course-specific activity stream, paginated.  For full documentation, see the API documentation for the user activity stream, in the user api.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.course_activity_stream_with_http_info(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method course_activity_stream" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `course_activity_stream`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/activity_stream', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def course_activity_stream_summary(self, course_id, **kwargs):  # noqa: E501
        """Course activity stream summary  # noqa: E501

        Returns a summary of the current user's course-specific activity stream.  For full documentation, see the API documentation for the user activity stream summary, in the user api.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.course_activity_stream_summary(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.course_activity_stream_summary_with_http_info(course_id, **kwargs)  # noqa: E501
        else:
            (data) = self.course_activity_stream_summary_with_http_info(course_id, **kwargs)  # noqa: E501
            return data

    def course_activity_stream_summary_with_http_info(self, course_id, **kwargs):  # noqa: E501
        """Course activity stream summary  # noqa: E501

        Returns a summary of the current user's course-specific activity stream.  For full documentation, see the API documentation for the user activity stream summary, in the user api.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.course_activity_stream_summary_with_http_info(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method course_activity_stream_summary" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `course_activity_stream_summary`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/activity_stream/summary', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def course_todo_items(self, course_id, **kwargs):  # noqa: E501
        """Course TODO items  # noqa: E501

        Returns the current user's course-specific todo items.  For full documentation, see the API documentation for the user todo items, in the user api.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.course_todo_items(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.course_todo_items_with_http_info(course_id, **kwargs)  # noqa: E501
        else:
            (data) = self.course_todo_items_with_http_info(course_id, **kwargs)  # noqa: E501
            return data

    def course_todo_items_with_http_info(self, course_id, **kwargs):  # noqa: E501
        """Course TODO items  # noqa: E501

        Returns the current user's course-specific todo items.  For full documentation, see the API documentation for the user todo items, in the user api.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.course_todo_items_with_http_info(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method course_todo_items" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `course_todo_items`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/todo', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_new_course(self, account_id, **kwargs):  # noqa: E501
        """Create a new course  # noqa: E501

        Create a new course  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_new_course(account_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str course_name: The name of the course. If omitted, the course will be named \"Unnamed Course.\"
        :param str course_course_code: The course code for the course.
        :param Object course_start_at: Course start date in ISO8601 format, e.g. 2011-01-01T01:00Z This value is ignored unless 'restrict_enrollments_to_course_dates' is set to true.
        :param Object course_end_at: Course end date in ISO8601 format. e.g. 2011-01-01T01:00Z This value is ignored unless 'restrict_enrollments_to_course_dates' is set to true.
        :param str course_license: The name of the licensing. Should be one of the following abbreviations (a descriptive name is included in parenthesis for reference): - 'private' (Private Copyrighted) - 'cc_by_nc_nd' (CC Attribution Non-Commercial No Derivatives) - 'cc_by_nc_sa' (CC Attribution Non-Commercial Share Alike) - 'cc_by_nc' (CC Attribution Non-Commercial) - 'cc_by_nd' (CC Attribution No Derivatives) - 'cc_by_sa' (CC Attribution Share Alike) - 'cc_by' (CC Attribution) - 'public_domain' (Public Domain).
        :param bool course_is_public: Set to true if course is public to both authenticated and unauthenticated users.
        :param bool course_is_public_to_auth_users: Set to true if course is public only to authenticated users.
        :param bool course_public_syllabus: Set to true to make the course syllabus public.
        :param bool course_public_syllabus_to_auth: Set to true to make the course syllabus public for authenticated users.
        :param str course_public_description: A publicly visible description of the course.
        :param bool course_allow_student_wiki_edits: If true, students will be able to modify the course wiki.
        :param bool course_allow_wiki_comments: If true, course members will be able to comment on wiki pages.
        :param bool course_allow_student_forum_attachments: If true, students can attach files to forum posts.
        :param bool course_open_enrollment: Set to true if the course is open enrollment.
        :param bool course_self_enrollment: Set to true if the course is self enrollment.
        :param bool course_restrict_enrollments_to_course_dates: Set to true to restrict user enrollments to the start and end dates of the course. This value must be set to true in order to specify a course start date and/or end date.
        :param str course_term_id: The unique ID of the term to create to course in.
        :param str course_sis_course_id: The unique SIS identifier.
        :param str course_integration_id: The unique Integration identifier.
        :param bool course_hide_final_grades: If this option is set to true, the totals in student grades summary will be hidden.
        :param bool course_apply_assignment_group_weights: Set to true to weight final grade based on assignment groups percentages.
        :param str course_time_zone: The time zone for the course. Allowed time zones are {http://www.iana.org/time-zones IANA time zones} or friendlier {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
        :param bool offer: If this option is set to true, the course will be available to students immediately.
        :param bool enroll_me: Set to true to enroll the current user as the teacher.
        :param str course_default_view: The type of page that users will see when they first visit the course * 'feed' Recent Activity Dashboard * 'modules' Course Modules/Sections Page * 'assignments' Course Assignments List * 'syllabus' Course Syllabus Page other types may be added in the future
        :param str course_syllabus_body: The syllabus body for the course
        :param int course_grading_standard_id: The grading standard id to set for the course.  If no value is provided for this argument the current grading_standard will be un-set from this course.
        :param str course_grade_passback_setting: Optional. The grade_passback_setting for the course. Only 'nightly_sync', 'disabled', and '' are allowed
        :param str course_course_format: Optional. Specifies the format of the course. (Should be 'on_campus', 'online', or 'blended')
        :param bool enable_sis_reactivation: When true, will first try to re-activate a deleted course with matching sis_course_id if possible.
        :return: Course
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_new_course_with_http_info(account_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_new_course_with_http_info(account_id, **kwargs)  # noqa: E501
            return data

    def create_new_course_with_http_info(self, account_id, **kwargs):  # noqa: E501
        """Create a new course  # noqa: E501

        Create a new course  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_new_course_with_http_info(account_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str course_name: The name of the course. If omitted, the course will be named \"Unnamed Course.\"
        :param str course_course_code: The course code for the course.
        :param Object course_start_at: Course start date in ISO8601 format, e.g. 2011-01-01T01:00Z This value is ignored unless 'restrict_enrollments_to_course_dates' is set to true.
        :param Object course_end_at: Course end date in ISO8601 format. e.g. 2011-01-01T01:00Z This value is ignored unless 'restrict_enrollments_to_course_dates' is set to true.
        :param str course_license: The name of the licensing. Should be one of the following abbreviations (a descriptive name is included in parenthesis for reference): - 'private' (Private Copyrighted) - 'cc_by_nc_nd' (CC Attribution Non-Commercial No Derivatives) - 'cc_by_nc_sa' (CC Attribution Non-Commercial Share Alike) - 'cc_by_nc' (CC Attribution Non-Commercial) - 'cc_by_nd' (CC Attribution No Derivatives) - 'cc_by_sa' (CC Attribution Share Alike) - 'cc_by' (CC Attribution) - 'public_domain' (Public Domain).
        :param bool course_is_public: Set to true if course is public to both authenticated and unauthenticated users.
        :param bool course_is_public_to_auth_users: Set to true if course is public only to authenticated users.
        :param bool course_public_syllabus: Set to true to make the course syllabus public.
        :param bool course_public_syllabus_to_auth: Set to true to make the course syllabus public for authenticated users.
        :param str course_public_description: A publicly visible description of the course.
        :param bool course_allow_student_wiki_edits: If true, students will be able to modify the course wiki.
        :param bool course_allow_wiki_comments: If true, course members will be able to comment on wiki pages.
        :param bool course_allow_student_forum_attachments: If true, students can attach files to forum posts.
        :param bool course_open_enrollment: Set to true if the course is open enrollment.
        :param bool course_self_enrollment: Set to true if the course is self enrollment.
        :param bool course_restrict_enrollments_to_course_dates: Set to true to restrict user enrollments to the start and end dates of the course. This value must be set to true in order to specify a course start date and/or end date.
        :param str course_term_id: The unique ID of the term to create to course in.
        :param str course_sis_course_id: The unique SIS identifier.
        :param str course_integration_id: The unique Integration identifier.
        :param bool course_hide_final_grades: If this option is set to true, the totals in student grades summary will be hidden.
        :param bool course_apply_assignment_group_weights: Set to true to weight final grade based on assignment groups percentages.
        :param str course_time_zone: The time zone for the course. Allowed time zones are {http://www.iana.org/time-zones IANA time zones} or friendlier {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
        :param bool offer: If this option is set to true, the course will be available to students immediately.
        :param bool enroll_me: Set to true to enroll the current user as the teacher.
        :param str course_default_view: The type of page that users will see when they first visit the course * 'feed' Recent Activity Dashboard * 'modules' Course Modules/Sections Page * 'assignments' Course Assignments List * 'syllabus' Course Syllabus Page other types may be added in the future
        :param str course_syllabus_body: The syllabus body for the course
        :param int course_grading_standard_id: The grading standard id to set for the course.  If no value is provided for this argument the current grading_standard will be un-set from this course.
        :param str course_grade_passback_setting: Optional. The grade_passback_setting for the course. Only 'nightly_sync', 'disabled', and '' are allowed
        :param str course_course_format: Optional. Specifies the format of the course. (Should be 'on_campus', 'online', or 'blended')
        :param bool enable_sis_reactivation: When true, will first try to re-activate a deleted course with matching sis_course_id if possible.
        :return: Course
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'course_name', 'course_course_code', 'course_start_at', 'course_end_at', 'course_license', 'course_is_public', 'course_is_public_to_auth_users', 'course_public_syllabus', 'course_public_syllabus_to_auth', 'course_public_description', 'course_allow_student_wiki_edits', 'course_allow_wiki_comments', 'course_allow_student_forum_attachments', 'course_open_enrollment', 'course_self_enrollment', 'course_restrict_enrollments_to_course_dates', 'course_term_id', 'course_sis_course_id', 'course_integration_id', 'course_hide_final_grades', 'course_apply_assignment_group_weights', 'course_time_zone', 'offer', 'enroll_me', 'course_default_view', 'course_syllabus_body', 'course_grading_standard_id', 'course_grade_passback_setting', 'course_course_format', 'enable_sis_reactivation']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_new_course" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if self.api_client.client_side_validation and ('account_id' not in params or
                                                       params['account_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `account_id` when calling `create_new_course`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'course_name' in params:
            form_params.append(('course[name]', params['course_name']))  # noqa: E501
        if 'course_course_code' in params:
            form_params.append(('course[course_code]', params['course_course_code']))  # noqa: E501
        if 'course_start_at' in params:
            form_params.append(('course[start_at]', params['course_start_at']))  # noqa: E501
        if 'course_end_at' in params:
            form_params.append(('course[end_at]', params['course_end_at']))  # noqa: E501
        if 'course_license' in params:
            form_params.append(('course[license]', params['course_license']))  # noqa: E501
        if 'course_is_public' in params:
            form_params.append(('course[is_public]', params['course_is_public']))  # noqa: E501
        if 'course_is_public_to_auth_users' in params:
            form_params.append(('course[is_public_to_auth_users]', params['course_is_public_to_auth_users']))  # noqa: E501
        if 'course_public_syllabus' in params:
            form_params.append(('course[public_syllabus]', params['course_public_syllabus']))  # noqa: E501
        if 'course_public_syllabus_to_auth' in params:
            form_params.append(('course[public_syllabus_to_auth]', params['course_public_syllabus_to_auth']))  # noqa: E501
        if 'course_public_description' in params:
            form_params.append(('course[public_description]', params['course_public_description']))  # noqa: E501
        if 'course_allow_student_wiki_edits' in params:
            form_params.append(('course[allow_student_wiki_edits]', params['course_allow_student_wiki_edits']))  # noqa: E501
        if 'course_allow_wiki_comments' in params:
            form_params.append(('course[allow_wiki_comments]', params['course_allow_wiki_comments']))  # noqa: E501
        if 'course_allow_student_forum_attachments' in params:
            form_params.append(('course[allow_student_forum_attachments]', params['course_allow_student_forum_attachments']))  # noqa: E501
        if 'course_open_enrollment' in params:
            form_params.append(('course[open_enrollment]', params['course_open_enrollment']))  # noqa: E501
        if 'course_self_enrollment' in params:
            form_params.append(('course[self_enrollment]', params['course_self_enrollment']))  # noqa: E501
        if 'course_restrict_enrollments_to_course_dates' in params:
            form_params.append(('course[restrict_enrollments_to_course_dates]', params['course_restrict_enrollments_to_course_dates']))  # noqa: E501
        if 'course_term_id' in params:
            form_params.append(('course[term_id]', params['course_term_id']))  # noqa: E501
        if 'course_sis_course_id' in params:
            form_params.append(('course[sis_course_id]', params['course_sis_course_id']))  # noqa: E501
        if 'course_integration_id' in params:
            form_params.append(('course[integration_id]', params['course_integration_id']))  # noqa: E501
        if 'course_hide_final_grades' in params:
            form_params.append(('course[hide_final_grades]', params['course_hide_final_grades']))  # noqa: E501
        if 'course_apply_assignment_group_weights' in params:
            form_params.append(('course[apply_assignment_group_weights]', params['course_apply_assignment_group_weights']))  # noqa: E501
        if 'course_time_zone' in params:
            form_params.append(('course[time_zone]', params['course_time_zone']))  # noqa: E501
        if 'offer' in params:
            form_params.append(('offer', params['offer']))  # noqa: E501
        if 'enroll_me' in params:
            form_params.append(('enroll_me', params['enroll_me']))  # noqa: E501
        if 'course_default_view' in params:
            form_params.append(('course[default_view]', params['course_default_view']))  # noqa: E501
        if 'course_syllabus_body' in params:
            form_params.append(('course[syllabus_body]', params['course_syllabus_body']))  # noqa: E501
        if 'course_grading_standard_id' in params:
            form_params.append(('course[grading_standard_id]', params['course_grading_standard_id']))  # noqa: E501
        if 'course_grade_passback_setting' in params:
            form_params.append(('course[grade_passback_setting]', params['course_grade_passback_setting']))  # noqa: E501
        if 'course_course_format' in params:
            form_params.append(('course[course_format]', params['course_course_format']))  # noqa: E501
        if 'enable_sis_reactivation' in params:
            form_params.append(('enable_sis_reactivation', params['enable_sis_reactivation']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/accounts/{account_id}/courses', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Course',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_conclude_course(self, id, event, **kwargs):  # noqa: E501
        """Delete/Conclude a course  # noqa: E501

        Delete or conclude an existing course  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_conclude_course(id, event, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param str event: The action to take on the course. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_conclude_course_with_http_info(id, event, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_conclude_course_with_http_info(id, event, **kwargs)  # noqa: E501
            return data

    def delete_conclude_course_with_http_info(self, id, event, **kwargs):  # noqa: E501
        """Delete/Conclude a course  # noqa: E501

        Delete or conclude an existing course  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_conclude_course_with_http_info(id, event, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param str event: The action to take on the course. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'event']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_conclude_course" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `delete_conclude_course`")  # noqa: E501
        # verify the required parameter 'event' is set
        if self.api_client.client_side_validation and ('event' not in params or
                                                       params['event'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `event` when calling `delete_conclude_course`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'event' in params:
            query_params.append(('event', params['event']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_bulk_user_progress(self, course_id, **kwargs):  # noqa: E501
        """Get bulk user progress  # noqa: E501

        Returns progress information for all users enrolled in the given course.  You must be a user who has permission to view all grades in the course (such as a teacher or administrator).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_bulk_user_progress(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_bulk_user_progress_with_http_info(course_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_bulk_user_progress_with_http_info(course_id, **kwargs)  # noqa: E501
            return data

    def get_bulk_user_progress_with_http_info(self, course_id, **kwargs):  # noqa: E501
        """Get bulk user progress  # noqa: E501

        Returns progress information for all users enrolled in the given course.  You must be a user who has permission to view all grades in the course (such as a teacher or administrator).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_bulk_user_progress_with_http_info(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_bulk_user_progress" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `get_bulk_user_progress`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/bulk_user_progress', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_course_copy_status(self, course_id, id, **kwargs):  # noqa: E501
        """Get course copy status  # noqa: E501

        DEPRECATED: Please use the {api:ContentMigrationsController#create Content Migrations API}  Retrieve the status of a course copy  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_course_copy_status(course_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param str id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_course_copy_status_with_http_info(course_id, id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_course_copy_status_with_http_info(course_id, id, **kwargs)  # noqa: E501
            return data

    def get_course_copy_status_with_http_info(self, course_id, id, **kwargs):  # noqa: E501
        """Get course copy status  # noqa: E501

        DEPRECATED: Please use the {api:ContentMigrationsController#create Content Migrations API}  Retrieve the status of a course copy  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_course_copy_status_with_http_info(course_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param str id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_course_copy_status" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `get_course_copy_status`")  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_course_copy_status`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/course_copy/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_course_settings(self, course_id, **kwargs):  # noqa: E501
        """Get course settings  # noqa: E501

        Returns some of a course's settings.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_course_settings(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_course_settings_with_http_info(course_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_course_settings_with_http_info(course_id, **kwargs)  # noqa: E501
            return data

    def get_course_settings_with_http_info(self, course_id, **kwargs):  # noqa: E501
        """Get course settings  # noqa: E501

        Returns some of a course's settings.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_course_settings_with_http_info(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_course_settings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `get_course_settings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/settings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_effective_due_dates(self, course_id, **kwargs):  # noqa: E501
        """Get effective due dates  # noqa: E501

        For each assignment in the course, returns each assigned student's ID and their corresponding due date along with some grading period data. Returns a collection with keys representing assignment IDs and values as a collection containing keys representing student IDs and values representing the student's effective due_at, the grading_period_id of which the due_at falls in, and whether or not the grading period is closed (in_closed_grading_period)  The list of assignment IDs for which effective student due dates are requested. If not provided, all assignments in the course will be used.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_effective_due_dates(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param list[str] assignment_ids: no description
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_effective_due_dates_with_http_info(course_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_effective_due_dates_with_http_info(course_id, **kwargs)  # noqa: E501
            return data

    def get_effective_due_dates_with_http_info(self, course_id, **kwargs):  # noqa: E501
        """Get effective due dates  # noqa: E501

        For each assignment in the course, returns each assigned student's ID and their corresponding due date along with some grading period data. Returns a collection with keys representing assignment IDs and values as a collection containing keys representing student IDs and values representing the student's effective due_at, the grading_period_id of which the due_at falls in, and whether or not the grading period is closed (in_closed_grading_period)  The list of assignment IDs for which effective student due dates are requested. If not provided, all assignments in the course will be used.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_effective_due_dates_with_http_info(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param list[str] assignment_ids: no description
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id', 'assignment_ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_effective_due_dates" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `get_effective_due_dates`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501

        query_params = []
        if 'assignment_ids' in params:
            query_params.append(('assignment_ids', params['assignment_ids']))  # noqa: E501
            collection_formats['assignment_ids'] = 'csv'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/effective_due_dates', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_single_course_accounts(self, account_id, id, **kwargs):  # noqa: E501
        """Get a single course  # noqa: E501

        Return information on a single course.  Accepts the same include[] parameters as the list action plus:  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_single_course_accounts(account_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str id: ID (required)
        :param list[str] include: - \"all_courses\": Also search recently deleted courses. - \"permissions\": Include permissions the current user has   for the course. - \"observed_users\": Include observed users in the enrollments - \"course_image\": Include course image url if a course image has been set - \"banner_image\": Include course banner image url if the course is a Canvas for   Elementary subject and a banner image has been set - \"concluded\": Optional information to include with Course. Indicates whether   the course has been concluded, taking course and term dates into account. - \"lti_context_id\": Include course LTI tool id. - \"post_manually\": Include course post policy. If the post policy is manually post grades,   the value will be true. If the post policy is automatically post grades, the value will be false.
        :param int teacher_limit: The maximum number of teacher enrollments to show. If the course contains more teachers than this, instead of giving the teacher enrollments, the count of teachers will be given under a _teacher_count_ key.
        :return: Course
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_single_course_accounts_with_http_info(account_id, id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_single_course_accounts_with_http_info(account_id, id, **kwargs)  # noqa: E501
            return data

    def get_single_course_accounts_with_http_info(self, account_id, id, **kwargs):  # noqa: E501
        """Get a single course  # noqa: E501

        Return information on a single course.  Accepts the same include[] parameters as the list action plus:  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_single_course_accounts_with_http_info(account_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str id: ID (required)
        :param list[str] include: - \"all_courses\": Also search recently deleted courses. - \"permissions\": Include permissions the current user has   for the course. - \"observed_users\": Include observed users in the enrollments - \"course_image\": Include course image url if a course image has been set - \"banner_image\": Include course banner image url if the course is a Canvas for   Elementary subject and a banner image has been set - \"concluded\": Optional information to include with Course. Indicates whether   the course has been concluded, taking course and term dates into account. - \"lti_context_id\": Include course LTI tool id. - \"post_manually\": Include course post policy. If the post policy is manually post grades,   the value will be true. If the post policy is automatically post grades, the value will be false.
        :param int teacher_limit: The maximum number of teacher enrollments to show. If the course contains more teachers than this, instead of giving the teacher enrollments, the count of teachers will be given under a _teacher_count_ key.
        :return: Course
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'id', 'include', 'teacher_limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_single_course_accounts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if self.api_client.client_side_validation and ('account_id' not in params or
                                                       params['account_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `account_id` when calling `get_single_course_accounts`")  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_single_course_accounts`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
            collection_formats['include'] = 'csv'  # noqa: E501
        if 'teacher_limit' in params:
            query_params.append(('teacher_limit', params['teacher_limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/accounts/{account_id}/courses/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Course',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_single_course_courses(self, id, **kwargs):  # noqa: E501
        """Get a single course  # noqa: E501

        Return information on a single course.  Accepts the same include[] parameters as the list action plus:  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_single_course_courses(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param list[str] include: - \"all_courses\": Also search recently deleted courses. - \"permissions\": Include permissions the current user has   for the course. - \"observed_users\": Include observed users in the enrollments - \"course_image\": Include course image url if a course image has been set - \"banner_image\": Include course banner image url if the course is a Canvas for   Elementary subject and a banner image has been set - \"concluded\": Optional information to include with Course. Indicates whether   the course has been concluded, taking course and term dates into account. - \"lti_context_id\": Include course LTI tool id. - \"post_manually\": Include course post policy. If the post policy is manually post grades,   the value will be true. If the post policy is automatically post grades, the value will be false.
        :param int teacher_limit: The maximum number of teacher enrollments to show. If the course contains more teachers than this, instead of giving the teacher enrollments, the count of teachers will be given under a _teacher_count_ key.
        :return: Course
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_single_course_courses_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_single_course_courses_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_single_course_courses_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get a single course  # noqa: E501

        Return information on a single course.  Accepts the same include[] parameters as the list action plus:  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_single_course_courses_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param list[str] include: - \"all_courses\": Also search recently deleted courses. - \"permissions\": Include permissions the current user has   for the course. - \"observed_users\": Include observed users in the enrollments - \"course_image\": Include course image url if a course image has been set - \"banner_image\": Include course banner image url if the course is a Canvas for   Elementary subject and a banner image has been set - \"concluded\": Optional information to include with Course. Indicates whether   the course has been concluded, taking course and term dates into account. - \"lti_context_id\": Include course LTI tool id. - \"post_manually\": Include course post policy. If the post policy is manually post grades,   the value will be true. If the post policy is automatically post grades, the value will be false.
        :param int teacher_limit: The maximum number of teacher enrollments to show. If the course contains more teachers than this, instead of giving the teacher enrollments, the count of teachers will be given under a _teacher_count_ key.
        :return: Course
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'include', 'teacher_limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_single_course_courses" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_single_course_courses`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
            collection_formats['include'] = 'csv'  # noqa: E501
        if 'teacher_limit' in params:
            query_params.append(('teacher_limit', params['teacher_limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Course',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_single_user(self, course_id, id, **kwargs):  # noqa: E501
        """Get single user  # noqa: E501

        Return information on a single user.  Accepts the same include[] parameters as the :users: action, and returns a single user with the same fields as that action.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_single_user(course_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param str id: ID (required)
        :return: User
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_single_user_with_http_info(course_id, id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_single_user_with_http_info(course_id, id, **kwargs)  # noqa: E501
            return data

    def get_single_user_with_http_info(self, course_id, id, **kwargs):  # noqa: E501
        """Get single user  # noqa: E501

        Return information on a single user.  Accepts the same include[] parameters as the :users: action, and returns a single user with the same fields as that action.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_single_user_with_http_info(course_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param str id: ID (required)
        :return: User
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_single_user" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `get_single_user`")  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_single_user`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/users/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='User',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_user_progress(self, course_id, user_id, **kwargs):  # noqa: E501
        """Get user progress  # noqa: E501

        Return progress information for the user and course  You can supply +self+ as the user_id to query your own progress in a course. To query another user's progress, you must be a teacher in the course, an administrator, or a linked observer of the user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_user_progress(course_id, user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param str user_id: ID (required)
        :return: CourseProgress
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_user_progress_with_http_info(course_id, user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_user_progress_with_http_info(course_id, user_id, **kwargs)  # noqa: E501
            return data

    def get_user_progress_with_http_info(self, course_id, user_id, **kwargs):  # noqa: E501
        """Get user progress  # noqa: E501

        Return progress information for the user and course  You can supply +self+ as the user_id to query your own progress in a course. To query another user's progress, you must be a teacher in the course, an administrator, or a linked observer of the user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_user_progress_with_http_info(course_id, user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param str user_id: ID (required)
        :return: CourseProgress
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id', 'user_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_user_progress" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `get_user_progress`")  # noqa: E501
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and ('user_id' not in params or
                                                       params['user_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `user_id` when calling `get_user_progress`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501
        if 'user_id' in params:
            path_params['user_id'] = params['user_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/users/{user_id}/progress', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CourseProgress',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_courses_for_user(self, user_id, **kwargs):  # noqa: E501
        """List courses for a user  # noqa: E501

        Returns a paginated list of active courses for this user. To view the course list for a user other than yourself, you must be either an observer of that user or an administrator.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_courses_for_user(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID (required)
        :param list[str] include: - \"needs_grading_count\": Optional information to include with each Course.   When needs_grading_count is given, and the current user has grading   rights, the total number of submissions needing grading for all   assignments is returned. - \"syllabus_body\": Optional information to include with each Course.   When syllabus_body is given the user-generated html for the course   syllabus is returned. - \"public_description\": Optional information to include with each Course.   When public_description is given the user-generated text for the course   public description is returned. - \"total_scores\": Optional information to include with each Course.   When total_scores is given, any student enrollments will also   include the fields 'computed_current_score', 'computed_final_score',   'computed_current_grade', and 'computed_final_grade' (see Enrollment   documentation for more information on these fields). This argument   is ignored if the course is configured to hide final grades. - \"current_grading_period_scores\": Optional information to include with   each Course. When current_grading_period_scores is given and total_scores   is given, any student enrollments will also include the fields   'has_grading_periods',   'totals_for_all_grading_periods_option', 'current_grading_period_title',   'current_grading_period_id', current_period_computed_current_score',   'current_period_computed_final_score',   'current_period_computed_current_grade', and   'current_period_computed_final_grade', as well as (if the user has permission)   'current_period_unposted_current_score',   'current_period_unposted_final_score',   'current_period_unposted_current_grade', and   'current_period_unposted_final_grade' (see Enrollment documentation for   more information on these fields). In addition, when this argument is   passed, the course will have a 'has_grading_periods' attribute   on it. This argument is ignored if the course is configured to hide final   grades or if the total_scores argument is not included. - \"grading_periods\": Optional information to include with each Course. When   grading_periods is given, a list of the grading periods associated with   each course is returned. - \"term\": Optional information to include with each Course. When   term is given, the information for the enrollment term for each course   is returned. - \"account\": Optional information to include with each Course. When   account is given, the account json for each course is returned. - \"course_progress\": Optional information to include with each Course.   When course_progress is given, each course will include a   'course_progress' object with the fields: 'requirement_count', an integer   specifying the total number of requirements in the course,   'requirement_completed_count', an integer specifying the total number of   requirements in this course that have been completed, and   'next_requirement_url', a string url to the next requirement item, and   'completed_at', the date the course was completed (null if incomplete).   'next_requirement_url' will be null if all requirements have been   completed or the current module does not require sequential progress.   \"course_progress\" will return an error message if the course is not   module based or the user is not enrolled as a student in the course. - \"sections\": Section enrollment information to include with each Course.   Returns an array of hashes containing the section ID (id), section name   (name), start and end dates (start_at, end_at), as well as the enrollment   type (enrollment_role, e.g. 'StudentEnrollment'). - \"storage_quota_used_mb\": The amount of storage space used by the files in this course - \"total_students\": Optional information to include with each Course.   Returns an integer for the total amount of active and invited students. - \"passback_status\": Include the grade passback_status - \"favorites\": Optional information to include with each Course.   Indicates if the user has marked the course as a favorite course. - \"teachers\": Teacher information to include with each Course.   Returns an array of hashes containing the {api:Users:UserDisplay UserDisplay} information   for each teacher in the course. - \"observed_users\": Optional information to include with each Course.   Will include data for observed users if the current user has an   observer enrollment. - \"tabs\": Optional information to include with each Course.   Will include the list of tabs configured for each course.  See the   {api:TabsController#index List available tabs API} for more information. - \"course_image\": Optional information to include with each Course. Returns course   image url if a course image has been set. - \"banner_image\": Optional information to include with each Course. Returns course   banner image url if the course is a Canvas for Elementary subject and a banner   image has been set. - \"concluded\": Optional information to include with each Course. Indicates whether   the course has been concluded, taking course and term dates into account. - \"post_manually\": Optional information to include with each Course. Returns true if   the course post policy is set to \"Manually\". Returns false if the the course post   policy is set to \"Automatically\".
        :param list[str] state: If set, only return courses that are in the given state(s). By default, \"available\" is returned for students and observers, and anything except \"deleted\", for all other enrollment types
        :param str enrollment_state: When set, only return courses where the user has an enrollment with the given state. This will respect section/course/term date overrides.
        :param bool homeroom: If set, only return homeroom courses.
        :param str account_id: If set, only include courses associated with this account
        :return: list[Course]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_courses_for_user_with_http_info(user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_courses_for_user_with_http_info(user_id, **kwargs)  # noqa: E501
            return data

    def list_courses_for_user_with_http_info(self, user_id, **kwargs):  # noqa: E501
        """List courses for a user  # noqa: E501

        Returns a paginated list of active courses for this user. To view the course list for a user other than yourself, you must be either an observer of that user or an administrator.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_courses_for_user_with_http_info(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID (required)
        :param list[str] include: - \"needs_grading_count\": Optional information to include with each Course.   When needs_grading_count is given, and the current user has grading   rights, the total number of submissions needing grading for all   assignments is returned. - \"syllabus_body\": Optional information to include with each Course.   When syllabus_body is given the user-generated html for the course   syllabus is returned. - \"public_description\": Optional information to include with each Course.   When public_description is given the user-generated text for the course   public description is returned. - \"total_scores\": Optional information to include with each Course.   When total_scores is given, any student enrollments will also   include the fields 'computed_current_score', 'computed_final_score',   'computed_current_grade', and 'computed_final_grade' (see Enrollment   documentation for more information on these fields). This argument   is ignored if the course is configured to hide final grades. - \"current_grading_period_scores\": Optional information to include with   each Course. When current_grading_period_scores is given and total_scores   is given, any student enrollments will also include the fields   'has_grading_periods',   'totals_for_all_grading_periods_option', 'current_grading_period_title',   'current_grading_period_id', current_period_computed_current_score',   'current_period_computed_final_score',   'current_period_computed_current_grade', and   'current_period_computed_final_grade', as well as (if the user has permission)   'current_period_unposted_current_score',   'current_period_unposted_final_score',   'current_period_unposted_current_grade', and   'current_period_unposted_final_grade' (see Enrollment documentation for   more information on these fields). In addition, when this argument is   passed, the course will have a 'has_grading_periods' attribute   on it. This argument is ignored if the course is configured to hide final   grades or if the total_scores argument is not included. - \"grading_periods\": Optional information to include with each Course. When   grading_periods is given, a list of the grading periods associated with   each course is returned. - \"term\": Optional information to include with each Course. When   term is given, the information for the enrollment term for each course   is returned. - \"account\": Optional information to include with each Course. When   account is given, the account json for each course is returned. - \"course_progress\": Optional information to include with each Course.   When course_progress is given, each course will include a   'course_progress' object with the fields: 'requirement_count', an integer   specifying the total number of requirements in the course,   'requirement_completed_count', an integer specifying the total number of   requirements in this course that have been completed, and   'next_requirement_url', a string url to the next requirement item, and   'completed_at', the date the course was completed (null if incomplete).   'next_requirement_url' will be null if all requirements have been   completed or the current module does not require sequential progress.   \"course_progress\" will return an error message if the course is not   module based or the user is not enrolled as a student in the course. - \"sections\": Section enrollment information to include with each Course.   Returns an array of hashes containing the section ID (id), section name   (name), start and end dates (start_at, end_at), as well as the enrollment   type (enrollment_role, e.g. 'StudentEnrollment'). - \"storage_quota_used_mb\": The amount of storage space used by the files in this course - \"total_students\": Optional information to include with each Course.   Returns an integer for the total amount of active and invited students. - \"passback_status\": Include the grade passback_status - \"favorites\": Optional information to include with each Course.   Indicates if the user has marked the course as a favorite course. - \"teachers\": Teacher information to include with each Course.   Returns an array of hashes containing the {api:Users:UserDisplay UserDisplay} information   for each teacher in the course. - \"observed_users\": Optional information to include with each Course.   Will include data for observed users if the current user has an   observer enrollment. - \"tabs\": Optional information to include with each Course.   Will include the list of tabs configured for each course.  See the   {api:TabsController#index List available tabs API} for more information. - \"course_image\": Optional information to include with each Course. Returns course   image url if a course image has been set. - \"banner_image\": Optional information to include with each Course. Returns course   banner image url if the course is a Canvas for Elementary subject and a banner   image has been set. - \"concluded\": Optional information to include with each Course. Indicates whether   the course has been concluded, taking course and term dates into account. - \"post_manually\": Optional information to include with each Course. Returns true if   the course post policy is set to \"Manually\". Returns false if the the course post   policy is set to \"Automatically\".
        :param list[str] state: If set, only return courses that are in the given state(s). By default, \"available\" is returned for students and observers, and anything except \"deleted\", for all other enrollment types
        :param str enrollment_state: When set, only return courses where the user has an enrollment with the given state. This will respect section/course/term date overrides.
        :param bool homeroom: If set, only return homeroom courses.
        :param str account_id: If set, only include courses associated with this account
        :return: list[Course]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'include', 'state', 'enrollment_state', 'homeroom', 'account_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_courses_for_user" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and ('user_id' not in params or
                                                       params['user_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `user_id` when calling `list_courses_for_user`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['user_id'] = params['user_id']  # noqa: E501

        query_params = []
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
            collection_formats['include'] = 'csv'  # noqa: E501
        if 'state' in params:
            query_params.append(('state', params['state']))  # noqa: E501
            collection_formats['state'] = 'csv'  # noqa: E501
        if 'enrollment_state' in params:
            query_params.append(('enrollment_state', params['enrollment_state']))  # noqa: E501
        if 'homeroom' in params:
            query_params.append(('homeroom', params['homeroom']))  # noqa: E501
        if 'account_id' in params:
            query_params.append(('account_id', params['account_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/{user_id}/courses', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Course]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_recently_logged_in_students(self, course_id, **kwargs):  # noqa: E501
        """List recently logged in students  # noqa: E501

        Returns the paginated list of users in this course, ordered by how recently they have logged in. The records include the 'last_login' field which contains a timestamp of the last time that user logged into canvas.  The querying user must have the 'View usage reports' permission.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_recently_logged_in_students(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: list[User]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_recently_logged_in_students_with_http_info(course_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_recently_logged_in_students_with_http_info(course_id, **kwargs)  # noqa: E501
            return data

    def list_recently_logged_in_students_with_http_info(self, course_id, **kwargs):  # noqa: E501
        """List recently logged in students  # noqa: E501

        Returns the paginated list of users in this course, ordered by how recently they have logged in. The records include the 'last_login' field which contains a timestamp of the last time that user logged into canvas.  The querying user must have the 'View usage reports' permission.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_recently_logged_in_students_with_http_info(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: list[User]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_recently_logged_in_students" % key
                )
[...]
