# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PlagiarismDetectionSubmissionsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_history_of_single_submission(self, assignment_id, submission_id, **kwargs):  # noqa: E501
        """Get the history of a single submission  # noqa: E501

        Get a list of all attempts made for a submission, based on submission id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_history_of_single_submission(assignment_id, submission_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str assignment_id: ID (required)
        :param str submission_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_history_of_single_submission_with_http_info(assignment_id, submission_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_history_of_single_submission_with_http_info(assignment_id, submission_id, **kwargs)  # noqa: E501
            return data

    def get_history_of_single_submission_with_http_info(self, assignment_id, submission_id, **kwargs):  # noqa: E501
        """Get the history of a single submission  # noqa: E501

        Get a list of all attempts made for a submission, based on submission id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_history_of_single_submission_with_http_info(assignment_id, submission_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str assignment_id: ID (required)
        :param str submission_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['assignment_id', 'submission_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_history_of_single_submission" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'assignment_id' is set
        if self.api_client.client_side_validation and ('assignment_id' not in params or
                                                       params['assignment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `assignment_id` when calling `get_history_of_single_submission`")  # noqa: E501
        # verify the required parameter 'submission_id' is set
        if self.api_client.client_side_validation and ('submission_id' not in params or
                                                       params['submission_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `submission_id` when calling `get_history_of_single_submission`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'assignment_id' in params:
            path_params['assignment_id'] = params['assignment_id']  # noqa: E501
        if 'submission_id' in params:
            path_params['submission_id'] = params['submission_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/lti/assignments/{assignment_id}/submissions/{submission_id}/history', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_single_submission(self, assignment_id, submission_id, **kwargs):  # noqa: E501
        """Get a single submission  # noqa: E501

        Get a single submission, based on submission id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_single_submission(assignment_id, submission_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str assignment_id: ID (required)
        :param str submission_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_single_submission_with_http_info(assignment_id, submission_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_single_submission_with_http_info(assignment_id, submission_id, **kwargs)  # noqa: E501
            return data

    def get_single_submission_with_http_info(self, assignment_id, submission_id, **kwargs):  # noqa: E501
        """Get a single submission  # noqa: E501

        Get a single submission, based on submission id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_single_submission_with_http_info(assignment_id, submission_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str assignment_id: ID (required)
        :param str submission_id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['assignment_id', 'submission_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_single_submission" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'assignment_id' is set
        if self.api_client.client_side_validation and ('assignment_id' not in params or
                                                       params['assignment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `assignment_id` when calling `get_single_submission`")  # noqa: E501
        # verify the required parameter 'submission_id' is set
        if self.api_client.client_side_validation and ('submission_id' not in params or
                                                       params['submission_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `submission_id` when calling `get_single_submission`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'assignment_id' in params:
            path_params['assignment_id'] = params['assignment_id']  # noqa: E501
        if 'submission_id' in params:
            path_params['submission_id'] = params['submission_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/lti/assignments/{assignment_id}/submissions/{submission_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
