# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class QuizSubmissionUserListApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def send_message_to_unsubmitted_or_submitted_users_for_quiz(self, course_id, id, **kwargs):  # noqa: E501
        """Send a message to unsubmitted or submitted users for the quiz  # noqa: E501

        {   \"body\": {     \"type\": \"string\",     \"description\": \"message body of the conversation to be created\",     \"example\": \"Please take the quiz.\"   },   \"recipients\": {     \"type\": \"string\",     \"description\": \"Who to send the message to. May be either 'submitted' or 'unsubmitted'\",     \"example\": \"submitted\"   },   \"subject\": {     \"type\": \"string\",     \"description\": \"Subject of the new Conversation created\",     \"example\": \"ATTN: Quiz 101 Students\"   } }  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.send_message_to_unsubmitted_or_submitted_users_for_quiz(course_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param str id: ID (required)
        :param Object conversations: - Body and recipients to send the message to.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.send_message_to_unsubmitted_or_submitted_users_for_quiz_with_http_info(course_id, id, **kwargs)  # noqa: E501
        else:
            (data) = self.send_message_to_unsubmitted_or_submitted_users_for_quiz_with_http_info(course_id, id, **kwargs)  # noqa: E501
            return data

    def send_message_to_unsubmitted_or_submitted_users_for_quiz_with_http_info(self, course_id, id, **kwargs):  # noqa: E501
        """Send a message to unsubmitted or submitted users for the quiz  # noqa: E501

        {   \"body\": {     \"type\": \"string\",     \"description\": \"message body of the conversation to be created\",     \"example\": \"Please take the quiz.\"   },   \"recipients\": {     \"type\": \"string\",     \"description\": \"Who to send the message to. May be either 'submitted' or 'unsubmitted'\",     \"example\": \"submitted\"   },   \"subject\": {     \"type\": \"string\",     \"description\": \"Subject of the new Conversation created\",     \"example\": \"ATTN: Quiz 101 Students\"   } }  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.send_message_to_unsubmitted_or_submitted_users_for_quiz_with_http_info(course_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param str id: ID (required)
        :param Object conversations: - Body and recipients to send the message to.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id', 'id', 'conversations']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method send_message_to_unsubmitted_or_submitted_users_for_quiz" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `send_message_to_unsubmitted_or_submitted_users_for_quiz`")  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `send_message_to_unsubmitted_or_submitted_users_for_quiz`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'conversations' in params:
            form_params.append(('conversations', params['conversations']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/quizzes/{id}/submission_users/message', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
