# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class QuizAssignmentOverridesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def retrieve_assignment_overridden_dates_for_classic_quizzes(self, course_id, **kwargs):  # noqa: E501
        """Retrieve assignment-overridden dates for Classic Quizzes  # noqa: E501

        Retrieve the actual due-at, unlock-at, and available-at dates for quizzes based on the assignment overrides active for the current API user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_assignment_overridden_dates_for_classic_quizzes(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param list[int] quiz_assignment_overrides_quiz_ids: An array of quiz IDs. If omitted, overrides for all quizzes available to the operating user will be returned.
        :return: QuizAssignmentOverrideSetContainer
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_assignment_overridden_dates_for_classic_quizzes_with_http_info(course_id, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_assignment_overridden_dates_for_classic_quizzes_with_http_info(course_id, **kwargs)  # noqa: E501
            return data

    def retrieve_assignment_overridden_dates_for_classic_quizzes_with_http_info(self, course_id, **kwargs):  # noqa: E501
        """Retrieve assignment-overridden dates for Classic Quizzes  # noqa: E501

        Retrieve the actual due-at, unlock-at, and available-at dates for quizzes based on the assignment overrides active for the current API user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_assignment_overridden_dates_for_classic_quizzes_with_http_info(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param list[int] quiz_assignment_overrides_quiz_ids: An array of quiz IDs. If omitted, overrides for all quizzes available to the operating user will be returned.
        :return: QuizAssignmentOverrideSetContainer
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id', 'quiz_assignment_overrides_quiz_ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_assignment_overridden_dates_for_classic_quizzes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `retrieve_assignment_overridden_dates_for_classic_quizzes`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501

        query_params = []
        if 'quiz_assignment_overrides_quiz_ids' in params:
            query_params.append(('quiz_assignment_overrides[quiz_ids]', params['quiz_assignment_overrides_quiz_ids']))  # noqa: E501
            collection_formats['quiz_assignment_overrides[quiz_ids]'] = 'csv'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/quizzes/assignment_overrides', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuizAssignmentOverrideSetContainer',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_assignment_overridden_dates_for_new_quizzes(self, course_id, **kwargs):  # noqa: E501
        """Retrieve assignment-overridden dates for New Quizzes  # noqa: E501

        Retrieve the actual due-at, unlock-at, and available-at dates for quizzes based on the assignment overrides active for the current API user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_assignment_overridden_dates_for_new_quizzes(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param list[int] quiz_assignment_overrides_quiz_ids: An array of quiz IDs. If omitted, overrides for all quizzes available to the operating user will be returned.
        :return: QuizAssignmentOverrideSetContainer
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_assignment_overridden_dates_for_new_quizzes_with_http_info(course_id, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_assignment_overridden_dates_for_new_quizzes_with_http_info(course_id, **kwargs)  # noqa: E501
            return data

    def retrieve_assignment_overridden_dates_for_new_quizzes_with_http_info(self, course_id, **kwargs):  # noqa: E501
        """Retrieve assignment-overridden dates for New Quizzes  # noqa: E501

        Retrieve the actual due-at, unlock-at, and available-at dates for quizzes based on the assignment overrides active for the current API user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_assignment_overridden_dates_for_new_quizzes_with_http_info(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :param list[int] quiz_assignment_overrides_quiz_ids: An array of quiz IDs. If omitted, overrides for all quizzes available to the operating user will be returned.
        :return: QuizAssignmentOverrideSetContainer
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id', 'quiz_assignment_overrides_quiz_ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_assignment_overridden_dates_for_new_quizzes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `retrieve_assignment_overridden_dates_for_new_quizzes`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501

        query_params = []
        if 'quiz_assignment_overrides_quiz_ids' in params:
            query_params.append(('quiz_assignment_overrides[quiz_ids]', params['quiz_assignment_overrides_quiz_ids']))  # noqa: E501
            collection_formats['quiz_assignment_overrides[quiz_ids]'] = 'csv'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/courses/{course_id}/new_quizzes/assignment_overrides', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuizAssignmentOverrideSetContainer',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
