# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SharedBrandConfigsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def share_brandconfig_theme(self, account_id, shared_brand_config_name, shared_brand_config_brand_config_md5, **kwargs):  # noqa: E501
        """Share a BrandConfig (Theme)  # noqa: E501

        Create a SharedBrandConfig, which will give the given brand_config a name and make it available to other users of this account.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.share_brandconfig_theme(account_id, shared_brand_config_name, shared_brand_config_brand_config_md5, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str shared_brand_config_name: Name to share this BrandConfig (theme) as. (required)
        :param str shared_brand_config_brand_config_md5: MD5 of brand_config to share (required)
        :return: SharedBrandConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.share_brandconfig_theme_with_http_info(account_id, shared_brand_config_name, shared_brand_config_brand_config_md5, **kwargs)  # noqa: E501
        else:
            (data) = self.share_brandconfig_theme_with_http_info(account_id, shared_brand_config_name, shared_brand_config_brand_config_md5, **kwargs)  # noqa: E501
            return data

    def share_brandconfig_theme_with_http_info(self, account_id, shared_brand_config_name, shared_brand_config_brand_config_md5, **kwargs):  # noqa: E501
        """Share a BrandConfig (Theme)  # noqa: E501

        Create a SharedBrandConfig, which will give the given brand_config a name and make it available to other users of this account.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.share_brandconfig_theme_with_http_info(account_id, shared_brand_config_name, shared_brand_config_brand_config_md5, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str shared_brand_config_name: Name to share this BrandConfig (theme) as. (required)
        :param str shared_brand_config_brand_config_md5: MD5 of brand_config to share (required)
        :return: SharedBrandConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'shared_brand_config_name', 'shared_brand_config_brand_config_md5']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method share_brandconfig_theme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if self.api_client.client_side_validation and ('account_id' not in params or
                                                       params['account_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `account_id` when calling `share_brandconfig_theme`")  # noqa: E501
        # verify the required parameter 'shared_brand_config_name' is set
        if self.api_client.client_side_validation and ('shared_brand_config_name' not in params or
                                                       params['shared_brand_config_name'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `shared_brand_config_name` when calling `share_brandconfig_theme`")  # noqa: E501
        # verify the required parameter 'shared_brand_config_brand_config_md5' is set
        if self.api_client.client_side_validation and ('shared_brand_config_brand_config_md5' not in params or
                                                       params['shared_brand_config_brand_config_md5'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `shared_brand_config_brand_config_md5` when calling `share_brandconfig_theme`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'shared_brand_config_name' in params:
            form_params.append(('shared_brand_config[name]', params['shared_brand_config_name']))  # noqa: E501
        if 'shared_brand_config_brand_config_md5' in params:
            form_params.append(('shared_brand_config[brand_config_md5]', params['shared_brand_config_brand_config_md5']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/accounts/{account_id}/shared_brand_configs', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SharedBrandConfig',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def un_share_brandconfig_theme(self, id, **kwargs):  # noqa: E501
        """Un-share a BrandConfig (Theme)  # noqa: E501

        Delete a SharedBrandConfig, which will unshare it so you nor anyone else in your account will see it as an option to pick from.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.un_share_brandconfig_theme(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :return: SharedBrandConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.un_share_brandconfig_theme_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.un_share_brandconfig_theme_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def un_share_brandconfig_theme_with_http_info(self, id, **kwargs):  # noqa: E501
        """Un-share a BrandConfig (Theme)  # noqa: E501

        Delete a SharedBrandConfig, which will unshare it so you nor anyone else in your account will see it as an option to pick from.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.un_share_brandconfig_theme_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :return: SharedBrandConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method un_share_brandconfig_theme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `un_share_brandconfig_theme`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/shared_brand_configs/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SharedBrandConfig',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_shared_theme(self, account_id, id, **kwargs):  # noqa: E501
        """Update a shared theme  # noqa: E501

        Update the specified shared_brand_config with a new name or to point to a new brand_config. Uses same parameters as create.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_shared_theme(account_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str id: ID (required)
        :return: SharedBrandConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_shared_theme_with_http_info(account_id, id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_shared_theme_with_http_info(account_id, id, **kwargs)  # noqa: E501
            return data

    def update_shared_theme_with_http_info(self, account_id, id, **kwargs):  # noqa: E501
        """Update a shared theme  # noqa: E501

        Update the specified shared_brand_config with a new name or to point to a new brand_config. Uses same parameters as create.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_shared_theme_with_http_info(account_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str id: ID (required)
        :return: SharedBrandConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_shared_theme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if self.api_client.client_side_validation and ('account_id' not in params or
                                                       params['account_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `account_id` when calling `update_shared_theme`")  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `update_shared_theme`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/accounts/{account_id}/shared_brand_configs/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SharedBrandConfig',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
