# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class UsersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def activity_stream_summary(self, **kwargs):  # noqa: E501
        """Activity stream summary  # noqa: E501

        Returns a summary of the current user's global activity stream.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.activity_stream_summary(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool only_active_courses: If true, will only return objects for courses the user is actively participating in
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.activity_stream_summary_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.activity_stream_summary_with_http_info(**kwargs)  # noqa: E501
            return data

    def activity_stream_summary_with_http_info(self, **kwargs):  # noqa: E501
        """Activity stream summary  # noqa: E501

        Returns a summary of the current user's global activity stream.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.activity_stream_summary_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool only_active_courses: If true, will only return objects for courses the user is actively participating in
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['only_active_courses']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method activity_stream_summary" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'only_active_courses' in params:
            query_params.append(('only_active_courses', params['only_active_courses']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/self/activity_stream/summary', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def clear_course_nicknames(self, **kwargs):  # noqa: E501
        """Clear course nicknames  # noqa: E501

        Remove all stored course nicknames.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.clear_course_nicknames(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.clear_course_nicknames_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.clear_course_nicknames_with_http_info(**kwargs)  # noqa: E501
            return data

    def clear_course_nicknames_with_http_info(self, **kwargs):  # noqa: E501
        """Clear course nicknames  # noqa: E501

        Remove all stored course nicknames.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.clear_course_nicknames_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method clear_course_nicknames" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/self/course_nicknames', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_user(self, account_id, pseudonym_unique_id, **kwargs):  # noqa: E501
        """Create a user  # noqa: E501

        Create and return a new user and pseudonym for an account.  [DEPRECATED (for self-registration only)] If you don't have the \"Modify login details for users\" permission, but self-registration is enabled on the account, you can still use this endpoint to register new users. Certain fields will be required, and others will be ignored (see below).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_user(account_id, pseudonym_unique_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str pseudonym_unique_id: User's login ID. If this is a self-registration, it must be a valid email address. (required)
        :param str user_name: The full name of the user. This name will be used by teacher for grading. Required if this is a self-registration.
        :param str user_short_name: User's name as it will be displayed in discussions, messages, and comments.
        :param str user_sortable_name: User's name as used to sort alphabetically in lists.
        :param str user_time_zone: The time zone for the user. Allowed time zones are {http://www.iana.org/time-zones IANA time zones} or friendlier {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
        :param str user_locale: The user's preferred language, from the list of languages Canvas supports. This is in RFC-5646 format.
        :param bool user_terms_of_use: Whether the user accepts the terms of use. Required if this is a self-registration and this canvas instance requires users to accept the terms (on by default).  If this is true, it will mark the user as having accepted the terms of use.
        :param bool user_skip_registration: Automatically mark the user as registered.  If this is true, it is recommended to set <tt>\"pseudonym[send_confirmation]\"</tt> to true as well. Otherwise, the user will not receive any messages about their account creation.  The users communication channel confirmation can be skipped by setting <tt>\"communication_channel[skip_confirmation]\"</tt> to true as well.
        :param str pseudonym_password: User's password. Cannot be set during self-registration.
        :param str pseudonym_sis_user_id: SIS ID for the user's account. To set this parameter, the caller must be able to manage SIS permissions.
        :param str pseudonym_integration_id: Integration ID for the login. To set this parameter, the caller must be able to manage SIS permissions. The Integration ID is a secondary identifier useful for more complex SIS integrations.
        :param bool pseudonym_send_confirmation: Send user notification of account creation if true. Automatically set to true during self-registration.
        :param bool pseudonym_force_self_registration: Send user a self-registration style email if true. Setting it means the users will get a notification asking them to \"complete the registration process\" by clicking it, setting a password, and letting them in.  Will only be executed on if the user does not need admin approval. Defaults to false unless explicitly provided.
        :param str pseudonym_authentication_provider_id: The authentication provider this login is associated with. Logins associated with a specific provider can only be used with that provider. Legacy providers (LDAP, CAS, SAML) will search for logins associated with them, or unassociated logins. New providers will only search for logins explicitly associated with them. This can be the integer ID of the provider, or the type of the provider (in which case, it will find the first matching provider).
        :param str communication_channel_type: The communication channel type, e.g. 'email' or 'sms'.
        :param str communication_channel_address: The communication channel address, e.g. the user's email address.
        :param bool communication_channel_confirmation_url: Only valid for account admins. If true, returns the new user account confirmation URL in the response.
        :param bool communication_channel_skip_confirmation: Only valid for site admins and account admins making requests; If true, the channel is automatically validated and no confirmation email or SMS is sent. Otherwise, the user must respond to a confirmation message to confirm the channel.  If this is true, it is recommended to set <tt>\"pseudonym[send_confirmation]\"</tt> to true as well. Otherwise, the user will not receive any messages about their account creation.
        :param bool force_validations: If true, validations are performed on the newly created user (and their associated pseudonym) even if the request is made by a privileged user like an admin. When set to false, or not included in the request parameters, any newly created users are subject to validations unless the request is made by a user with a 'manage_user_logins' right. In which case, certain validations such as 'require_acceptance_of_terms' and 'require_presence_of_name' are not enforced. Use this parameter to return helpful json errors while building users with an admin request.
        :param bool enable_sis_reactivation: When true, will first try to re-activate a deleted user with matching sis_user_id if possible. This is commonly done with user[skip_registration] and communication_channel[skip_confirmation] so that the default communication_channel is also restored.
        :param Object destination: If you're setting the password for the newly created user, you can provide this param with a valid URL pointing into this Canvas installation, and the response will include a destination field that's a URL that you can redirect a browser to and have the newly created user automatically logged in. The URL is only valid for a short time, and must match the domain this request is directed to, and be for a well-formed path that Canvas can recognize.
        :param str initial_enrollment_type: `observer` if doing a self-registration with a pairing code. This allows setting the password during user creation.
        :param str pairing_code_code: If provided and valid, will link the new user as an observer to the student's whose pairing code is given.
        :return: User
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_user_with_http_info(account_id, pseudonym_unique_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_user_with_http_info(account_id, pseudonym_unique_id, **kwargs)  # noqa: E501
            return data

    def create_user_with_http_info(self, account_id, pseudonym_unique_id, **kwargs):  # noqa: E501
        """Create a user  # noqa: E501

        Create and return a new user and pseudonym for an account.  [DEPRECATED (for self-registration only)] If you don't have the \"Modify login details for users\" permission, but self-registration is enabled on the account, you can still use this endpoint to register new users. Certain fields will be required, and others will be ignored (see below).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_user_with_http_info(account_id, pseudonym_unique_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str pseudonym_unique_id: User's login ID. If this is a self-registration, it must be a valid email address. (required)
        :param str user_name: The full name of the user. This name will be used by teacher for grading. Required if this is a self-registration.
        :param str user_short_name: User's name as it will be displayed in discussions, messages, and comments.
        :param str user_sortable_name: User's name as used to sort alphabetically in lists.
        :param str user_time_zone: The time zone for the user. Allowed time zones are {http://www.iana.org/time-zones IANA time zones} or friendlier {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
        :param str user_locale: The user's preferred language, from the list of languages Canvas supports. This is in RFC-5646 format.
        :param bool user_terms_of_use: Whether the user accepts the terms of use. Required if this is a self-registration and this canvas instance requires users to accept the terms (on by default).  If this is true, it will mark the user as having accepted the terms of use.
        :param bool user_skip_registration: Automatically mark the user as registered.  If this is true, it is recommended to set <tt>\"pseudonym[send_confirmation]\"</tt> to true as well. Otherwise, the user will not receive any messages about their account creation.  The users communication channel confirmation can be skipped by setting <tt>\"communication_channel[skip_confirmation]\"</tt> to true as well.
        :param str pseudonym_password: User's password. Cannot be set during self-registration.
        :param str pseudonym_sis_user_id: SIS ID for the user's account. To set this parameter, the caller must be able to manage SIS permissions.
        :param str pseudonym_integration_id: Integration ID for the login. To set this parameter, the caller must be able to manage SIS permissions. The Integration ID is a secondary identifier useful for more complex SIS integrations.
        :param bool pseudonym_send_confirmation: Send user notification of account creation if true. Automatically set to true during self-registration.
        :param bool pseudonym_force_self_registration: Send user a self-registration style email if true. Setting it means the users will get a notification asking them to \"complete the registration process\" by clicking it, setting a password, and letting them in.  Will only be executed on if the user does not need admin approval. Defaults to false unless explicitly provided.
        :param str pseudonym_authentication_provider_id: The authentication provider this login is associated with. Logins associated with a specific provider can only be used with that provider. Legacy providers (LDAP, CAS, SAML) will search for logins associated with them, or unassociated logins. New providers will only search for logins explicitly associated with them. This can be the integer ID of the provider, or the type of the provider (in which case, it will find the first matching provider).
        :param str communication_channel_type: The communication channel type, e.g. 'email' or 'sms'.
        :param str communication_channel_address: The communication channel address, e.g. the user's email address.
        :param bool communication_channel_confirmation_url: Only valid for account admins. If true, returns the new user account confirmation URL in the response.
        :param bool communication_channel_skip_confirmation: Only valid for site admins and account admins making requests; If true, the channel is automatically validated and no confirmation email or SMS is sent. Otherwise, the user must respond to a confirmation message to confirm the channel.  If this is true, it is recommended to set <tt>\"pseudonym[send_confirmation]\"</tt> to true as well. Otherwise, the user will not receive any messages about their account creation.
        :param bool force_validations: If true, validations are performed on the newly created user (and their associated pseudonym) even if the request is made by a privileged user like an admin. When set to false, or not included in the request parameters, any newly created users are subject to validations unless the request is made by a user with a 'manage_user_logins' right. In which case, certain validations such as 'require_acceptance_of_terms' and 'require_presence_of_name' are not enforced. Use this parameter to return helpful json errors while building users with an admin request.
        :param bool enable_sis_reactivation: When true, will first try to re-activate a deleted user with matching sis_user_id if possible. This is commonly done with user[skip_registration] and communication_channel[skip_confirmation] so that the default communication_channel is also restored.
        :param Object destination: If you're setting the password for the newly created user, you can provide this param with a valid URL pointing into this Canvas installation, and the response will include a destination field that's a URL that you can redirect a browser to and have the newly created user automatically logged in. The URL is only valid for a short time, and must match the domain this request is directed to, and be for a well-formed path that Canvas can recognize.
        :param str initial_enrollment_type: `observer` if doing a self-registration with a pairing code. This allows setting the password during user creation.
        :param str pairing_code_code: If provided and valid, will link the new user as an observer to the student's whose pairing code is given.
        :return: User
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'pseudonym_unique_id', 'user_name', 'user_short_name', 'user_sortable_name', 'user_time_zone', 'user_locale', 'user_terms_of_use', 'user_skip_registration', 'pseudonym_password', 'pseudonym_sis_user_id', 'pseudonym_integration_id', 'pseudonym_send_confirmation', 'pseudonym_force_self_registration', 'pseudonym_authentication_provider_id', 'communication_channel_type', 'communication_channel_address', 'communication_channel_confirmation_url', 'communication_channel_skip_confirmation', 'force_validations', 'enable_sis_reactivation', 'destination', 'initial_enrollment_type', 'pairing_code_code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_user" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if self.api_client.client_side_validation and ('account_id' not in params or
                                                       params['account_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `account_id` when calling `create_user`")  # noqa: E501
        # verify the required parameter 'pseudonym_unique_id' is set
        if self.api_client.client_side_validation and ('pseudonym_unique_id' not in params or
                                                       params['pseudonym_unique_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `pseudonym_unique_id` when calling `create_user`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'user_name' in params:
            form_params.append(('user[name]', params['user_name']))  # noqa: E501
        if 'user_short_name' in params:
            form_params.append(('user[short_name]', params['user_short_name']))  # noqa: E501
        if 'user_sortable_name' in params:
            form_params.append(('user[sortable_name]', params['user_sortable_name']))  # noqa: E501
        if 'user_time_zone' in params:
            form_params.append(('user[time_zone]', params['user_time_zone']))  # noqa: E501
        if 'user_locale' in params:
            form_params.append(('user[locale]', params['user_locale']))  # noqa: E501
        if 'user_terms_of_use' in params:
            form_params.append(('user[terms_of_use]', params['user_terms_of_use']))  # noqa: E501
        if 'user_skip_registration' in params:
            form_params.append(('user[skip_registration]', params['user_skip_registration']))  # noqa: E501
        if 'pseudonym_unique_id' in params:
            form_params.append(('pseudonym[unique_id]', params['pseudonym_unique_id']))  # noqa: E501
        if 'pseudonym_password' in params:
            form_params.append(('pseudonym[password]', params['pseudonym_password']))  # noqa: E501
        if 'pseudonym_sis_user_id' in params:
            form_params.append(('pseudonym[sis_user_id]', params['pseudonym_sis_user_id']))  # noqa: E501
        if 'pseudonym_integration_id' in params:
            form_params.append(('pseudonym[integration_id]', params['pseudonym_integration_id']))  # noqa: E501
        if 'pseudonym_send_confirmation' in params:
            form_params.append(('pseudonym[send_confirmation]', params['pseudonym_send_confirmation']))  # noqa: E501
        if 'pseudonym_force_self_registration' in params:
            form_params.append(('pseudonym[force_self_registration]', params['pseudonym_force_self_registration']))  # noqa: E501
        if 'pseudonym_authentication_provider_id' in params:
            form_params.append(('pseudonym[authentication_provider_id]', params['pseudonym_authentication_provider_id']))  # noqa: E501
        if 'communication_channel_type' in params:
            form_params.append(('communication_channel[type]', params['communication_channel_type']))  # noqa: E501
        if 'communication_channel_address' in params:
            form_params.append(('communication_channel[address]', params['communication_channel_address']))  # noqa: E501
        if 'communication_channel_confirmation_url' in params:
            form_params.append(('communication_channel[confirmation_url]', params['communication_channel_confirmation_url']))  # noqa: E501
        if 'communication_channel_skip_confirmation' in params:
            form_params.append(('communication_channel[skip_confirmation]', params['communication_channel_skip_confirmation']))  # noqa: E501
        if 'force_validations' in params:
            form_params.append(('force_validations', params['force_validations']))  # noqa: E501
        if 'enable_sis_reactivation' in params:
            form_params.append(('enable_sis_reactivation', params['enable_sis_reactivation']))  # noqa: E501
        if 'destination' in params:
            form_params.append(('destination', params['destination']))  # noqa: E501
        if 'initial_enrollment_type' in params:
            form_params.append(('initial_enrollment_type', params['initial_enrollment_type']))  # noqa: E501
        if 'pairing_code_code' in params:
            form_params.append(('pairing_code[code]', params['pairing_code_code']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/accounts/{account_id}/users', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='User',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_custom_data(self, user_id, ns, **kwargs):  # noqa: E501
        """Delete custom data  # noqa: E501

        Delete custom user data.  Arbitrary JSON data can be stored for a User.  This API call deletes that data for a given scope.  Without a scope, all custom_data is deleted. See {api:UsersController#set_custom_data Store Custom Data} for details and examples of storage and retrieval.  As an example, we'll store some data, then delete a subset of it.  Example {api:UsersController#set_custom_data PUT} with valid JSON data:   curl 'https://<canvas>/api/v1/users/<user_id>/custom_data' \\     -X PUT \\     -F 'ns=com.my-organization.canvas-app' \\     -F 'data[fruit][apple]=so tasty' \\     -F 'data[fruit][kiwi]=a bit sour' \\     -F 'data[veggies][root][onion]=tear-jerking' \\     -H 'Authorization: Bearer <token>'  Response:   !!!javascript   {     \"data\": {       \"fruit\": {         \"apple\": \"so tasty\",         \"kiwi\": \"a bit sour\"       },       \"veggies\": {         \"root\": {           \"onion\": \"tear-jerking\"         }       }     }   }  Example DELETE:   curl 'https://<canvas>/api/v1/users/<user_id>/custom_data/fruit/kiwi' \\     -X DELETE \\     -F 'ns=com.my-organization.canvas-app' \\     -H 'Authorization: Bearer <token>'  Response:   !!!javascript   {     \"data\": \"a bit sour\"   }  Example {api:UsersController#get_custom_data GET} following the above DELETE:   curl 'https://<canvas>/api/v1/users/<user_id>/custom_data' \\     -X GET \\     -F 'ns=com.my-organization.canvas-app' \\     -H 'Authorization: Bearer <token>'  Response:   !!!javascript   {     \"data\": {       \"fruit\": {         \"apple\": \"so tasty\"       },       \"veggies\": {         \"root\": {           \"onion\": \"tear-jerking\"         }       }     }   }  Note that hashes left empty after a DELETE will get removed from the custom_data store. For example, following the previous commands, if we delete /custom_data/veggies/root/onion, then the entire /custom_data/veggies scope will be removed.  Example DELETE that empties a parent scope:   curl 'https://<canvas>/api/v1/users/<user_id>/custom_data/veggies/root/onion' \\     -X DELETE \\     -F 'ns=com.my-organization.canvas-app' \\     -H 'Authorization: Bearer <token>'  Response:   !!!javascript   {     \"data\": \"tear-jerking\"   }  Example {api:UsersController#get_custom_data GET} following the above DELETE:   curl 'https://<canvas>/api/v1/users/<user_id>/custom_data' \\     -X GET \\     -F 'ns=com.my-organization.canvas-app' \\     -H 'Authorization: Bearer <token>'  Response:   !!!javascript   {     \"data\": {       \"fruit\": {         \"apple\": \"so tasty\"       }     }   }  On success, this endpoint returns an object containing the data that was deleted.  Responds with status code 400 if the namespace parameter, +ns+, is missing or invalid, or if the specified scope does not contain any data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_custom_data(user_id, ns, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID (required)
        :param str ns: The namespace from which to delete the data.  This should be something other Canvas API apps aren't likely to use, such as a reverse DNS for your organization. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_custom_data_with_http_info(user_id, ns, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_custom_data_with_http_info(user_id, ns, **kwargs)  # noqa: E501
            return data

    def delete_custom_data_with_http_info(self, user_id, ns, **kwargs):  # noqa: E501
        """Delete custom data  # noqa: E501

        Delete custom user data.  Arbitrary JSON data can be stored for a User.  This API call deletes that data for a given scope.  Without a scope, all custom_data is deleted. See {api:UsersController#set_custom_data Store Custom Data} for details and examples of storage and retrieval.  As an example, we'll store some data, then delete a subset of it.  Example {api:UsersController#set_custom_data PUT} with valid JSON data:   curl 'https://<canvas>/api/v1/users/<user_id>/custom_data' \\     -X PUT \\     -F 'ns=com.my-organization.canvas-app' \\     -F 'data[fruit][apple]=so tasty' \\     -F 'data[fruit][kiwi]=a bit sour' \\     -F 'data[veggies][root][onion]=tear-jerking' \\     -H 'Authorization: Bearer <token>'  Response:   !!!javascript   {     \"data\": {       \"fruit\": {         \"apple\": \"so tasty\",         \"kiwi\": \"a bit sour\"       },       \"veggies\": {         \"root\": {           \"onion\": \"tear-jerking\"         }       }     }   }  Example DELETE:   curl 'https://<canvas>/api/v1/users/<user_id>/custom_data/fruit/kiwi' \\     -X DELETE \\     -F 'ns=com.my-organization.canvas-app' \\     -H 'Authorization: Bearer <token>'  Response:   !!!javascript   {     \"data\": \"a bit sour\"   }  Example {api:UsersController#get_custom_data GET} following the above DELETE:   curl 'https://<canvas>/api/v1/users/<user_id>/custom_data' \\     -X GET \\     -F 'ns=com.my-organization.canvas-app' \\     -H 'Authorization: Bearer <token>'  Response:   !!!javascript   {     \"data\": {       \"fruit\": {         \"apple\": \"so tasty\"       },       \"veggies\": {         \"root\": {           \"onion\": \"tear-jerking\"         }       }     }   }  Note that hashes left empty after a DELETE will get removed from the custom_data store. For example, following the previous commands, if we delete /custom_data/veggies/root/onion, then the entire /custom_data/veggies scope will be removed.  Example DELETE that empties a parent scope:   curl 'https://<canvas>/api/v1/users/<user_id>/custom_data/veggies/root/onion' \\     -X DELETE \\     -F 'ns=com.my-organization.canvas-app' \\     -H 'Authorization: Bearer <token>'  Response:   !!!javascript   {     \"data\": \"tear-jerking\"   }  Example {api:UsersController#get_custom_data GET} following the above DELETE:   curl 'https://<canvas>/api/v1/users/<user_id>/custom_data' \\     -X GET \\     -F 'ns=com.my-organization.canvas-app' \\     -H 'Authorization: Bearer <token>'  Response:   !!!javascript   {     \"data\": {       \"fruit\": {         \"apple\": \"so tasty\"       }     }   }  On success, this endpoint returns an object containing the data that was deleted.  Responds with status code 400 if the namespace parameter, +ns+, is missing or invalid, or if the specified scope does not contain any data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_custom_data_with_http_info(user_id, ns, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID (required)
        :param str ns: The namespace from which to delete the data.  This should be something other Canvas API apps aren't likely to use, such as a reverse DNS for your organization. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'ns']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_custom_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and ('user_id' not in params or
                                                       params['user_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `user_id` when calling `delete_custom_data`")  # noqa: E501
        # verify the required parameter 'ns' is set
        if self.api_client.client_side_validation and ('ns' not in params or
                                                       params['ns'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `ns` when calling `delete_custom_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['user_id'] = params['user_id']  # noqa: E501

        query_params = []
        if 'ns' in params:
            query_params.append(('ns', params['ns']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/{user_id}/custom_data', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def deprecated_self_register_user(self, account_id, user_name, user_terms_of_use, pseudonym_unique_id, **kwargs):  # noqa: E501
        """[DEPRECATED] Self register a user  # noqa: E501

        Self register and return a new user and pseudonym for an account.  If self-registration is enabled on the account, you can use this endpoint to self register new users.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deprecated_self_register_user(account_id, user_name, user_terms_of_use, pseudonym_unique_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str user_name: The full name of the user. This name will be used by teacher for grading. (required)
        :param bool user_terms_of_use: Whether the user accepts the terms of use. (required)
        :param str pseudonym_unique_id: User's login ID. Must be a valid email address. (required)
        :param str user_short_name: User's name as it will be displayed in discussions, messages, and comments.
        :param str user_sortable_name: User's name as used to sort alphabetically in lists.
        :param str user_time_zone: The time zone for the user. Allowed time zones are {http://www.iana.org/time-zones IANA time zones} or friendlier {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
        :param str user_locale: The user's preferred language, from the list of languages Canvas supports. This is in RFC-5646 format.
        :param str communication_channel_type: The communication channel type, e.g. 'email' or 'sms'.
        :param str communication_channel_address: The communication channel address, e.g. the user's email address.
        :return: User
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deprecated_self_register_user_with_http_info(account_id, user_name, user_terms_of_use, pseudonym_unique_id, **kwargs)  # noqa: E501
        else:
            (data) = self.deprecated_self_register_user_with_http_info(account_id, user_name, user_terms_of_use, pseudonym_unique_id, **kwargs)  # noqa: E501
            return data

    def deprecated_self_register_user_with_http_info(self, account_id, user_name, user_terms_of_use, pseudonym_unique_id, **kwargs):  # noqa: E501
        """[DEPRECATED] Self register a user  # noqa: E501

        Self register and return a new user and pseudonym for an account.  If self-registration is enabled on the account, you can use this endpoint to self register new users.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deprecated_self_register_user_with_http_info(account_id, user_name, user_terms_of_use, pseudonym_unique_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str account_id: ID (required)
        :param str user_name: The full name of the user. This name will be used by teacher for grading. (required)
        :param bool user_terms_of_use: Whether the user accepts the terms of use. (required)
        :param str pseudonym_unique_id: User's login ID. Must be a valid email address. (required)
        :param str user_short_name: User's name as it will be displayed in discussions, messages, and comments.
        :param str user_sortable_name: User's name as used to sort alphabetically in lists.
        :param str user_time_zone: The time zone for the user. Allowed time zones are {http://www.iana.org/time-zones IANA time zones} or friendlier {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
        :param str user_locale: The user's preferred language, from the list of languages Canvas supports. This is in RFC-5646 format.
        :param str communication_channel_type: The communication channel type, e.g. 'email' or 'sms'.
        :param str communication_channel_address: The communication channel address, e.g. the user's email address.
        :return: User
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'user_name', 'user_terms_of_use', 'pseudonym_unique_id', 'user_short_name', 'user_sortable_name', 'user_time_zone', 'user_locale', 'communication_channel_type', 'communication_channel_address']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deprecated_self_register_user" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if self.api_client.client_side_validation and ('account_id' not in params or
                                                       params['account_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `account_id` when calling `deprecated_self_register_user`")  # noqa: E501
        # verify the required parameter 'user_name' is set
        if self.api_client.client_side_validation and ('user_name' not in params or
                                                       params['user_name'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `user_name` when calling `deprecated_self_register_user`")  # noqa: E501
        # verify the required parameter 'user_terms_of_use' is set
        if self.api_client.client_side_validation and ('user_terms_of_use' not in params or
                                                       params['user_terms_of_use'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `user_terms_of_use` when calling `deprecated_self_register_user`")  # noqa: E501
        # verify the required parameter 'pseudonym_unique_id' is set
        if self.api_client.client_side_validation and ('pseudonym_unique_id' not in params or
                                                       params['pseudonym_unique_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `pseudonym_unique_id` when calling `deprecated_self_register_user`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'user_name' in params:
            form_params.append(('user[name]', params['user_name']))  # noqa: E501
        if 'user_short_name' in params:
            form_params.append(('user[short_name]', params['user_short_name']))  # noqa: E501
        if 'user_sortable_name' in params:
            form_params.append(('user[sortable_name]', params['user_sortable_name']))  # noqa: E501
        if 'user_time_zone' in params:
            form_params.append(('user[time_zone]', params['user_time_zone']))  # noqa: E501
        if 'user_locale' in params:
            form_params.append(('user[locale]', params['user_locale']))  # noqa: E501
        if 'user_terms_of_use' in params:
            form_params.append(('user[terms_of_use]', params['user_terms_of_use']))  # noqa: E501
        if 'pseudonym_unique_id' in params:
            form_params.append(('pseudonym[unique_id]', params['pseudonym_unique_id']))  # noqa: E501
        if 'communication_channel_type' in params:
            form_params.append(('communication_channel[type]', params['communication_channel_type']))  # noqa: E501
        if 'communication_channel_address' in params:
            form_params.append(('communication_channel[address]', params['communication_channel_address']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/accounts/{account_id}/self_registration', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='User',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def edit_user(self, id, **kwargs):  # noqa: E501
        """Edit a user  # noqa: E501

        Modify an existing user. To modify a user's login, see the documentation for logins.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.edit_user(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param str user_name: The full name of the user. This name will be used by teacher for grading.
        :param str user_short_name: User's name as it will be displayed in discussions, messages, and comments.
        :param str user_sortable_name: User's name as used to sort alphabetically in lists.
        :param str user_time_zone: The time zone for the user. Allowed time zones are {http://www.iana.org/time-zones IANA time zones} or friendlier {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
        :param str user_email: The default email address of the user.
        :param str user_locale: The user's preferred language, from the list of languages Canvas supports. This is in RFC-5646 format.
        :param str user_avatar_token: A unique representation of the avatar record to assign as the user's current avatar. This token can be obtained from the user avatars endpoint. This supersedes the user [avatar] [url] argument, and if both are included the url will be ignored. Note: this is an internal representation and is subject to change without notice. It should be consumed with this api endpoint and used in the user update endpoint, and should not be constructed by the client.
        :param str user_avatar_url: To set the user's avatar to point to an external url, do not include a token and instead pass the url here. Warning: For maximum compatibility, please use 128 px square images.
        :param str user_avatar_state: To set the state of user's avatar. Only valid for account administrator.
        :param str user_title: Sets a title on the user profile. (See {api:ProfileController#settings Get user profile}.) Profiles must be enabled on the root account.
        :param str user_bio: Sets a bio on the user profile. (See {api:ProfileController#settings Get user profile}.) Profiles must be enabled on the root account.
        :param str user_pronunciation: Sets name pronunciation on the user profile. (See {api:ProfileController#settings Get user profile}.) Profiles and name pronunciation must be enabled on the root account.
        :param str user_pronouns: Sets pronouns on the user profile. Passing an empty string will empty the user's pronouns Only Available Pronouns set on the root account are allowed Adding and changing pronouns must be enabled on the root account.
        :param str user_event: Suspends or unsuspends all logins for this user that the calling user has permission to
        :param bool override_sis_stickiness: Default is true. If false, any fields containing “sticky” changes will not be updated. See SIS CSV Format documentation for information on which fields can have SIS stickiness
        :return: User
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.edit_user_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.edit_user_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def edit_user_with_http_info(self, id, **kwargs):  # noqa: E501
        """Edit a user  # noqa: E501

        Modify an existing user. To modify a user's login, see the documentation for logins.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.edit_user_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param str user_name: The full name of the user. This name will be used by teacher for grading.
        :param str user_short_name: User's name as it will be displayed in discussions, messages, and comments.
        :param str user_sortable_name: User's name as used to sort alphabetically in lists.
        :param str user_time_zone: The time zone for the user. Allowed time zones are {http://www.iana.org/time-zones IANA time zones} or friendlier {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
        :param str user_email: The default email address of the user.
        :param str user_locale: The user's preferred language, from the list of languages Canvas supports. This is in RFC-5646 format.
        :param str user_avatar_token: A unique representation of the avatar record to assign as the user's current avatar. This token can be obtained from the user avatars endpoint. This supersedes the user [avatar] [url] argument, and if both are included the url will be ignored. Note: this is an internal representation and is subject to change without notice. It should be consumed with this api endpoint and used in the user update endpoint, and should not be constructed by the client.
        :param str user_avatar_url: To set the user's avatar to point to an external url, do not include a token and instead pass the url here. Warning: For maximum compatibility, please use 128 px square images.
        :param str user_avatar_state: To set the state of user's avatar. Only valid for account administrator.
        :param str user_title: Sets a title on the user profile. (See {api:ProfileController#settings Get user profile}.) Profiles must be enabled on the root account.
        :param str user_bio: Sets a bio on the user profile. (See {api:ProfileController#settings Get user profile}.) Profiles must be enabled on the root account.
        :param str user_pronunciation: Sets name pronunciation on the user profile. (See {api:ProfileController#settings Get user profile}.) Profiles and name pronunciation must be enabled on the root account.
        :param str user_pronouns: Sets pronouns on the user profile. Passing an empty string will empty the user's pronouns Only Available Pronouns set on the root account are allowed Adding and changing pronouns must be enabled on the root account.
        :param str user_event: Suspends or unsuspends all logins for this user that the calling user has permission to
        :param bool override_sis_stickiness: Default is true. If false, any fields containing “sticky” changes will not be updated. See SIS CSV Format documentation for information on which fields can have SIS stickiness
        :return: User
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'user_name', 'user_short_name', 'user_sortable_name', 'user_time_zone', 'user_email', 'user_locale', 'user_avatar_token', 'user_avatar_url', 'user_avatar_state', 'user_title', 'user_bio', 'user_pronunciation', 'user_pronouns', 'user_event', 'override_sis_stickiness']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method edit_user" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `edit_user`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'user_name' in params:
            form_params.append(('user[name]', params['user_name']))  # noqa: E501
        if 'user_short_name' in params:
            form_params.append(('user[short_name]', params['user_short_name']))  # noqa: E501
        if 'user_sortable_name' in params:
            form_params.append(('user[sortable_name]', params['user_sortable_name']))  # noqa: E501
        if 'user_time_zone' in params:
            form_params.append(('user[time_zone]', params['user_time_zone']))  # noqa: E501
        if 'user_email' in params:
            form_params.append(('user[email]', params['user_email']))  # noqa: E501
        if 'user_locale' in params:
            form_params.append(('user[locale]', params['user_locale']))  # noqa: E501
        if 'user_avatar_token' in params:
            form_params.append(('user[avatar][token]', params['user_avatar_token']))  # noqa: E501
        if 'user_avatar_url' in params:
            form_params.append(('user[avatar][url]', params['user_avatar_url']))  # noqa: E501
        if 'user_avatar_state' in params:
            form_params.append(('user[avatar][state]', params['user_avatar_state']))  # noqa: E501
        if 'user_title' in params:
            form_params.append(('user[title]', params['user_title']))  # noqa: E501
        if 'user_bio' in params:
            form_params.append(('user[bio]', params['user_bio']))  # noqa: E501
        if 'user_pronunciation' in params:
            form_params.append(('user[pronunciation]', params['user_pronunciation']))  # noqa: E501
        if 'user_pronouns' in params:
            form_params.append(('user[pronouns]', params['user_pronouns']))  # noqa: E501
        if 'user_event' in params:
            form_params.append(('user[event]', params['user_event']))  # noqa: E501
        if 'override_sis_stickiness' in params:
            form_params.append(('override_sis_stickiness', params['override_sis_stickiness']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='User',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_course_nickname(self, course_id, **kwargs):  # noqa: E501
        """Get course nickname  # noqa: E501

        Returns the nickname for a specific course.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_course_nickname(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: CourseNickname
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_course_nickname_with_http_info(course_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_course_nickname_with_http_info(course_id, **kwargs)  # noqa: E501
            return data

    def get_course_nickname_with_http_info(self, course_id, **kwargs):  # noqa: E501
        """Get course nickname  # noqa: E501

        Returns the nickname for a specific course.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_course_nickname_with_http_info(course_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str course_id: ID (required)
        :return: CourseNickname
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['course_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_course_nickname" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'course_id' is set
        if self.api_client.client_side_validation and ('course_id' not in params or
                                                       params['course_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `course_id` when calling `get_course_nickname`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'course_id' in params:
            path_params['course_id'] = params['course_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/self/course_nicknames/{course_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CourseNickname',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_custom_color(self, id, asset_string, **kwargs):  # noqa: E501
        """Get custom color  # noqa: E501

        Returns the custom colors that have been saved for a user for a given context.  The asset_string parameter should be in the format 'context_id', for example 'course_42'.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_custom_color(id, asset_string, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param str asset_string: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_custom_color_with_http_info(id, asset_string, **kwargs)  # noqa: E501
        else:
            (data) = self.get_custom_color_with_http_info(id, asset_string, **kwargs)  # noqa: E501
            return data

    def get_custom_color_with_http_info(self, id, asset_string, **kwargs):  # noqa: E501
        """Get custom color  # noqa: E501

        Returns the custom colors that have been saved for a user for a given context.  The asset_string parameter should be in the format 'context_id', for example 'course_42'.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_custom_color_with_http_info(id, asset_string, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param str asset_string: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'asset_string']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_custom_color" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_custom_color`")  # noqa: E501
        # verify the required parameter 'asset_string' is set
        if self.api_client.client_side_validation and ('asset_string' not in params or
                                                       params['asset_string'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `asset_string` when calling `get_custom_color`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'asset_string' in params:
            path_params['asset_string'] = params['asset_string']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/{id}/colors/{asset_string}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_custom_colors(self, id, **kwargs):  # noqa: E501
        """Get custom colors  # noqa: E501

        Returns all custom colors that have been saved for a user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_custom_colors(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_custom_colors_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_custom_colors_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_custom_colors_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get custom colors  # noqa: E501

        Returns all custom colors that have been saved for a user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_custom_colors_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_custom_colors" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_custom_colors`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/{id}/colors', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_dashboard_positions(self, id, **kwargs):  # noqa: E501
        """Get dashboard positions  # noqa: E501

        Returns all dashboard positions that have been saved for a user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_dashboard_positions(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_dashboard_positions_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_dashboard_positions_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_dashboard_positions_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get dashboard positions  # noqa: E501

        Returns all dashboard positions that have been saved for a user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_dashboard_positions_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_dashboard_positions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_dashboard_positions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/{id}/dashboard_positions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_pandata_events_jwt_token_and_its_expiration_date(self, **kwargs):  # noqa: E501
        """Get a Pandata Events jwt token and its expiration date  # noqa: E501

        Returns a jwt auth and props token that can be used to send events to Pandata.  NOTE: This is currently only available to the mobile developer keys.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_pandata_events_jwt_token_and_its_expiration_date(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str app_key: The pandata events appKey for this mobile app
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_pandata_events_jwt_token_and_its_expiration_date_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_pandata_events_jwt_token_and_its_expiration_date_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_pandata_events_jwt_token_and_its_expiration_date_with_http_info(self, **kwargs):  # noqa: E501
        """Get a Pandata Events jwt token and its expiration date  # noqa: E501

        Returns a jwt auth and props token that can be used to send events to Pandata.  NOTE: This is currently only available to the mobile developer keys.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_pandata_events_jwt_token_and_its_expiration_date_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str app_key: The pandata events appKey for this mobile app
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['app_key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_pandata_events_jwt_token_and_its_expiration_date" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'app_key' in params:
            form_params.append(('app_key', params['app_key']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/self/pandata_events_token', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_user_profile(self, user_id, **kwargs):  # noqa: E501
        """Get user profile  # noqa: E501

        Returns user profile data, including user id, name, and profile pic.  When requesting the profile for the user accessing the API, the user's calendar feed URL and LTI user id will be returned as well.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_user_profile(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID (required)
        :return: Profile
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_user_profile_with_http_info(user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_user_profile_with_http_info(user_id, **kwargs)  # noqa: E501
            return data

    def get_user_profile_with_http_info(self, user_id, **kwargs):  # noqa: E501
        """Get user profile  # noqa: E501

        Returns user profile data, including user id, name, and profile pic.  When requesting the profile for the user accessing the API, the user's calendar feed URL and LTI user id will be returned as well.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_user_profile_with_http_info(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: ID (required)
        :return: Profile
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_user_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and ('user_id' not in params or
                                                       params['user_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `user_id` when calling `get_user_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['user_id'] = params['user_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/{user_id}/profile', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Profile',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_users_most_recently_graded_submissions(self, id, **kwargs):  # noqa: E501
        """Get a users most recently graded submissions  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users_most_recently_graded_submissions(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param list[str] include: Associations to include with the group
        :param bool only_current_enrollments: Returns submissions for only currently active enrollments
        :param bool only_published_assignments: Returns submissions for only published assignments
        :return: list[Submission]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_users_most_recently_graded_submissions_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_users_most_recently_graded_submissions_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_users_most_recently_graded_submissions_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get a users most recently graded submissions  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users_most_recently_graded_submissions_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param list[str] include: Associations to include with the group
        :param bool only_current_enrollments: Returns submissions for only currently active enrollments
        :param bool only_published_assignments: Returns submissions for only published assignments
        :return: list[Submission]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'include', 'only_current_enrollments', 'only_published_assignments']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_users_most_recently_graded_submissions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_users_most_recently_graded_submissions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
            collection_formats['include'] = 'csv'  # noqa: E501
        if 'only_current_enrollments' in params:
            query_params.append(('only_current_enrollments', params['only_current_enrollments']))  # noqa: E501
        if 'only_published_assignments' in params:
            query_params.append(('only_published_assignments', params['only_published_assignments']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/{id}/graded_submissions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Submission]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def hide_all_stream_items(self, **kwargs):  # noqa: E501
        """Hide all stream items  # noqa: E501

        Hide all stream items for the user  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.hide_all_stream_items(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.hide_all_stream_items_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.hide_all_stream_items_with_http_info(**kwargs)  # noqa: E501
            return data

    def hide_all_stream_items_with_http_info(self, **kwargs):  # noqa: E501
        """Hide all stream items  # noqa: E501

        Hide all stream items for the user  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.hide_all_stream_items_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method hide_all_stream_items" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/self/activity_stream', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def hide_stream_item(self, id, **kwargs):  # noqa: E501
        """Hide a stream item  # noqa: E501

        Hide the given stream item.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.hide_stream_item(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.hide_stream_item_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.hide_stream_item_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def hide_stream_item_with_http_info(self, id, **kwargs):  # noqa: E501
        """Hide a stream item  # noqa: E501

        Hide the given stream item.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.hide_stream_item_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method hide_stream_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `hide_stream_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/self/activity_stream/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_activity_stream_activity_stream(self, **kwargs):  # noqa: E501
        """List the activity stream  # noqa: E501

        Returns the current user's global activity stream, paginated.  There are many types of objects that can be returned in the activity stream. All object types have the same basic set of shared attributes:   !!!javascript   {     'created_at': '2011-07-13T09:12:00Z',     'updated_at': '2011-07-25T08:52:41Z',     'id': 1234,     'title': 'Stream Item Subject',     'message': 'This is the body text of the activity stream item. It is plain-text, and can be multiple paragraphs.',     'type': 'DiscussionTopic|Conversation|Message|Submission|Conference|Collaboration|AssessmentRequest...',     'read_state': false,     'context_type': 'course', // course|group     'course_id': 1,     'group_id': null,     'html_url': \"http://...\" // URL to the Canvas web UI for this stream item   }  In addition, each item type has its own set of attributes available.  DiscussionTopic:    !!!javascript   {     'type': 'DiscussionTopic',     'discussion_topic_id': 1234,     'total_root_discussion_entries': 5,     'require_initial_post': true,     'user_has_posted': true,     'root_discussion_entries': {       ...     }   }  For DiscussionTopic, the message is truncated at 4kb.  Announcement:    !!!javascript   {     'type': 'Announcement',     'announcement_id': 1234,     'total_root_discussion_entries': 5,     'require_initial_post': true,     'user_has_posted': null,     'root_discussion_entries': {       ...     }   }  For Announcement, the message is truncated at 4kb.  Conversation:    !!!javascript   {     'type': 'Conversation',     'conversation_id': 1234,     'private': false,     'participant_count': 3,   }  Message:    !!!javascript   {     'type': 'Message',     'message_id': 1234,     'notification_category': 'Assignment Graded'   }  Submission:  Returns an {api:Submissions:Submission Submission} with its Course and Assignment data.  Conference:    !!!javascript   {     'type': 'Conference',     'web_conference_id': 1234   }  Collaboration:    !!!javascript   {     'type': 'Collaboration',     'collaboration_id': 1234   }  AssessmentRequest:    !!!javascript   {     'type': 'AssessmentRequest',     'assessment_request_id': 1234   }  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_activity_stream_activity_stream(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool only_active_courses: If true, will only return objects for courses the user is actively participating in
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_activity_stream_activity_stream_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_activity_stream_activity_stream_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_activity_stream_activity_stream_with_http_info(self, **kwargs):  # noqa: E501
        """List the activity stream  # noqa: E501

        Returns the current user's global activity stream, paginated.  There are many types of objects that can be returned in the activity stream. All object types have the same basic set of shared attributes:   !!!javascript   {     'created_at': '2011-07-13T09:12:00Z',     'updated_at': '2011-07-25T08:52:41Z',     'id': 1234,     'title': 'Stream Item Subject',     'message': 'This is the body text of the activity stream item. It is plain-text, and can be multiple paragraphs.',     'type': 'DiscussionTopic|Conversation|Message|Submission|Conference|Collaboration|AssessmentRequest...',     'read_state': false,     'context_type': 'course', // course|group     'course_id': 1,     'group_id': null,     'html_url': \"http://...\" // URL to the Canvas web UI for this stream item   }  In addition, each item type has its own set of attributes available.  DiscussionTopic:    !!!javascript   {     'type': 'DiscussionTopic',     'discussion_topic_id': 1234,     'total_root_discussion_entries': 5,     'require_initial_post': true,     'user_has_posted': true,     'root_discussion_entries': {       ...     }   }  For DiscussionTopic, the message is truncated at 4kb.  Announcement:    !!!javascript   {     'type': 'Announcement',     'announcement_id': 1234,     'total_root_discussion_entries': 5,     'require_initial_post': true,     'user_has_posted': null,     'root_discussion_entries': {       ...     }   }  For Announcement, the message is truncated at 4kb.  Conversation:    !!!javascript   {     'type': 'Conversation',     'conversation_id': 1234,     'private': false,     'participant_count': 3,   }  Message:    !!!javascript   {     'type': 'Message',     'message_id': 1234,     'notification_category': 'Assignment Graded'   }  Submission:  Returns an {api:Submissions:Submission Submission} with its Course and Assignment data.  Conference:    !!!javascript   {     'type': 'Conference',     'web_conference_id': 1234   }  Collaboration:    !!!javascript   {     'type': 'Collaboration',     'collaboration_id': 1234   }  AssessmentRequest:    !!!javascript   {     'type': 'AssessmentRequest',     'assessment_request_id': 1234   }  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_activity_stream_activity_stream_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool only_active_courses: If true, will only return objects for courses the user is actively participating in
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['only_active_courses']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
[...]
