# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class WhatIfGradesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def update_submission_s_what_if_score_and_calculate_grades(self, id, **kwargs):  # noqa: E501
        """Update a submission's what-if score and calculate grades  # noqa: E501

        Enter a what if score for a submission and receive the calculated grades Grade calculation is a costly operation, so this API should be used sparingly  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_submission_s_what_if_score_and_calculate_grades(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param float student_entered_score: The score the student wants to test
        :return: list[GradesGradesSubmissionSubmission]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_submission_s_what_if_score_and_calculate_grades_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_submission_s_what_if_score_and_calculate_grades_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def update_submission_s_what_if_score_and_calculate_grades_with_http_info(self, id, **kwargs):  # noqa: E501
        """Update a submission's what-if score and calculate grades  # noqa: E501

        Enter a what if score for a submission and receive the calculated grades Grade calculation is a costly operation, so this API should be used sparingly  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_submission_s_what_if_score_and_calculate_grades_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: ID (required)
        :param float student_entered_score: The score the student wants to test
        :return: list[GradesGradesSubmissionSubmission]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'student_entered_score']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_submission_s_what_if_score_and_calculate_grades" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `update_submission_s_what_if_score_and_calculate_grades`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'student_entered_score' in params:
            form_params.append(('student_entered_score', params['student_entered_score']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/submissions/{id}/what_if_grades', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GradesGradesSubmissionSubmission]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
