<h5>Available Achievements</h5>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<button
  type="button"
  class="btn btn-secondary mt-1"
  data-toggle="tooltip"
  data-placement="top"
  title="Fastest to submit a quiz"
>
  <span class="material-symbols-outlined align-bottom px-2">rocket_launch</span>
</button>

<button
  type="button"
  class="btn btn-secondary mt-1"
  data-toggle="tooltip"
  data-placement="top"
  title="Slowest to submit a quiz"
>
  <span class="material-symbols-outlined align-bottom px-2">elderly</span>
</button>

<button
  type="button"
  class="btn btn-secondary mt-1"
  data-toggle="tooltip"
  data-placement="top"
  title="Best score in the semester"
>
  <span class="material-symbols-outlined align-bottom px-2">self_improvement</span>
</button>

<button
  type="button"
  class="btn btn-secondary mt-1"
  data-toggle="tooltip"
  data-placement="top"
  title="Worst score in the semester"
>
  <span class="material-symbols-outlined align-bottom px-2">heart_broken</span>
</button>

<button
  type="button"
  class="btn btn-secondary mt-1"
  data-toggle="tooltip"
  data-placement="top"
  title="Top 3 result in a quiz"
>
  <span class="material-symbols-outlined align-bottom px-2">workspace_premium</span>
</button>

<button
  type="button"
  class="btn btn-secondary mt-1"
  data-toggle="tooltip"
  data-placement="top"
  title="Highest score with the slowest submission time"
>
  <span class="material-symbols-outlined align-bottom px-2">psychology</span>
</button>

<button
  type="button"
  class="btn btn-secondary mt-1"
  data-toggle="tooltip"
  data-placement="top"
  title="Three first place finishes in a row"
>
  <span class="material-symbols-outlined align-bottom px-2">school</span>
</button>

<button
  type="button"
  class="btn btn-secondary mt-1"
  data-toggle="tooltip"
  data-placement="top"
  title="Attended every quiz to date"
>
  <span class="material-symbols-outlined align-bottom px-2">emoji_people</span>
</button>

<button
  type="button"
  class="btn btn-secondary mt-1"
  data-toggle="tooltip"
  data-placement="top"
  title="Exactly half the maximum score"
>
  <span class="material-symbols-outlined align-bottom px-2">cookie</span>
</button>

<button
  type="button"
  class="btn btn-secondary mt-1"
  data-toggle="tooltip"
  data-placement="top"
  title="The best of the best"
>
  <span class="material-symbols-outlined align-bottom px-2">hotel_class</span>
</button>
