<div
  class="tab-pane fade text-white"
  id="nav-all-time-scoreboard"
  role="tabpanel"
  aria-labelledby="nav-all-time-scoreboard-tab"
>
  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Displayed Badges</th>
          <th scope="col">Score</th>
          <th scope="col">Season</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>SE God</td>
          <td>
            <span class="material-symbols-outlined">elderly</span>
            <span class="material-symbols-outlined">self_improvement</span>
            <span class="material-symbols-outlined">heart_broken</span>
          </td>
          <td>99,999</td>
          <td>W-2001</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Your TA</td>
          <td>
            <span class="material-symbols-outlined">psychology</span>
            <span class="material-symbols-outlined">school</span>
          </td>
          <td>88,888</td>
          <td>S-2023</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Sfaz</td>
          <td>
            <span class="material-symbols-outlined align-bottom">elderly</span>
            <span class="material-symbols-outlined align-bottom">local_fire_department</span>
            <span class="material-symbols-outlined align-bottom">sprint</span>
          </td>
          <td>16,121</td>
          <td>S-2023</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Big Ramon</td>
          <td>
            <span class="material-symbols-outlined align-bottom">rocket_launch</span>
            <span class="material-symbols-outlined align-bottom">trophy</span>
          </td>
          <td>13,412</td>
          <td>W-2022</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Abdallah</td>
          <td>
            <span class="material-symbols-outlined align-bottom">savings</span>
          </td>
          <td>11,902</td>
          <td>W-2021</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Gaod</td>
          <td>
            <span class="material-symbols-outlined">emoji_people</span>
            <span class="material-symbols-outlined">cookie</span>
          </td>
          <td>11,555</td>
          <td>S-2020</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Louis</td>
          <td>
            <span class="material-symbols-outlined">heart_broken</span>
          </td>
          <td>10,948</td>
          <td>W-2023</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Yegor</td>
          <td>
            <span class="material-symbols-outlined">cookie</span>
            <span class="material-symbols-outlined">hotel_class</span>
          </td>
          <td>10,793</td>
          <td>W-2019</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Sheel</td>
          <td>
            <span class="material-symbols-outlined">heart_broken</span>
            <span class="material-symbols-outlined">workspace_premium</span>
            <span class="material-symbols-outlined">psychology</span>
          </td>
          <td>10,492</td>
          <td>W-2019</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Rylan</td>
          <td>
            <span class="material-symbols-outlined">school</span>
            <span class="material-symbols-outlined">elderly</span>
          </td>
          <td>10,045</td>
          <td>S-2020</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Charvie</td>
          <td>
            <span class="material-symbols-outlined">cookie</span>
          </td>
          <td>9,845</td>
          <td>S-2018</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Kevin</td>
          <td>
            <span class="material-symbols-outlined">hotel_class</span>
          </td>
          <td>9,452</td>
          <td>W-2020</td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>Andrei</td>
          <td>
            <span class="material-symbols-outlined">elderly</span>
            <span class="material-symbols-outlined">self_improvement</span>
            <span class="material-symbols-outlined">heart_broken</span>
          </td>
          <td>8,845</td>
          <td>W-2017</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>Adam</td>
          <td>
            <span class="material-symbols-outlined">psychology</span>
            <span class="material-symbols-outlined">school</span>
          </td>
          <td>8,605</td>
          <td>S-2022</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>Nishant</td>
          <td>
            <span class="material-symbols-outlined">rocket_launch</span>
            <span class="material-symbols-outlined">school</span>
            <span class="material-symbols-outlined">elderly</span>
          </td>
          <td>7,321</td>
          <td>S-2021</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>LeBron</td>
          <td>
            <span class="material-symbols-outlined">school</span>
          </td>
          <td>6,312</td>
          <td>W-2018</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
