<div class="card container p-3 mt-3" id="quizzes-card-staff">
    <h5 id="title">List of Available Quizzes</h5>
    <div class="row">
        <div class="col-md-12">
            <button class="rounded-pill quiz">SQL Queries</button>
        </div>
        <div class="col-md-12">
            <button class="rounded-pill quiz">Relational Algebra</button>
        </div>
        <div class="col-md-12">
            <button class="rounded-pill quiz">ER Diagrams</button>
        </div>
        <div class="col-md-12">
            <button class="rounded-pill quiz">Database Theory</button>
        </div>
        <div class="col-md-12">
            <button class="rounded-pill quiz">Triggers</button>
        </div>
        <div class="col-md-12">
            <button class="rounded-pill quiz">ACID Concepts</button>
        </div>
        <div class="col-md-12">
            <button class="rounded-pill quiz">Database Security</button>
        </div>
    </div>
</div>