<div
  class="tab-pane fade text-white show active"
  id="nav-live-scoreboard"
  role="tabpanel"
  aria-labelledby="nav-live-scoreboard-tab"
>
  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Displayed Badges</th>
          <th scope="col">Score</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
