<div class="container-fluid">
  <div class="row">
      <% if (permissions.student_authz_create) { %>
      <div class="col-sm bg-light py-4 px-4 border">
        <form id="create-form" name="create-form" method="POST">
          <input type="text" class="form-control" name="groupName" placeholder="Group Name">
          <small id="groupNameHelp" class="form-text text-muted">*Alpha and numeric characters only</small>
          <div class="mt-4 d-flex justify-content-center">
            <div class="form-group mb-0">
              <input type="hidden" name="__action" value="createGroup">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
              <button type="submit" class="btn btn-primary">Create a New Group</button>
            </div>
          </div>
        </form>
      </div>
      <% } %>
      <% if (permissions.student_authz_join) { %>
      <div class="col-sm bg-light py-4 px-4 border">
        <form id="joingroup-form" name="joingroup-form" method="POST">
          <input type="text" class="form-control" name="joincode" placeholder="Join Code">
          <div class="mt-4 d-flex justify-content-center">
            <div class="form-group mb-0">
              <input type="hidden" name="__action" value="joinGroup">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
              <button type="submit" class="btn btn-primary">Join Group via Join Code</button>
            </div>
          </div>
        </form>
      </div>
      <% } %>
  </div>
</div>
