<form name="add-user-form" method="POST">
  <input type="hidden" name="__action" value="administrators_delete_by_user_id">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
  <input type="hidden" name="user_id" value="<%= user_id %>">
  <div class="form-group">
    <label>UID:</label>
    <p class="form-control-static"><%= uid %></p>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-secondary" onclick="$('#<%= id %>').popover('hide')">Cancel</button>
    <button type="submit" class="btn btn-primary">Remove access</button>
  </div>
</form>
