<% if (status == 'complete') { %>
<span class="label label-default">complete</span>
<% } %>
<% if (status == 'unanswered') { %>
<span class="label label-warning">unanswered</span>
<% } %>
<% if (status == 'saved') { %>
<span class="label label-primary">saved</span>
<% } %>
<% if (status == 'correct') { %>
<span class="label label-success">correct</span>
<% } %>
<% if (status == 'incorrect') { %>
<span class="label label-danger">incorrect</span>
<% } %>
