<div class="card my-2">
  <div class="card-header">{{{header}}}</div>
  <div class="card-body">{{{params.inner-text}}}</div>
  {{#preferences.footer}}
    <div class="card-footer">{{{preferences.footer}}}</div>
  {{/preferences.footer}}
</div>
