{{#question}}
<div class="container-fluid">
    <canvas src="{{src}}" {{#scale}}scale="{{scale}}"{{/scale}} {{#test_x}}test_x="{{test_x}}"{{/test_x}} {{#test_y}}test_y="{{test_y}}"{{/test_y}} {{#test_width}}test_width="{{test_width}}"{{/test_width}} {{#test_height}}test_height="{{test_height}}"{{/test_height}}{{#show_coordinates}}show_coordinates="{{show_coordinates}}"{{/show_coordinates}} {{#answer_scale}}answer_scale="{{answer_scale}}"{{/answer_scale}}   id="clickable" class="img-responsive center-block" />
    <input name="cordinate_x" id="cordinate_x" type="hidden" class="form-control"   aria-describedby="basic-addon1" />
    <input name="cordinate_y" id="cordinate_y" type="hidden" class="form-control"   aria-describedby="basic-addon1" />
</div>
<style>

</style>
    <script>
        $(function() {
            var cords = [];
            var can = document.getElementById('clickable');
            var ctx = can.getContext('2d');
            var src = $('#clickable').attr('src');
            var scale = $('#clickable').attr('scale')
            scale = scale/100;
            var img = new Image();
            img.src = src;
            var new_width;
            var new_height;

            img.onload = function() {
                var css_height = 'min-width: ' + (img.width*scale) + ';';
                var css_width = 'min-height: ' + (img.height*scale) + ';';
                $('#clickable').css({css_height});
                $('#clickable').css({css_width});
                new_width= img.width*scale;
                new_height = img.height*scale;
                $('#clickable').attr('height', new_height);
                $('#clickable').attr('width', new_width);
                ctx.drawImage(img, 0, 0, new_width,new_height);
                if($("#clickable").attr("test_x")!='' && $("#clickable").attr("test_y")!='' && $("#clickable").attr("test_width")!='' && $("#clickable").attr("test_height")!=''){
                    try{
                        drawRect(Number($("#clickable").attr("test_x")), Number($("#clickable").attr("test_y")), Number($("#clickable").attr("test_width")), Number($("#clickable").attr("test_height")));
                    } catch(exception){
                        console.log(exception)
                    }
                }
            };
            $("#clickable").click(function(e) {
                var offset = $(this).offset();
                var relativeX = (e.pageX - offset.left);
                var relativeY = (e.pageY - offset.top);
                var ansX = (relativeX/new_width) * 100;
                var ansY = (relativeY/new_height)* 100;
                drawX(relativeX,relativeY,ctx,img,can,(10*scale));
                if($("#clickable").attr("show_coordinates")==='true'){
                    alert('x:' + Math.round(ansX) + ' y:' + Math.round(ansY));
                }
                $('#cordinate_x').val(ansX);
                $('#cordinate_y').val(ansY);
            });
            function drawRect(x,y,width,height) {
                console.log(width + ":" +height);
                console.log(new_width + ":" +new_height);
                x = (x/100)*new_width;
                y = (y/100)*new_height;
                width = (width/100)*new_width;
                height = (height/100)*new_height;
                console.log(width + ":" +height);
                x=x-width/2;
                y=y-height/2;
                ctx.rect(x,y,width,height);
                ctx.strokeStyle="#FF0000";
                ctx.stroke();
                ctx.strokeStyle="#000000";
            }
        });
    </script>
{{/question}}
{{#submission}}
    <div class="container-fluid">
        <canvas src="{{src}}" id="submitted{{uuid}}" class="img-responsive center-block" />
    </div>
    <script>
        $(window).load(function() {
            var sub_x = {{submission_x}}
            var sub_y = {{submission_y}}
            var sub_scale = {{answer_scale}}/100

            var sub_can;
            var sub_ctx;

            var src = $('#submitted{{uuid}}').attr('src');
            var img = new Image();
            img.src = src;
            img.onload = function() {
                var new_sub_width= img.width*sub_scale;
                var new_sub_height = img.height*sub_scale;
                $('#submitted{{uuid}}').attr('width', new_sub_width);
                $('#submitted{{uuid}}').attr('height', new_sub_height);
                sub_can = document.getElementById('submitted{{uuid}}');
                sub_ctx = sub_can.getContext('2d');
                sub_ctx.drawImage(img, 0, 0, new_sub_width,new_sub_height);

                //calculate cordinates relative to size
                var question_can = document.getElementById('clickable');
               // var scale_width = (sub_can.width/question_can.width);
                //var scale_height = (sub_can.height/question_can.height);
                sub_x = (sub_x/100)*sub_can.width;
                sub_y = (sub_y/100)*sub_can.height;
                drawX(sub_x,sub_y,sub_ctx,img,sub_can,(10*sub_scale));
            };
        });
    </script>
{{/submission}}
{{#answer}}
    <div class="container-fluid">
        <canvas src="{{src}}" id="answer" class="img-responsive center-block" />
    </div>
    <script>
        $(window).load(function() {
            var ans_x = {{answer_x}}
            var ans_y = {{answer_y}}
            var ans_can;
            var ans_ctx;
            var ans_src = $('#answer').attr('src');
            var ans_scale = {{answer_scale}}/100




            var ans_img = new Image();
            ans_img.src = ans_src;


            ans_img.onload = function() {

                $('#answer').attr('height',ans_img.height*ans_scale)
                $('#answer').attr('width',ans_img.width*ans_scale)
                ans_can = document.getElementById('answer');
                ans_ctx = ans_can.getContext('2d');
                ans_ctx.drawImage(ans_img, 0, 0, ans_can.width,ans_can.height);

                var question_can = document.getElementById('clickable');
                var ans_scale_width = (ans_can.width/question_can.width);
                var ans_scale_height = (ans_can.height/question_can.height);
                ans_x = (ans_x/100)*ans_can.width;
                ans_y = (ans_y/100) * ans_can.height;
                console.log(ans_can.height + ":" + question_can.height);
                drawX(ans_x,ans_y,ans_ctx,ans_img,ans_can,(10*ans_scale));
            };
        });
    </script>
{{/answer}}