<pl-question-panel>
What color can be found in a rainbow?
</pl-question-panel>

<pl-multiple-choice answers-name='colors' number-answers='4'>
  <pl-answer correct='true'>Red</pl-answer>
  <pl-answer correct='true'>Blue</pl-answer>
  <pl-answer correct='true'>Violet</pl-answer>
  <pl-answer correct='true'>Indigo</pl-answer>
  <pl-answer correct='true'>Green</pl-answer>
  <pl-answer correct='true'>Orange</pl-answer>
  <pl-answer correct='true'>Yellow</pl-answer>
  <pl-answer>Black</pl-answer>
  <pl-answer>White</pl-answer>
  <pl-answer>Grey</pl-answer>
  <pl-answer>Navy</pl-answer>
  <pl-answer>Gold</pl-answer>
  <pl-answer>Lime</pl-answer>
  <pl-answer>Aqua</pl-answer>
</pl-multiple-choice>
