{{#prevent_select}}<!-- Well aren't you clever ;) -->{{/prevent_select}}
<pre class="pl-code"><code
{{#no_highlight}}class="nohighlight"{{/no_highlight}}
{{#specify_language}}class="language-{{language}}"{{/specify_language}}
{{#prevent_select}}
style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
unselectable="on"
onselectstart="return false;"
onmousedown="return false;"
oncontextmenu="return false;"
{{/prevent_select}}
>{{{code}}}</code></pre>
