<pl-question-panel>
<p> Given:  </p>
<p>${\bf A} = ({{params.a1}}) \hat\imath + ({{params.b1}}) \hat\jmath + ({{params.c1}}) \hat{k}$ </p>
<p>${\bf B} = ({{params.a2}}) \hat\imath + ({{params.b2}}) \hat\jmath + ({{params.c2}}) \hat{k}$  </p>
<p> Compute the cross product  ${\bf C}  = \bf{A} \times \bf{B}$. </p>
</p>
</pl-question-panel>
<p> ${\bf C}=$ <pl-number-input answers-name="ix"  display="inline" show-help-text="false" size="12"></pl-number-input> $\;\hat{\imath} \,+$
   <pl-number-input answers-name="iy"  display="inline"  show-help-text="false" size="12"></pl-number-input> $\;\hat{\jmath} \,+$
   <pl-number-input answers-name="iz"  display="inline"  show-help-text="false" size="12"></pl-number-input> $\;{\hat{k}}$
</p>
