<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'lti'}); %>

    <div id="content" class="container">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">LTI configuration</div>
        </div>
    </div>
    </body>
    </html>
