<pl-question-panel>
  <p>What color can be found in a rainbow?</p>
</pl-question-panel>

<pl-multiple-choice answers-name="colors" number-answers="4">
  <pl-answer correct="true">Red</pl-answer>
  <pl-answer correct="true">Orange</pl-answer>
  <pl-answer correct="true">Yellow</pl-answer>
  <pl-answer correct="true">Green</pl-answer>
  <pl-answer correct="true">Blue</pl-answer>
  <pl-answer correct="true">Indigo</pl-answer>
  <pl-answer correct="true">Violet</pl-answer>
  <pl-answer>Black</pl-answer>
  <pl-answer>White</pl-answer>
  <pl-answer>Grey</pl-answer>
  <pl-answer>Pink</pl-answer>
  <pl-answer>Purple</pl-answer>
  <pl-answer>Maroon</pl-answer>
  <pl-answer>Gold</pl-answer>
  <pl-answer>Silver</pl-answer>
  <pl-answer>Copper</pl-answer>
  <pl-answer>Olive</pl-answer>
  <pl-answer>Beige</pl-answer>
  <pl-answer>Tan</pl-answer>
  <pl-answer>Brown</pl-answer>
</pl-multiple-choice>
