{{#correct}}
  <span class="badge text-bg-success">
    <i class="fas fa-check" aria-hidden="true"></i> 100%
  </span>
{{/correct}}
{{#partial}}
  <span class="badge text-bg-warning">
    <i class="far fa-circle" aria-hidden="true"></i> {{ partial }}%
  </span>
{{/partial}}
{{#incorrect}}
  <span class="badge text-bg-danger">
    <i class="fas fa-times" aria-hidden="true"></i> 0%
  </span>
{{/incorrect}}
