<span class="pl-big-operator-input__submission-value">
  \( \displaystyle {{#prefix_latex}}{{{prefix_latex}}}{{/prefix_latex}} {{ tex }} {{#suffix_latex}}{{{suffix_latex}}}{{/suffix_latex}} \)
</span>
{{> score-badge }}
