<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {pageTitle: `${job_sequence.description} #${job_sequence.number}`}); %>
    <script src="<%= node_modules_asset_path('socket.io-client/dist/socket.io.min.js') %>"></script>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <main id="content" class="container-fluid">
      <div class="row"><div class="col-12">
        <a class="btn btn-primary mb-4" href="javascript:history.back();" role="button">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Back to previous page
        </a>
      </div></div>
      <%- include('../partials/jobSequenceResults', {job_sequence_enable_live_update: true}) %>
    </main>
  </body>
</html>
