<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'admin', navSubPage: 'server'}); %>
    <div id="content" class="container-fluid">

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Config ---------------------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Server configuration</div>
        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
            </thead>
            <tbody>
              <% configs.forEach(function(config, i) { %>
              <tr>
                <td><%= config.key %></td>
                <td><%= config.value %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <small>
            Edit values in the <strong><tt>config</tt></strong> table.
          </small>
        </div>
      </div>

    </div>
  </body>
</html>
