version: 2

# The Python strategy comes from this comment:
# https://github.com/dependabot/dependabot-core/issues/12609#issuecomment-3407284321
multi-ecosystem-groups:
  python:
    schedule:
      interval: monthly

updates:
  - package-ecosystem: docker
    directories:
      - '/'
      - '/graders/*'
      - '/images/*'
      - '/workspaces/*'
    schedule:
      interval: monthly
    rebase-strategy: disabled

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
    rebase-strategy: disabled

  - package-ecosystem: npm
    directories:
      - '/'
      - '/workspaces/desktop/server'
      - '/workspaces/xtermjs/src'
    schedule:
      interval: monthly
    rebase-strategy: disabled
    ignore:
      # Recent versions of `bootstrap-table` broke behavior we rely on:
      # https://github.com/wenzhixin/bootstrap-table/issues/6745
      - dependency-name: 'bootstrap-table'
      # We're putting off this upgrade for now:
      # https://github.com/PrairieLearn/PrairieLearn/pull/6835
      - dependency-name: 'fabric'
      # novnc 1.5.0+ no longer publishes ESM files:
      # https://github.com/novnc/noVNC/issues/1792
      - dependency-name: '@novnc/novnc'
      # ua-parser-js 2.x changes its license to a less permissive license:
      # https://github.com/faisalman/ua-parser-js/issues/680
      - dependency-name: 'ua-parser-js'
        versions: ['>=2']
      # Express 5 made significant breaking changes, and we are not yet
      # ready to upgrade to it.
      - dependency-name: 'express'
        versions: ['>=5']
      # JQuery 4 made significant breaking changes. We are migrating code to
      # vanilla JS where possible and only keeping it for backwards
      # compatibility, so we don't want to upgrade.
      - dependency-name: 'jquery'
        versions: ['>=4']

    groups:
      # Many OpenTelemetry packages are still pre-v1, so updates frequently won't
      # be considered patch/minor updates. We always want to bump these all
      # together, so we'll include a special group for them. Dependabot evaluates
      # groups in the order that they're listed, so this will take precedence over
      # the catch-all patch/minor group below.
      #
      # These upgrades are currently ignored, see the note above.
      opentelemetry:
        patterns:
          - '@opentelemetry/*'
      all-patch-minor:
        update-types:
          - 'patch'
          - 'minor'

  - package-ecosystem: pip
    multi-ecosystem-group: python
    patterns: ['*']
    directories:
      - '/'
      - '/docs'
      - '/graders/c'
      - '/graders/python'
      - '/workspaces/jupyterlab-base'
      - '/workspaces/jupyterlab-python'
      - '/workspaces/vscode-python'
    rebase-strategy: disabled
    groups:
      all-patch-minor:
        update-types:
          - 'patch'
          - 'minor'

  - package-ecosystem: uv
    multi-ecosystem-group: python
    patterns: ['*']
    # Currently we only have a `uv.lock` in the root directory.
    directories:
      - '/'
