version: 2
updates:
  - package-ecosystem: docker
    directories:
      - '/'
      - '/graders/*'
      - '/images/*'
      - '/workspaces/*'
    schedule:
      interval: monthly
    rebase-strategy: disabled

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
    rebase-strategy: disabled

  - package-ecosystem: npm
    directories:
      - '/'
      - '/workspaces/desktop/server'
      - '/workspaces/xtermjs/src'
    schedule:
      interval: monthly
    rebase-strategy: disabled
    groups:
      # Many OpenTelemetry packages are still pre-v1, so updates frequently won't
      # be considered patch/minor updates. We always want to bump these all
      # together, so we'll include a special group for them. Dependabot evaluates
      # groups in the order that they're listed, so this will take precedence over
      # the catch-all patch/minor group below.
      opentelemetry:
        patterns:
          - '@opentelemetry/*'
      all-patch-minor:
        update-types:
          - 'patch'
          - 'minor'

  - package-ecosystem: pip
    directories:
      - '/graders/c'
      - '/graders/python'
      - '/images/plbase'
      - '/workspaces/jupyterlab-python'
    schedule:
      interval: monthly
    rebase-strategy: disabled
    groups:
      all-patch-minor:
        update-types:
          - 'patch'
          - 'minor'
