{{#question}}
<script>
{{#show_display}}
<!-- init copy button -->
$(function(){
    PrairieUtil.initCopyButton('#pl-threejs-output-{{uuid}} .copy-button');
});
{{/show_display}}

<!-- create three.js element -->
$(function() {
    new PLThreeJS( "{{uuid}}", {
        state: "{{{state}}}",
        file_url: "{{file_url}}",
        scale: {{scale}},
        body_canmove: {{body_canmove}},
        camera_canmove: {{camera_canmove}},
        format_of_display_orientation: "{{format_of_display_orientation}}",
        body_color: "{{body_color}}",
    });
});
</script>

<div class="container-fluid">
    <!-- div in which to put the WebGLRenderer canvas -->
    <div id="pl-threejs-{{uuid}}">
        <!-- hidden input element to transfer data from client to server -->
        <input type="hidden" name="{{answer_name}}" id="hidden-input-{{uuid}}">

        <!-- <div id="info" style="position: absolute; top: 10px; width: 100%; z-index: 100; display:block;">1.2 3.4 5.6</div> -->
    </div>

    <!-- button toolbar -->
    <div class="btn-toolbar" role="toolbar">
        {{#show_toggle}}
        <div class="btn-group btn-group-sm btn-group-toggle mr-2 mb-2" data-toggle="buttons" role="group" id="toggle-view-{{uuid}}">
            <label class="btn btn-secondary active">
                <input type="radio" autocomplete="off" checked>rotate view</input>
            </label>
            <label class="btn btn-secondary">
                <input type="radio" autocomplete="off">rotate object</input>
            </label>
        </div>
        {{/show_toggle}}
        {{#show_bodybuttons}}
        <div class="input-group input-group-sm mr-2 mb-2" id="x-group-{{uuid}}">
            <div class="input-group-prepend">
                <button id="x-minus-{{uuid}}" class="btn btn-secondary" type="button" disabled><i class="fa fa-redo" aria-hidden="true"></i></button>
                <span class="input-group-text">x</span>
            </div>
            <div class="input-group-append">
                <button id="x-plus-{{uuid}}" class="btn btn-secondary" type="button" disabled><i class="fa fa-redo fa-flip-horizontal" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="input-group input-group-sm mr-2 mb-2" id="y-group-{{uuid}}">
            <div class="input-group-prepend">
                <button id="y-minus-{{uuid}}" class="btn btn-secondary" type="button" disabled><i class="fa fa-redo" aria-hidden="true"></i></button>
                <span class="input-group-text">y</span>
            </div>
            <div class="input-group-append">
                <button id="y-plus-{{uuid}}" class="btn btn-secondary" type="button" disabled><i class="fa fa-redo fa-flip-horizontal" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="input-group input-group-sm mr-2 mb-2" id="z-group-{{uuid}}">
            <div class="input-group-prepend">
                <button id="z-minus-{{uuid}}" class="btn btn-secondary" type="button" disabled><i class="fa fa-redo" aria-hidden="true"></i></button>
                <span class="input-group-text">z</span>
            </div>
            <div class="input-group-append">
                <button id="z-plus-{{uuid}}" class="btn btn-secondary" type="button" disabled><i class="fa fa-redo fa-flip-horizontal" aria-hidden="true"></i></button>
            </div>
        </div>
        {{/show_bodybuttons}}
        <div class="btn-group btn-group-sm mr-2 mb-2" role="group">
            <button id="pl-threejs-button-objectvisible-{{uuid}}" type="button" class="btn btn-secondary active" data-toggle="button" aria-pressed="true">object visible</button>
            <button id="pl-threejs-button-framevisible-{{uuid}}" type="button" class="btn btn-secondary active" data-toggle="button" aria-pressed="true">frames visible</button>
            <button id="pl-threejs-button-shadowvisible-{{uuid}}" type="button" class="btn btn-secondary active" data-toggle="button" aria-pressed="true">shadows visible</button>
        </div>
    </div>

    {{#show_display}}
    <!-- state -->
    <div id="pl-threejs-output-{{uuid}}" class="card mb-4">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link{{#default_is_matlab}} active{{/default_is_matlab}}" href="#matlab-{{uuid}}" aria-controls="matlab-{{uuid}}" role="tab" data-toggle="pill">matlab</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link{{#default_is_python}} active{{/default_is_python}}" href="#python-{{uuid}}" aria-controls="python-{{uuid}}" role="tab" data-toggle="pill">python</a></li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane {{#default_is_matlab}}active{{/default_is_matlab}}" id="matlab-{{uuid}}">
                    <pre class="bg-dark text-white rounded p-2" id="matlab-data-{{uuid}}"></pre>
                    <button type="button" class="btn btn-secondary btn-sm copy-button" data-clipboard-target="#matlab-data-{{uuid}}">
                        copy this text
                    </button>
                </div>
                <div role="tabpanel" class="tab-pane {{#default_is_python}}active{{/default_is_python}}" id="python-{{uuid}}">
                    <pre class="bg-dark text-white rounded p-2" id="python-data-{{uuid}}"></pre>
                    <button type="button" class="btn btn-secondary btn-sm copy-button" data-clipboard-target="#python-data-{{uuid}}">
                        copy this text
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/show_display}}
</div>
{{/question}}

{{#submission}}
{{#parse_error}}<p>Parse error: <code>{{parse_error}}</code></p>{{/parse_error}}
{{^parse_error}}<p>Submission: <code>{{a_sub}}</code></p>{{/parse_error}}
{{/submission}}
