# denylist all
*

# allowlist things to copy
!.editorconfig
!.eslintignore
!.eslintrc.js
!.htmlhintrc
!.mocharc.js
!.prettierignore
!.prettierrc.json
!.yarnrc.yml
!tsconfig.json
!turbo.json
!.yarn/
.yarn/cache
.yarn/install-state.gz
!pyproject.toml
!admin_queries/
!api/
!batched-migrations/
!cron/
!database/
!docs/
!docker/
!ee/
!elements/
!exampleCourse/
!executor.js
!grader_host/
!lib/
!Makefile
!middlewares/
!migrations/
!models/
!news_items/
!package.json
!yarn.lock
!pages/
!packages/
!prairielib/
!public/
public/build/
!python/
!question-servers/
!requirements.txt
!server.js
!schemas/
!sprocs/
!sync/
!testCourse/
!tests/
!tools/
!webhooks/
!workspace_host/
