# blacklist all
*

# whitelist things to copy
!.eslintignore
!.eslintrc.json
!cron/
!database/
!doc/
!docker/
!elements/
!exampleCourse/
!lib/
!middlewares/
!migrations/
!models/
!package.json
!pages/
!public/
!question-servers/
!requirements.txt
!r-requirements.R
!server.js
!setup.cfg
!schemas/
!sprocs/
!sync/
!tests/
!webhooks/
