/docs/
/node_modules/
/exampleCourse/
/testCourse/
/coverage/
/out/
/workspaces/
/site/

# We don't want to lint these files.
/apps/prairielearn/v2-question-servers/
/apps/prairielearn/public/

# Transpiled code
/apps/*/dist/
/apps/prairielearn/public/build/
/packages/*/dist/
