# https://help.github.com/articles/dealing-with-line-endings/
# Set the default behavior, in case people don't have core.autocrlf set
* text=auto

*.sh text eol=lf

# Treat all files inside .yarn/ as binary files. This ensures they do
# not make a mess in results for git grep or git diff. See
# https://stackoverflow.com/a/51564689 and
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/** binary
public/images/** binary
