# Development

## Custom scripts
/start-custom.sh

### https://docs.docker.com/compose/reference/#specifying-multiple-compose-files
docker-compose.override.yml

## Editors

### JetBrains
/.idea/

.vscode
.tmux.conf

## Backup files

### vi
**/*.swp 
**/*.swo
**/*~

### emacs
**/[#]*[#]

## File explorers
**/.DS_Store # OSX Finder

# PrairieLearn

## Config
/v1/backend/config.json
/v1/backend/config.json.*
/config.json
/aws-config.json

## Dependencies
/v1/backend/node_modules/
/v1/frontend-build/
/node_modules/

## Generated HTML

### mkdocs
/site/ 

### jsdoc
/docs/code-docs/

## Runtime artifacts

### Logs
/v1/backend/server.log
/server.log
npm-debug.log

### Code coverage
/coverage/
/.nyc_output/

## Programming languages

### Python
__pycache__/
*.py[cod]
*$py.class

### R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# VSCode files
.vscode

# tmux
.tmux.conf
output.txt

