node_modules
.yarn

# Test coverage
coverage/
apps/*/.nyc_output/
packages/*/.nyc_output/

# Transpiled code
apps/*/dist/
apps/prairielearn/public/build/
packages/*/dist/

# Built assets
apps/prairielearn/public/build/

# The `apps/prairielearn/public/localscripts/calculationQuestion` directory unfortunately
# contains a mixture of first-party and vendored third-party scripts. We want
# to format our own scripts, but we should avoid formatting anything that was
# vendored.
apps/prairielearn/public/localscripts/calculationQuestion/backbone.js
apps/prairielearn/public/localscripts/calculationQuestion/jquery-ui.js
apps/prairielearn/public/localscripts/calculationQuestion/jquery.js
apps/prairielearn/public/localscripts/calculationQuestion/jquery.jsPlumb.js
apps/prairielearn/public/localscripts/calculationQuestion/math.js
apps/prairielearn/public/localscripts/calculationQuestion/mersenne.js
apps/prairielearn/public/localscripts/calculationQuestion/numeric-1.2.6.min.js
apps/prairielearn/public/localscripts/calculationQuestion/rivets.js
apps/prairielearn/public/localscripts/calculationQuestion/sha1.js
apps/prairielearn/public/localscripts/calculationQuestion/sylvester.js
apps/prairielearn/public/localscripts/calculationQuestion/text.js
apps/prairielearn/public/localscripts/calculationQuestion/underscore.js

# As above, `apps/prairielearn/public/javascripts` contains both first- and third-party code.
# We omit any vendored third-party code from Prettier formatting.
apps/prairielearn/public/javascripts/async.js
apps/prairielearn/public/javascripts/backbone.js
apps/prairielearn/public/javascripts/d3.min.js
apps/prairielearn/public/javascripts/dropzone.js
apps/prairielearn/public/javascripts/lodash.min.js
apps/prairielearn/public/javascripts/numeric-1.2.6.min.js
apps/prairielearn/public/javascripts/require.js
apps/prairielearn/public/javascripts/sha1.js
apps/prairielearn/public/javascripts/sylvester.js
apps/prairielearn/public/javascripts/underscore.js

# This is auto-generated by mkdocs.
docs/code-docs/

# pytest cache
.pytest_cache/

# prettier-plugin-sql does not properly support sprocs, so ignoring those
apps/prairielearn/src/sprocs/*.sql

# exampleCourse and testCourse contain info.json files with different formatting on purpose, ignore
exampleCourse/**/*.json
testCourse/**/*.json

# exampleCourse and testCourse contain question.html files that are actually Mustache files, ignore
exampleCourse/**/*.html
testCourse/**/*.html

# JSON files in tests are formatted explicitly to check for loading behaviour, so should not be formatted automatically
apps/prairielearn/src/tests/*/**/*.json

# EJS files are treated as HTML by VSCode, which will try to format them as such.
# This won't work, so exclude them.
apps/prairielearn/src/**/*.ejs
