site_name: PrairieLearn Docs
site_url: https://prairielearn.readthedocs.io
repo_url: https://github.com/PrairieLearn/PrairieLearn
theme:
  name: material
  logo: assets/PL-logo.svg
  favicon: assets/PL-logo.ico
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
  palette:
    scheme: default
    primary: custom
  features:
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - search.suggest
    - content.action.edit
plugins:
  - search
docs_dir: docs
# Fix "Edit on GitHub" link: (defaults to edit/master/docs/, note the s)
edit_uri: blob/master/docs/

markdown_extensions:
  # Allows us to use 2-space indents on lists, which is compatible with how
  # Prettier formats Markdown files.
  # https://pypi.org/project/mdx-truly-sane-lists/
  - mdx_truly_sane_lists

  # allows indented code blocks inside lists
  - pymdownx.superfences

  - toc:
      permalink: true

  # Allows note/warning boxes
  - admonition

extra_javascript:
  - mathjax-config.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/PrairieLearn/PrairieLearn
    - icon: fontawesome/brands/slack
      link: https://prairielearn.slack.com

nav:
  - Main: 'index.md'
  - Getting Started:
      - 'Requesting your course space': 'requestCourse.md'
      - 'Creating content in the browser': 'getStarted.md'
      - 'Workshop': 'workshop/index.md'
  - Student Guide:
      - 'Accessibility': 'student-guide/accessibility.md'
  - Instructor Guide:
      - 'Installing and running locally': 'installing.md'
      - 'Editing and syncing course content': 'sync.md'
      - 'Course configuration': 'course.md'
      - 'Course instance configuration': 'courseInstance.md'
      - 'Assessment configuration': 'assessment.md'
      - 'Question configuration': 'question.md'
      - 'Question runtime environment': 'questionRuntime/index.md'
      - 'Elements for writing questions': 'elements.md'
      - 'Access control': 'accessControl.md'
      - 'Remote exams': 'remoteExams.md'
      - 'clientFiles and serverFiles': 'clientServerFiles.md'
      - 'UUIDs in JSON files': 'uuid.md'
      - 'Regrading assessments': 'regrading.md'
      - 'Element for drawing': 'pl-drawing/index.md'
      - 'External grading': 'externalGrading.md'
      - 'Python autograder': 'python-grader/index.md'
      - 'C/C++ autograder': 'c-grader/index.md'
      - 'Java autograder': 'java-grader/index.md'
      - 'Workspaces': 'workspaces/index.md'
      - 'Manual grading': 'manualGrading/index.md'
      - 'Question sharing': 'questionSharing.md'
      - 'What to tell students': 'whatToTellStudents.md'
      - 'FAQ': 'faq.md'
      - 'API': 'api.md'
      - 'LMS Integration': 'lmsIntegrationInstructor.md'
  - Developer Guide:
      - 'Developer guide': 'dev-guide.md'
      - 'Running in Docker with local source': 'installingLocal.md'
      - 'Running natively': 'installingNative.md'
      - 'Server configuration': 'configJson.md'
      - 'Question element writing': 'devElements.md'
      - 'Element extensions': 'elementExtensions.md'
      - 'Code execution': 'codeExecution.md'
      - 'Docker packaging': 'docker.md'
      - 'Contributing to PL development': 'contributing.md'
  - Administrators:
      - 'SAML SSO configuration': 'saml.md'
      - 'LTI 1.3 configuration': 'lti13.md'
  - Running in Production:
      - 'Setup': 'running-in-production/setup.md'
      - 'Using Docker Compose': 'running-in-production/docker-compose.md'
      - 'User Authentication': 'running-in-production/authentication.md'
      - 'Admin User': 'running-in-production/admin-user.md'
  - Deprecated Features:
      - 'Old v1/v2 question format': 'oldQuestion.md'
      - 'Old PrairieDraw graphics': 'PrairieDraw.md'

not_in_nav: |
  workshop/lesson1.md
  workshop/lesson2.md
  workshop/lesson3.md
  workshop/lesson4.md
  workshop/lesson5.md
  python-grader/sphinx-docs.md

validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn
