ansi2html==1.9.2
automata-lib==9.0.0
chevron==0.14.0
coloraide==4.7.2
Faker==37.4.0
lxml==6.0.0
matplotlib==3.10.3
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
openpyxl==3.1.5
pandas-stubs==2.2.3.250527
pandas==2.3.0
Pillow==11.3.0
Pint==0.24.4
psutil==7.0.0
PuLP==3.2.1
pyarrow==20.0.0
pycryptodome==3.23.0
pygments-ansi-color==0.3.0
Pygments==2.19.2
pygraphviz==1.14
pyquaternion==0.9.9
pytest-cov==6.2.1
pytest-repeat==0.9.4
pytest-github-actions-annotate-failures==0.3.0
pytest==8.4.1
recommonmark==0.7.1
regex==2024.11.6
ruff==0.12.1
schemdraw==0.20
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
sphinx-markdown-builder==0.6.8
sphinx==8.1.3
statsmodels==0.14.4
sympy==1.14.0
text-unidecode==1.3
types-chevron==0.14.2.20250103
types-lxml==2025.3.30
types-Pygments==2.19.0.20250516
typing-extensions==4.14.0
tzlocal==5.3.1
