<a class="btn btn-info" target="_blank" href="{{workspace_url}}">
  <i class="fa fa-laptop-code" aria-hidden="true"></i> Open workspace
</a>

<!-- TODO: handle this issue properly -->
<small class="d-block mt-1">
  <i class="fas fa-fw fa-exclamation-triangle text-secondary" aria-hidden="true"></i> You must open the workspace at least once before clicking <tt>Save &amp; Grade</tt>.
</small>
