<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
      <%- include('../partials/navbar', {navPage: ''}); %>
      <div class="container">
          <div class="card mb-4">
              <div class="card-body">

                  <p class="text-center">A password is required for accessing this assessment.

                      <% if (passwordInvalid) { %>
                      <p class="text-center text-danger">
                      Previous password invalid or expired. Please try again.
                      </p>
                      <% } %>

                      <form method="POST">
                          <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                          <input type="hidden" name="__action" value="assessmentPassword">
                          <p class="lead text-center">
                              Password: <input type="password" name="password" autofocus>
                          <button type="submit" class="btn btn-primary">Submit</button>

                          </p>
                      </form>
                  </p>


              </div>
          </div>
      </div>
  </body>
  </html>
