<div id="file-preview-{{uuid}}" data-submission-files-url="{{submission_files_url}}">
  {{#errors}}
  <div class="alert alert-danger"><strong>Error:</strong> {{.}}</div>
  {{/errors}}
  <div class="card mb-2">
    <div class="card-header">Files</div>
    {{#has_files}}
    <div class="list-group list-group-flush">
      {{#files}}
      <div class="list-group-item js-file-preview-item" data-file="{{name}}">
        <div class="d-flex flex-row collapsed file-status-container">
          <div class="flex-grow-1 me-2">
            <i class="fa fa-check-circle" style="color: {{check_icon_color}}" aria-hidden="true"></i>
            {{name}}
            <p class="file-status">uploaded</p>
          </div>
          <div class="align-self-center">
            <button class="btn btn-outline-secondary btn-sm file-preview-download">
              Download
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm collapsed" data-bs-toggle="collapse" data-bs-target="#file-preview-contents-{{uuid}}-{{index}}" aria-expanded="false" aria-controls="file-preview-contents-{{uuid}}-{{index}}">
              <span class="me-2 js-toggle-show-preview-text">Show preview</span>
              <i class="file-preview-icon fa fa-angle-down"></i>
            </button>
          </div>
        </div>
        <div class="alert alert-danger mt-2 d-none js-error-alert" role="alert"></div>
        <div class="alert alert-info mt-2 d-none js-info-alert" role="alert"></div>
        <div class="file-preview collapse" id="file-preview-contents-{{uuid}}-{{index}}">
          <img class="d-none mw-100 mt-2">
          <div class="d-none ratio ratio-4x3 mt-2 js-file-preview-pdf-container"> 
            <iframe>
              This PDF cannot be displayed. 
            </iframe>
          </div> 
          <div class="file-preview-container mt-2">
            <pre class="d-none bg-dark text-white rounded p-3 mb-0"><code></code></pre>
            <div class="d-none js-notebook-preview"></div>
          </div>
          <button type="button" class="btn btn-outline-secondary btn-sm d-block w-100 d-none file-preview-expand">
            <i class="fa-solid fa-expand"></i>
            <i class="fa-solid fa-compress d-none"></i>
            <span class="js-toggle-expand-preview-text">Expand</span>
          </button>
        </div>
      </div>
      {{/files}}
    </div>
    {{/has_files}}
    {{^has_files}}
    <div class="card-body">
      No files were present in this submission.
    </div>
    {{/has_files}}
  </div>
</div>

<script>
$(() => new PLFilePreview("{{uuid}}"));
</script>
