[id^='file-preview'] .file-status-container {
  cursor: pointer;
}

[id^='file-preview'] .file-status-icon {
  margin-right: 10px;
  transition: all 400ms;
}

[id^='file-preview'] .file-status {
  margin-bottom: 0px;
  font-size: 0.8em;
  color: #999;
}

[id^='file-preview'] .file-preview-button::before {
  content: 'Show preview';
}

[id^='file-preview'] .file-status-container:not(.collapsed) .file-preview-button::before {
  content: 'Hide preview';
}

[id^='file-preview'] .file-preview-icon {
  margin-left: 10px;
  transition: transform 400ms;
}

[id^='file-preview'] .file-status-container:not(.collapsed) .file-preview-icon {
  transform: rotateX(180deg);
}

[id^='file-preview'] .file-preview pre {
  max-height: 200px;
}
