.pl-overlay {
    position: relative;
    display: block;
}

.pl-overlay-clip {
    overflow: hidden;
}

.pl-overlay-location {
    position: absolute;
}

.pl-overlay-location-center {
    transform: translate(-50%, -50%);
}
