<div class="pl-overlay {{#clip}}pl-overlay-clip{{/clip}}" style="width: {{width}}px; height: {{height}}px">
    {{#locations}}
        <div class="pl-overlay-location" style="{{{outer_style}}}">
            {{{html}}}
        </div>
    {{/locations}}
</div>
