<div class="example-course-custom-element">
    <p class="big example-shared-style">I am a custom element! Here is a random number: {{number}}</p>
    <p> Here's a cool picture:
        <img src="{{image_url}}" width="50px">
    </p>
</div>
