canvas {
    border: 1px solid #aaa;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  margin: 30px 20px;
}

.correct {
    border: 1px solid #0f0;
    padding: 5px;
    background: #afa;
}

.incorrect {
    border: 1px solid #f00;
    padding: 5px;
    background: #faa;
}

.navbar .navbar-right .btn {
    margin-right: 10px;
}

.progress-summary table {
    margin-bottom: 5px;
}

.progress-summary th {
    text-align: right;
    border: 0px;
}

.progress-summary td {
    width: 100%;
    border: 0px;
    padding-right: 0px;
}

#qbody form {
    margin-top: 20px;
}

.answer {
    margin-top: 20px;
}

#qsubmit {
    /* margin-top: 20px; */
    margin: 2em 0em;
}

#qgrading {
    margin-top: 20px;
}

.progress {
    margin-bottom: 0px;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.small-bottom-margin {
    margin-bottom: 10px;
}

.main-question-list .table {
    margin-bottom: 10px;
}

.main-question-list .table tr:last-child td {
    border-bottom: 1px solid #dddddd;
}

.table .cell-center {
    text-align: center;
}

#qscore td {
    border: 0px;
}

.spinner-container {
    height: 40px;
}

div.statsContainer {
    margin-top: 40px;
    margin-bottom: 20px;
    height: 300px;
    width: 100%;
}

div.statsContainer.square {
    margin-top: 40px;
    margin-bottom: 20px;
    height: 600px;
    width: 600px;
}

.statsContainer canvas {
    border: 0px;
}

.statsExplain {
    margin-bottom: 20px;
}

line.axis {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.grid path,
.grid line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.bar {
    stroke: #46b8da;
    fill: #5bc0de;
}

.outlineBar {
    stroke: #fff;
    fill: #5bc0de;
}

.boxBar {
    stroke: #000;
    fill: #5bc0de;
}

.whiskerStem {
    stroke: #000;
}

.whiskerEnd {
    stroke: #000;
}

.outlier {
    stroke: #000;
    fill: rgba(255,255,255,0);
}

.boxMedian {
    stroke: #000;
    stroke-width: 3px;
}

.violin {
    stroke: #46b8da;
    fill: #5bc0de;
}

.violinMedian {
    stroke: #000;
    stroke-width: 3px;
}

.statsPlot .label {
    font-size: 14px;
    font-weight: normal;
}

.statsPlot .fitLine {
    stroke: #00b;
}

body table.no-border td {
    border: 0px;
}

body table.no-border th {
    border: 0px;
}

.statsPlot .point {
    stroke: #d43f3a;
    fill: #d9534f;
}
