[id^=file-upload] .upload-dropzone {
  position: relative;
  min-height: 15ex;
  border-radius: 4px;
  background-color: #FAFDFF;
  border: 2px dashed #0087F7;
  margin-bottom: 20px;
}
[id^=file-upload] .upload-dropzone.dz-clickable {
  cursor: pointer;
}
[id^=file-upload] .upload-dropzone.dz-drag-hover {
  background-color: #D9EDF7;
  border-style: solid;
}
[id^=file-upload] .upload-dropzone .dz-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

[id^=file-upload] .file-status-container {
  display: flex;
  flex-direction: row;
}

[id^=file-upload] .file-status-container.has-preview {
  cursor: pointer;
}

[id^=file-upload] .file-status-container-left {
  display: block;
  justify-self: left;
  flex: 1;
}

[id^=file-upload] .file-status-container-right {
  justify-self: right;
  align-self: center;
}

[id^=file-upload] .file-status-icon {
  margin-right: 10px;
  transition: all 400ms;
}

[id^=file-upload] .file-status {
  margin-bottom: 0px;
  font-size: 0.8em;
  color: #999;
}

[id^=file-upload] .file-preview-button::before {
  content: 'Show preview';
}

[id^=file-upload] .file-status-container:not(.collapsed) .file-preview-button::before {
  content: 'Hide preview';
}

[id^=file-upload] .file-preview-icon {
  margin-left: 10px;
  transition: all 400ms;
}

[id^=file-upload] .file-status-container:not(.collapsed) .file-preview-icon {
  transform: rotateX(180deg);
}

[id^=file-upload] .file-preview pre {
  margin-top: 10px;
  max-height: 200px;
}
