<script>
$(function() {
  var UUID = "{{uuid}}";

  new window.PLFileUpload(UUID, {
    acceptedFiles: {{&file_names}}
    {{#has_files}}, files: {{&files}}{{/has_files}}
  });
});
</script>

<div id="file-upload-{{uuid}}">
  <input type="hidden" name="{{name}}">
  <div class="upload-dropzone">
    <div class="dz-message">
      Drop files here or click to upload.
      <br/>
      <small>Only the files listed below will be accepted&mdash;others will be ignored.</small>
    </div>
  </div>
  <div class="messages">
  </div>
  <div class="file-upload-status" style="margin-top: 1ex;">
    <div class="card mb-4">
      <div class="card-header">Files</div>
      <ul class="list-group list-group-flush">
      </ul>
    </div>
  </div>
</div>
