.pl-image-capture-preview {
  object-fit: contain;
  max-height: max(60vh, 600px);
  transition: transform 0.2s ease-in-out;
}

.pl-image-capture-qr-code-box svg {
  width: 200px;
  height: 200px;
}

.pl-image-capture-no-pointer-events {
  pointer-events: none;
}

.pl-image-capture-rotation-slider {
  max-width: 200px;
  min-width: 100px;
}
