<!DOCTYPE html>
<html>
  <head>
    <title>PrairieLearn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="/stylesheets/colors.css" rel="stylesheet" />
    <link href="/stylesheets/local.css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  </head>
  <body>
    {{> navbar}}
    <div id="content" class="container">
      {{{body}}}
    </div>
  </body>
</html>
