{{#question}}
    <span class="d-inline-block mb-3">
        <select
            name="{{answers-name}}"
            class="form-select w-auto"
            {{^editable}}disabled{{/editable}}
            {{#aria_label}}aria-label="{{aria_label}}"{{/aria_label}}
        >
            {{#options}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{{value}}}</option>
            {{/options}}
        </select>
        {{#has_submission}}
            {{#correct}}
                <span class="badge text-bg-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>
            {{/correct}}
            {{^correct}}
                <span class="badge text-bg-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>
            {{/correct}}
        {{/has_submission}}
    </span>
{{/question}}

{{#submission}}
    <span class="d-inline-block">

        {{^parse-error}}
            <code class="user-output">{{{submitted-answer}}}</code>

            {{#display-score-badge}}
                {{#correct}}
                    <span class="badge text-bg-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>
                {{/correct}}
                {{^correct}}
                    <span class="badge text-bg-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>
                {{/correct}}
            {{/display-score-badge}}
        {{/parse-error}}
        {{#parse-error}}
        <span class="small" style="white-space: nowrap">
            <span class="badge text-bg-danger">
                Invalid <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </span>
            <a
                class="link-primary"
                tabindex="0"
                role="button"
                data-bs-placement="auto"
                data-bs-toggle="popover"
                data-bs-html="true"
                title="Format error"
                data-bs-content="{{parse-error}}"
            >
            More info…
            </a>
        </span>   
        {{/parse-error}}
    </span>
{{/submission}}


{{#answer}}
    <span class="d-inline-block">
        <code class="user-output">{{{correct-answer}}}</code>
    </span>
{{/answer}}
