<script>
$(function() {
    new window.PLExternalImageCapture(
      "{{qr_code_url}}"
    );
});
</script>

<div id="external-image-capture-{{name}}">
  <input
    id="hidden-submission-input"
    type="hidden"
    name="{{name}}"
    data-skip-unload-check="true"
  />
  <button 
    id="scan-submission-button"
    type="button" 
    class="btn btn-primary"
    data-bs-toggle="popover"
    data-bs-container="body"
    data-bs-html="true"
    data-bs-placement="auto"
    data-bs-title="Scan handwritten submission"
    data-bs-content='
    <div class="w-100 d-flex flex-column align-items-center">
      <div id="qr-code" class="mb-3 bg-body-secondary d-flex justify-content-center align-items-center rounded border" style="width:200px;height:200px">
        <div class="spinning-wheel spinner-border">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <p class="text-muted small mb-0">
        Scan on your mobile device to submit your work.
      </p>
    </div>'
  >
    <i class="bi bi-qr-code-scan me-1"></i>
    Scan handwritten submission
  </button>
  <p class="text-muted small mt-1">
    You’ll use a mobile device to submit work.
  </p>
  
  <div id="uploaded-image-container">
    <div
      id="image-placeholder"
      class="bg-body-secondary d-flex justify-content-center align-items-center rounded border"
      style="width: 300px; height: 200px;"
    >
      <div class="spinning-wheel spinner-border">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  
  <button id="reload-submission-button" class="btn btn-primary mt-2" disabled>
    <i class="bi bi-arrow-clockwise me-1"></i>
    Reload
  </button>

</div>