<script>
$(function() {
    var UUID = "external-image-capture-{{uuid}}";

    new window.PLExternalImageCapture(
      {{course_instance_id}}, 
      {{instance_question_id}},
      UUID
    );
});
</script>

<div id="external-image-capture-{{uuid}}">
  <input
    type="hidden"
    name="submission_field"
    value="{{submission_field}}"
  />
  <button 
    id="scan-submission-button"
    type="button" 
    class="btn btn-primary"
    data-bs-toggle="popover"
    data-bs-container="body"
    data-bs-html="true"
    data-bs-placement="auto"
    data-bs-title="Scan handwritten submission"
    data-bs-content='
    <div class="w-100 d-flex flex-column align-items-center">
      <div id="qrCode" class="mb-3 bg-body-secondary d-flex justify-content-center align-items-center rounded border" style="width:200px;height:200px">
        <div class="spinning-wheel spinner-border">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <p class="text-muted small mb-0">
        Scan on your mobile device to submit your work.
      </p>
    </div>'
  >
    <i class="bi bi-qr-code-scan me-1"></i>
    Scan handwritten submission
  </button>
  <p class="text-muted small mt-1">
    You’ll use a mobile device to submit work.
  </p>

    <div class="card mb-4">
        <div class="flex-grow=1 p-3">
            <i class="file-status-icon far fa-circle" aria-hidden="true"></i>
            <span class="ms-1">Submission</span>
            <p class="text-muted small mb-0">not uploaded</p>
        </div>
    </div>
</div>