<script>
$(function() {
    new window.PLExternalImageCapture(
      "{{qr_code_url}}"
    );
});
</script>

<div id="external-image-capture-{{element_id}}">
  <input
    type="hidden"
    name="submission_field"
    value="{{submission_field}}"
  />
  <p class="small text-muted">Current submission</p>
  <br/>
  <img
    id="preview-image"
    class="img-fluid rounded border border-secondary mb-1 d-none"
    style="max-height: 300px;"
  />
  <br/>
  <button 
    id="scan-submission-button"
    type="button" 
    class="btn btn-primary"
    data-bs-toggle="popover"
    data-bs-container="body"
    data-bs-html="true"
    data-bs-placement="auto"
    data-bs-title="Scan handwritten submission"
    data-bs-content='
    <div class="w-100 d-flex flex-column align-items-center">
      <div id="qr-code" class="mb-3 bg-body-secondary d-flex justify-content-center align-items-center rounded border" style="width:200px;height:200px">
        <div class="spinning-wheel spinner-border">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <p class="text-muted small mb-0">
        Scan on your mobile device to submit your work.
      </p>
    </div>'
  >
    <i class="bi bi-qr-code-scan me-1"></i>
    Scan handwritten submission
  </button>
  <p class="text-muted small mt-1">
    You’ll use a mobile device to submit work.
  </p>
</div>