<div class="accordion mb-3">
  <details class="accordion-item" {{#show}}open{{/show}}>
    <summary class="accordion-button {{^show}}collapsed{{/show}}">
        {{title}}
    </summary>
    <div class="accordion-body">
      {{{content}}}
    </div>
  </details>
</div>
