<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
      <script>
       $(function () {
           $('[data-toggle="popover"]').popover({sanitize: false})
       });
      </script>
      <%- include('../partials/navbar', {navPage: 'admin', navSubPage: 'courses' }); %>
      <main id="content" class="container-fluid">
          <%- include('courseRequestsTable', { 'show_all': true }) %>
      </main>
  </body>
</html>
