.pl-multiple-choice-popover {
    width: 340px;
    max-width: 100%;
}

:not(.form-check-inline) > .pl-multiple-choice-key-label {
    min-width: 1.25em;
    overflow-wrap: normal;
}

.pl-multiple-choice-hint {
    border-left: .25rem solid #999;
    background-color: #F9F9F9;
    padding: .25rem .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: .2rem;
}
