{{#question}}

{{#inline}}
<span>
{{/inline}}
{{#answers}}
    <div class="form-check {{#inline}}form-check-inline d-inline-flex{{/inline}}{{^inline}}d-flex{{/inline}} align-items-center py-1">
        <input class="form-check-input mt-0" type="radio"
               name="{{name}}" value="{{key}}" {{^editable}}disabled{{/editable}}
               {{#checked}}checked{{/checked}} id="{{name}}-{{key}}">

        <label class="form-check-label d-flex align-items-center" for="{{name}}-{{key}}">
            {{^hide_letter_keys}}<div class="pl-multiple-choice-key-label">({{key}})</div>{{/hide_letter_keys}}
            <div class="ml-1 mr-1">{{{html}}}</div>
        </label>

        {{#display_feedback}}
        <div class="pl-multiple-choice-feedback">
            {{{feedback}}}
        </div>
        {{/display_feedback}}

        {{#display_score_badge}}
            {{#correct}}
                <span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i></span>
            {{/correct}}
            {{#incorrect}}
                <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
            {{/incorrect}}
        {{/display_score_badge}}
    </div>
{{/answers}}

{{#display_score_badge}}
    &nbsp;
    {{#correct}}
        <span class="badge badge-success"><i class="fas fa-check" aria-hidden="true"></i> 100%</span>
    {{/correct}}
    {{#incorrect}}
        <span class="badge badge-danger"><i class="fas fa-times" aria-hidden="true"></i> 0%</span>
    {{/incorrect}}
    {{#partial}}
        <span class="badge badge-warning"><i class="far fa-circle" aria-hidden="true"></i> {{partial}}%</span>
    {{/partial}}
{{/display_score_badge}}

{{#inline}}
</span>
{{/inline}}

{{/question}}
{{#submission}}
{{#parse_error}}
<script>
    $(function(){
        $('#pl-multiple-choice-submission-{{uuid}} [data-toggle="popover"]').popover({
            sanitize: false,
            container: 'body',
            template: '<div class="popover pl-checkbox-popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
        });
    });
</script>
        
<span id="pl-multiple-choice-submission-{{uuid}}">
    <span class="badge text-danger badge-invalid"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid</span>
    <a href="javascript:void(0);" role="button" class="btn btn-sm btn-secondary small border ml-1" data-placement="auto" data-trigger="focus" data-toggle="popover" data-html="true" title="Format Error" tabindex="0" data-content="{{parse_error}}"> Why <i class="fa fa-question-circle" aria-hidden="true"></i></a>
</span>
{{/parse_error}}
{{^parse_error}}

<div class="d-inline-flex align-items-center">
    <span>{{^hide_letter_keys}}({{key}}){{/hide_letter_keys}} {{{answer.html}}}</span>

    {{#display_feedback}}
        <div class="pl-multiple-choice-feedback">
            {{{feedback}}}
        </div>
    {{/display_feedback}}

    {{#display_score_badge}}
        &nbsp;
        {{#correct}}
            <span class="badge badge-success"><i class="fas fa-check" aria-hidden="true"></i> 100%</span>
        {{/correct}}
        {{#incorrect}}
            <span class="badge badge-danger"><i class="fas fa-times" aria-hidden="true"></i> 0%</span>
        {{/incorrect}}
        {{#partial}}
            <span class="badge badge-warning"><i class="far fa-circle" aria-hidden="true"></i> {{partial}}%</span>
        {{/partial}}
    {{/display_score_badge}}
</div>
    
{{/parse_error}}
{{/submission}}

{{#answer}}
    {{#inline}}<span class="d-inline-block"><ul class="list-inline mb-0">{{/inline}}
    {{^inline}}<div class="d-block"><ul class="list-unstyled mb-0">{{/inline}}
    {{#answers}}
        <li {{#inline}}class="list-inline-item"{{/inline}}>
            {{^hide_letter_keys}}({{key}}){{/hide_letter_keys}} {{{html}}}
        </li>
    {{/answers}}
    {{#inline}}</ul></span>{{/inline}}
    {{^inline}}</ul></div>{{/inline}}
{{/answer}}
