<% /* insert advertising banners like this:
      <div class="alert alert-info my-4">
      <img src="/images/hackillinois.png" class="mr-2" style="height: 22px; margin-top: -4px;"/>
      <small>PrairieLearn will be at HackIllinois 2018 — <a href="/pl/hackillinois" target="_blank">check out our projects!</a></small>
      </div>
*/ %>
