<div id="num-attempts-histogram-<%= title %>">
</div>
<script>
    $(function() {
      var data = [ <%= question_attempts_histogram %>];
      var negativeData = [ <%= question_attempts_before_giving_up_histogram %>];
      var xgrid = _.range(0, 10, 1);
      var options = {
        ymin: 0,
        xlabel: 'Num attempts',
        ylabel: 'Count',
      };
      stacked_histogram("#num-attempts-histogram-<%= title %>", data, negativeData, xgrid, options);
    });
</script>