<div id="float-chatbox">
  <head>
    <link rel="stylesheet" href="/stylesheets/chatbox.css" />
    <script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
    <%- include('chatboxScript'); %>
  </head>
  <body onresize="checkOutOfBound()">
    <button id="expand-button">
      Chat
    </button>
    <div class="chat-popup" id="chat-window">
      <form action="" class="form-container">
        <div id="chatbox-header" class="card-header text-white">
          <div class="float-container">
            <div style="font-size: 150%;">PrairieChat</div>
          </div>
          <div class="float-container">
            <div id="user-count">Offline</div>
            <ul id="users" class="dropdown-menu"></ul>
          </div>
        </div>
        <b style="text-align: left;">Chat History:</b>
        <ul id="messages" class="overflow-container"></ul>
        <b>Send New Message:</b>
        <textarea
          maxlength="500"
          placeholder="Type message.."
          id="msg"
          required
        ></textarea>

        <button type="submit" class="btn" id="submit-button">Send</button>
        <button
          type="button"
          class="btn cancel"
          id="close-button"
        >
          Close
        </button>
      </form>
      <ul id="reaction-selector" class="dropdown-menu"></ul>
    </div>
  </body>
</div>
