<% if (count > 0) { %>
    <% if (!(typeof suppressLink != 'undefined' && suppressLink)) { %>
        <a href="<%= urlPrefix %>/errors">
    <% } %>
    <span class="badge progress-bar-danger"><%= count %></span>
    <% if (!(typeof suppressLink != 'undefined' && suppressLink)) { %>
        </a>
    <% } %>
<% } %>
