<form method="POST">
    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
    <input type="hidden" name="error_id" value="<%= error_id %>">
    <% if (open) { %>
        <span class="label label-danger">Open</span>
        <button class="btn btn-xs btn-default" name="__action" value="close"><i class="fa fa-times" aria-hidden="true"></i></button>
    <% } else { %>
        <span class="label label-default">Closed</span>
        <button class="btn btn-xs btn-default" name="__action" value="open"><i class="fa fa-repeat" aria-hidden="true"></i></button>
    <% } %>
</form>
