<span class="align-middle">
<% if (instance_question.status == 'unanswered') { %>
    <span class="badge badge-danger">unanswered</span>
<% } else if (instance_question.status == 'invalid') { %>
    <span class="badge badge-danger">invalid</span>
<% } else if (instance_question.status == 'saved') { %>
    <span class="badge badge-info">saved</span>
<% } else if (instance_question.status == 'grading') { %>
    <span class="badge badge-default">grading</span>
<% } else { %>
    <% if (instance_question.highest_submission_score >= 1) { %>
        <span class="badge badge-success"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } else if (instance_question.highest_submission_score <= 0) { %>
        <span class="badge badge-danger"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } else { %>
        <span class="badge badge-warning"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } %>
<% } %>

<% if ("next_submission_left_ms" in instance_question && instance_question.next_submission_left_ms > 0) { %>
<a class="btn btn-xs" data-toggle="popover" data-html="true" data-content="This question limits the rate of submissions. No further submissions will be processed until: <%= instance_question.next_submission_formatted_date %>" data-placement="auto" data-trigger="focus" data-container="body" tabindex="0">
    <i class="fa fa-hourglass-half" aria-hidden="true"></i>
</a>
<% } %>
</span>