<% if (instance_question.status == 'unanswered') { %>
    <span class="badge badge-danger">unanswered</span>
<% } else if (instance_question.status == 'invalid') { %>
    <span class="badge badge-danger">invalid</span>
<% } else if (instance_question.status == 'saved') { %>
    <span class="badge badge-info">saved</span>
<% } else if (instance_question.status == 'grading') { %>
    <span class="badge badge-default">grading</span>
<% } else { %>
    <% if (instance_question.highest_submission_score >= 1) { %>
        <span class="badge badge-success"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } else if (instance_question.highest_submission_score <= 0) { %>
        <span class="badge badge-danger"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } else { %>
        <span class="badge badge-warning"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } %>
<% } %>
