<form name="time-limit-finish-form" method="POST">
  <input type="hidden" name="__action" value="timeLimitFinish">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
</form>

<script>
  window.allowQuestionUnload = false;
  
  window.submitTimeLimitFinish = function() {
      // do not trigger unsaved warning dialog
      window.allowQuestionUnload = true;
      document.forms['time-limit-finish-form'].submit();
  };
  window.timeLimitBGColor = function(remainingSec) {
      if (remainingSec >= 180) {
          return 'bg-primary';
      } else if (remainingSec >= 60) {
          return 'bg-warning';
      } else {
          return 'bg-danger';
      }
  };
</script>

<%- include('countdown', {
     serverTimeLimitMS: serverTimeLimitMS,
     serverRemainingMS: serverRemainingMS,
     progressSelector: progressSelector,
     displaySelector: displaySelector,
     serverUpdateURL: typeof serverUpdateURL === "undefined" ? null : serverUpdateURL,
     timerOutCode: "window.submitTimeLimitFinish();",
     backgroundColorFunction: "window.timeLimitBGColor",
   }) %>