<span class="align-middle">
<% if (instance_question.status == 'unanswered') { %>
    <span class="badge badge-danger">unanswered</span>
<% } else if (instance_question.status == 'invalid') { %>
    <span class="badge badge-danger">invalid</span>
<% } else if (instance_question.status == 'saved') { %>
    <span class="badge badge-info">saved</span>
<% } else if (instance_question.status == 'grading') { %>
    <span class="badge badge-default">grading</span>
<% } else { %>
    <% if (instance_question.highest_submission_score >= 1) { %>
        <span class="badge badge-success"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } else if (instance_question.highest_submission_score <= 0) { %>
        <span class="badge badge-danger"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } else { %>
        <span class="badge badge-warning"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } %>
<% } %>

<% if (instance_question.allow_grade_left_ms != null && instance_question.allow_grade_left_ms > 0) { %>
<a class="grade-rate-limit-popover btn btn-xs" data-toggle="popover" data-html="true" data-content="This question limits the rate of submissions. Further grade allowed <%= instance_question.allow_grade_interval %> (as of the loading of this page)." data-placement="auto" data-trigger="focus" data-container="body" tabindex="0">
    <i class="fa fa-hourglass-half" aria-hidden="true"></i>
</a>
<% } %>
</span>
