<% include('pointsFormatter'); %>

<% if (!open || (points_list.length == 0)) { %>
    —
<% } else if (points_list.length == 1) { %>
    <%= getStringFromFloat(points_list[0]) %>
<% } else { %>
    <%= getStringFromFloat(points_list[0]) %>,
    <small><span class="text-muted"><%= getStringFromFloat(points_list.slice(1)) %></span></small>
<% } %>
