<% if (instance_question.status == 'unanswered') { %>
    <span class="label label-danger">unanswered</span>
<% } else if (instance_question.status == 'saved') { %>
    <span class="label label-info">saved</span>
<% } else if (instance_question.status == 'grading') { %>
    <span class="label label-default">grading</span>
<% } else { %>
    <% if (instance_question.highest_submission_score >= 1) { %>
        <span class="label label-success"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } else if (instance_question.highest_submission_score <= 0) { %>
        <span class="label label-danger"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } else { %>
        <span class="label label-warning"><%= Math.floor(instance_question.highest_submission_score * 100) %>%</span>
    <% } %>
<% } %>
