<% include('pointsFormatter'); %>

<span class="text-nowrap">
  <% if (locals.points_pending || points === null) {%>
  <span class="badge badge-info">pending</span>
  <% } else { %>
  <span data-testid="awarded-points"><%= getStringFromFloat(points) %></span>
  <% } %>
  <% if (max_points) { %>
  <small>/<span class="text-muted"><%= max_points %></span></small>
  <% } %>
</span>
