<ul class="list-group">
  <li class="list-group-item"><b>Total jobs:</b> <%- stats.total %></li>
  <li class="list-group-item"><b>Completed jobs:</b> <%- stats.completed %></li>
  <li class="list-group-item"><b>Average duration:</b> <%- (stats.duration && Number(stats.duration).toFixed(1) + 's') || 'N/A' %></li>
</ul>
