<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PrairieLearn</title>
<link href="/stylesheets/bootstrap4.min.css" rel="stylesheet" />
<link href="/stylesheets/colors.css" rel="stylesheet" />
<link href="/stylesheets/local.css" rel="stylesheet" />
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap4.bundle.min.js"></script>
<script type="text/javascript" src="/javascripts/fontawesome-all.min.js" rel="stylesheet"></script>
