<div id="linkNav">
  <a class="btn btn-s btn-secondary" type="button" href="<%=assessment.help_link%>" target="_blank" rel="noopener noreferrer">
    Ask course staff for help with this question
  </a>
</div>
