<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "access") { %>active<% } %>" href="<%= urlPrefix %>/instance_admin/access"><i class="far fa-calendar-alt"></i> Access</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "lti") { %>active<% } %>" href="<%= urlPrefix %>/instance_admin/lti"><i class="fas fa-graduation-cap"></i> LTI</a>
  </li>
</ul>
