<form method="POST" style="white-space: nowrap;">
    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
    <input type="hidden" name="issue_id" value="<%= issue_id %>">
    <% if (open) { %>
        <span class="badge badge-danger">Open</span>
        <button class="btn btn-xs btn-secondary" name="__action" value="close"><i class="fa fa-times" aria-hidden="true"></i></button>
    <% } else { %>
        <span class="badge badge-default">Closed</span>
        <button class="btn btn-xs btn-secondary" name="__action" value="open"><i class="fa fa-redo" aria-hidden="true"></i></button>
    <% } %>
</form>
