<% if (count > 0) { %>
    <% if (!(typeof suppressLink != 'undefined' && suppressLink)) { %>
        <% if (typeof issueQid != 'undefined') { %>
            <a href="<%= urlPrefix %>/issues?qid=<%= issueQid %>">
        <% } else { %>
            <a href="<%= urlPrefix %>/issues">
        <% } %>
    <% } %>
    <span class="badge progress-bar-danger"><%= count %></span>
    <% if (!(typeof suppressLink != 'undefined' && suppressLink)) { %>
        </a>
    <% } %>
<% } %>
