<% if (typeof authn_user != 'undefined') { %>
   <% if (authn_provider_name == 'Shibboleth' || authn_provider_name == 'Google' || authn_provider_name == 'Azure'
          || authn_provider_name == 'LTI') { %>
       <a class="dropdown-item" href="<%= plainUrlPrefix %>/logout">Log out</a>
   <% } else { %>
       <a class="dropdown-item disabled">Log out</a>
   <% } %>
<% } else { %>
   <a class="dropdown-item disabled">Log out</a>
<% } %>
