<% if (typeof authn_user != 'undefined') { %>
  <% if (['Shibboleth', 'Google', 'Azure', 'LTI', 'Dev'].includes(authn_provider_name)) { %>
       <a class="btn btn-secondary" href="<%= plainUrlPrefix %>/logout">Log out</a>
   <% } else { %>
       <a class="btn btn-secondary disabled">Log out</a>
   <% } %>
<% } else { %>
   <a class="btn btn-secondary disabled">Log out</a>
<% } %>
