<% if (typeof authn_user != 'undefined') { %>
   <% if (authn_user.provider == 'shibboleth' || authn_user.provider == 'google' || authn_user.provider == 'azure'
          || authn_user.provider == 'lti') { %>
       <a class="btn btn-secondary" href="<%= plainUrlPrefix %>/logout">Log out</a>
   <% } else { %>
       <a class="btn btn-secondary disabled">Log out</a>
   <% } %>
<% } else { %>
   <a class="btn btn-secondary disabled">Log out</a>
<% } %>
