<% if (typeof authn_user != 'undefined') { %>
   <% if (authn_user.provider == 'shibboleth') { %>
       <a class="btn btn-secondary" href="<%= plainUrlPrefix %>/logout">Log out</a>
   <% } else if (authn_user.provider == 'azure') { %>
       <a class="btn btn-secondary" href="<%= config.azureDestroySessionUrl %>">Log out</a>
   <% } else { %>
       <a class="btn btn-secondary disabled">Log out</a>
   <% } %>
<% } else { %>
   <a class="btn btn-secondary disabled">Log out</a>
<% } %>
