
      <% if (is_administrator) { %>
      <li class="nav-item <% if (navPage == "admin") { %>active<% } %>"><a class="nav-link" href="<%= plainUrlPrefix %>/administrator/overview">Admin</a></li>
      <% } %>

    </ul>
