
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Course title ---------------------------------------------------------------->

      <li class="nav-item mr-4"><span class="navbar-text"><%= course.short_name %></span></li>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Main pages ------------------------------------------------------------------>

      <li class="nav-item <% if (navPage == "courseOverview") { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/overview">Course</a></li>
      <% if (!devMode && authz_data.has_course_permission_edit) { %>
      <li class="nav-item <% if (navPage == "sync")           { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/syncs">Sync</a></li>
      <% } %>

    </ul>
