<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= plainUrlPrefix %>">PrairieLearn</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="main-nav">

        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-- Reload ---------------------------------------------------------------------->

        <% if (devMode) { %>
        <a class="btn btn-success navbar-btn" href="<%= urlPrefix %>/instructor/reload">Reload</a>
        <% } %>

      </ul>

      <div class="navbar-right">
        <% if (devMode) { %>
        <a class="btn btn-default navbar-btn" href="">Log out</a>
        <% } else { %>
        <a class="btn btn-default navbar-btn" href="https://prairielearn.engr.illinois.edu/Shibboleth.sso/Logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
