<% include('pointsFormatter'); %>

<% if (points == 0) { %>
<span class="badge badge-danger">
<% } else if (points < max_points) { %>
<span class="badge badge-warning">
<% } else { %>
<span class="badge badge-success">
<% } %>
<%= getStringFromFloat(points) %>/<%= getStringFromFloat(max_points) %>
</span>
