<div class="text-center">
  <%- include("../partials/questionNavSideButton", {
    button: {
      "label": "Previous question",
      "question": instance_question_info.prev
    }
  }); %>
  <%- include("../partials/questionNavSideButton", {
    button: {
      "label": "Next question",
      "sequenceBlockedPopoverContent": `You must score at least ${instance_question_info.min_advance_perc}% on this question in order to unlock the next.`,
      "question": instance_question_info.next
    }
  }); %>
</div>
