<div class="text-center mb-4">
  <%- include("../partials/questionNavSideButton", {
    button: {
      "id": "question-nav-prev",
      "label": "Previous question",
    },
    question: instance_question_info.prev,
  }); %>
  <%- include("../partials/questionNavSideButton", {
    button: {
      "id": "question-nav-next",
      "label": "Next question",
    },
    question: instance_question_info.next,
    unlock_score: instance_question_info.advance_score_perc,
  }); %>
</div>
