<div class="text-center">
  <%- include("../partials/questionNavSideButton", {
    button: {
      "id": "question-nav-prev",
      "label": "Previous question",
      "sequenceLockedPopoverContent": "Earlier problems must be completed to go back.",
      "question": instance_question_info.prev
    }
  }); %>
  <%- include("../partials/questionNavSideButton", {
    button: {
      "id": "question-nav-next",
      "label": "Next question",
      "sequenceLockedPopoverContent": `You must score at least ${instance_question_info.advance_score_perc}% on this question to unlock the next.`,
      "question": instance_question_info.next
    }
  }); %>
</div>
