<link rel="stylesheet" href="/stylesheets/sketchpadPanel.css">
<div class="card pl-sketch-card">
    <div class="card-header" data-toggle="collapse" data-target="#pl-sketch-panel">
        Sketchpad Panel
    </div>
    <div class="pl-sketch-panel card-body" id="pl-sketch-panel">
        <div class="pl-sketch-controls" style="width: 500px">
            <div class="pl-sketch-control-group">
                <div class="pl-sketch-control fa fa-undo fa-2x" id="undo-panel"></div>
                <div class="pl-sketch-control fa fa-redo fa-2x" id="redo-panel"></div>
                <div class="pl-sketch-control fa fa-pen fa-2x" id="pen-panel"></div>
                <div class="pl-sketch-control fa fa-eraser fa-2x" id="eraser-panel"></div>
            </div>
            <div class="pl-sketch-control-group">
                <div class="pl-sketch-setting" id="color-picker-panel">
                    <div class="pl-sketch-control pl-sketch-color-icon" id="color-panel" style="background-color: #000000"></div>
                    <div class="pl-sketch-popup pl-sketch-hidden" id="color-popup-panel">
                        <div class="pl-sketch-circle" style="background-color: #FFEB3B"></div>
                        <div class="pl-sketch-circle" style="background-color: #FF9800"></div>
                        <div class="pl-sketch-circle" style="background-color: #F44336"></div>
                        <div class="pl-sketch-circle" style="background-color: #E91E63"></div>
                        <div class="pl-sketch-circle" style="background-color: #9C27B0"></div>
                        <div class="pl-sketch-circle" style="background-color: #3F51B5"></div><br>
                        <div class="pl-sketch-circle" style="background-color: #00BCD4"></div>
                        <div class="pl-sketch-circle" style="background-color: #4CAF50"></div>
                        <div class="pl-sketch-circle" style="background-color: #795548"></div>
                        <div class="pl-sketch-circle" style="background-color: #E0E0E0"></div>
                        <div class="pl-sketch-circle" style="background-color: #616161"></div>
                        <div class="pl-sketch-circle" style="background-color: #000000"></div>
                    </div>
                </div>
            </div>
        </div>
        <canvas class="pl-sketch-canvas" id="pl-sketch-canvas-panel" data-width="80%" data-height="80%"></canvas>
        <div class="pl-sketch-controls" style="width: 500px">
            <button class="btn btn-info">Save</button>
        </div>
    </div>
</div>
<script src="/localscripts/sketchpadPanel.js"></script>
