<%
    const fullNavTrace = (typeof navTrace == 'undefined') ? [] : navTrace;

    // If page is associated with a particular course,
    // always display the short name, e.g. QA 101
    if (typeof course !== 'undefined') {
        var courseName = course.short_name;
        // If an instructor is viewing, always display the
        // short course instance name, e.g. fa19
        if (typeof navbarType !== 'undefined'
        && navbarType == 'instructor'
        && typeof course_instance !== 'undefined') {
            courseName += ', ' + course_instance.short_name;
        }
        fullNavTrace.push(courseName);
    }
%>
<title>
    <% if (fullNavTrace.length > 0) { %>
        <%= fullNavTrace.join(" - ") + " | " %>
    <% } %>
    PrairieLearn
</title>
