{{^inline}}
<div class="container-fluid">
{{/inline}}
    <img src="{{src}}" {{#width}}width="{{width}}"{{/width}} class="img-fluid mx-auto {{#inline}}d-inline{{/inline}}{{^inline}}d-block{{/inline}}" />
{{^inline}}
</div>
{{/inline}}
