{{#question}}
{{! FIXME: Put this somewhere else.}}
<style>
    .popover{max-width: 50%;}
</style>

{{! FIXME: Put this somewhere else.}}
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({container: 'body'});
    });
</script>

<div class="input-group">
    {{#label}}<label class="input-group-addon" id="basic-addon2">{{label}}</label>{{/label}}
    <input name="{{name}}" type="text" class="form-control" {{^editable}}disabled{{/editable}} {{#raw_submitted_answer}}value="{{raw_submitted_answer}}"{{/raw_submitted_answer}} aria-describedby="basic-addon1" placeholder="{{shortinfo}}" />
    <div class="input-group-btn" id="basic-addon1">
        <button class="btn btn-light border" type="button" data-toggle="popover" data-html="true" title="Matrix" data-content="{{info}}" data-placement="auto" data-trigger="focus" tabindex="0">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            {{#correct}}&nbsp;<span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>{{/correct}}
            {{#partial}}&nbsp;<span class="badge badge-warning"><i class="fa fa-circle-o" aria-hidden="true"></i> {{partial}}%</span>{{/partial}}
            {{#incorrect}}&nbsp;<span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>{{/incorrect}}
        </a>
    </div>
</div>
{{/question}}

{{#submission}}
{{#parse_error}}
{{! FIXME: Put this somewhere else.}}
<style>
    .popover{max-width: 50%;}
</style>

{{! FIXME: Put this somewhere else.}}
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({container: 'body'});
    });
</script>

{{#label}}<span>{{label}}</span>{{/label}}
<a class="btn btn-default" type="button" data-placement="auto" data-trigger="focus" data-toggle="popover" data-html="true" title="Error" tabindex="0" data-content="{{parse_error}}{{#raw_submitted_answer}}<hr><h5><small class='text-uppercase'>What you submitted</small></h5><pre>{{raw_submitted_answer}}</pre>{{/raw_submitted_answer}}">INVALID <span><i class="fa fa-question-circle" aria-hidden="true"></i></span></a>
{{/parse_error}}
{{^parse_error}}
{{#label}}<span>{{label}}</span>{{/label}}
<samp>{{a_sub}}</samp>
{{#correct}}<span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>{{/correct}}
{{#partial}}<span class="badge badge-warning"><i class="fa fa-circle-o" aria-hidden="true"></i> {{partial}}%</span>{{/partial}}
{{#incorrect}}<span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>{{/incorrect}}
{{/parse_error}}
{{/submission}}

{{#answer}}
<script>
    (function(){
        new Clipboard('.copy-button');
    })();
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" {{#default_is_matlab}}class="active"{{/default_is_matlab}}><a href="#matlab-{{element_index}}" aria-controls="matlab-{{element_index}}" role="tab" data-toggle="pill">matlab</a></li>
            <li role="presentation" {{#default_is_python}}class="active"{{/default_is_python}}><a href="#python-{{element_index}}" aria-controls="python-{{element_index}}" role="tab" data-toggle="pill">python</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {{#default_is_matlab}}active{{/default_is_matlab}}" id="matlab-{{element_index}}">
                <p>
                    {{#label}}<span>{{label}}</span>{{/label}}
                    <samp id="matlab-data-{{element_index}}">{{matlab_data}}</samp>
                </p>
                <button type="button" class="btn btn-default btn-xs copy-button" data-clipboard-target="#matlab-data-{{element_index}}">
                    copy this answer
                </button>
            </div>
            <div role="tabpanel" class="tab-pane {{#default_is_python}}active{{/default_is_python}}" id="python-{{element_index}}">
                <p>
                    {{#label}}<span>{{label}}</span>{{/label}}
                    <samp id="python-data-{{element_index}}">{{python_data}}</samp>
                </p>
                <button type="button" class="btn btn-default btn-xs copy-button" data-clipboard-target="#python-data-{{element_index}}">
                    copy this answer
                </button>
            </div>
        </div>
    </div>
</div>
{{/answer}}

{{#format}}
<p>
Your answer must be a matrix (i.e., a 2D array). It can be expressed in one of two ways:
</p>
<ul>
    <li><strong>Matlab Format.</strong> Enclose it by a single pair of square brackets. Separate entries in each row with a space. Indicate the end of each intermediate row with a semicolon. Example: <samp>[1 2 3; 4 5 6]</samp></li>
    <li><strong>Python Format.</strong> Enclose it by a single pair of square brackets. Enclose each row by a single pair of square brackets. Separate rows with a comma. Separate entries in each row with a comma. Example: <samp>[[1, 2, 3], [4, 5, 6]]</samp></li>
</ul>
<p>
 Each entry must be a number. No symbolic expressions (those that involve fractions, square roots, variables, etc.) will be accepted. Scientific notation is accepted (e.g., 1.2e03). {{#relabs}}Numbers must be accurate to within relative tolerance {{rtol}} and absolute tolerance {{atol}}.{{/relabs}}{{#sigfig}}Numbers must be accurate to {{digits}} significant figures.{{/sigfig}}{{#decdig}}Numbers must be accurate to {{digits}} digits after the decimal.{{/decdig}}
</p>
{{/format}}

{{#shortformat}}
matrix {{#relabs}}(rtol={{rtol}}, atol={{atol}}){{/relabs}}{{#sigfig}}({{digits}} significant figures){{/sigfig}}{{#decdig}}({{digits}} digits after decimal){{/decdig}}
{{/shortformat}}
