<form name="add-question-form" class="needs-validation" method="POST" novalidate>
    <input type="hidden" name="__action" value="questions_insert">
    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
    <div class="form-group">
        <label for="questionAddInputTitle">Title:</label>
        <input type="text" class="form-control" id="courseAddInputTitle" name="questions_insert_title" value="My new question" required>
        <div class="invalid-feedback">
            Please choose a title
        </div>
    </div>
    <div class="form-group">
        <label for="courseAddInputId">ID:</label>
        <input type="text" class="form-control" id="courseAddInputId" name="questions_insert_id" value="myNewQuestion" pattern="[-A-Za-z0-9_]+" required>
        <div class="invalid-feedback" id="invalidIdMessage">
        </div>
    </div>
    <button type="button" class="btn btn-secondary" onclick="$('#<%= id %>').popover('hide')">
        Cancel
    </button>
    <button type="submit" class="btn btn-primary">Add question</button>
</form>

<script>
    $(function() {
        const validateId = function() {
            let element = $('input[name="questions_insert_id"]');
            let elementDOM = element.get(0);
            let qid = $(element).val();
            <% questions.forEach(function(question) { %>
                if (qid === "<%= question.qid %>") {
                    elementDOM.setCustomValidity('Must be unique');
                    $('#invalidIdMessage').text('Must be unique');
                    return;
                }
            <% }); %>
            elementDOM.setCustomValidity('');
            if (elementDOM.validity.patternMismatch) {
                $('#invalidIdMessage').text('Only letters, numbers, dashes, and underscores, with no spaces');
            } else if (elementDOM.validity.valueMissing) {
                $('#invalidIdMessage').text('Please choose an ID');
            } else {
                $('#invalidIdMessage').text('');
            }
        }

        $('input[name="questions_insert_id"]').on('input', validateId);
        $('input[name="questions_insert_id"]').on('change', validateId);

        $('form[name="add-question-form"]').submit(function(event) {
            validateId();
            if ($(this).get(0).checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            $(this).addClass('was-validated');
        });
    });
</script>
