<script src="/node_modules/clipboard/dist/clipboard.min.js"></script>
<script>
    (function(){
        new Clipboard('.copy-button');
    })();
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" {{#default_is_matlab}}class="active"{{/default_is_matlab}}><a href="#matlab-{{element_index}}" aria-controls="matlab-{{element_index}}" role="tab" data-toggle="pill">matlab</a></li>
            <li role="presentation" {{#default_is_python}}class="active">{{/default_is_python}}<a href="#python-{{element_index}}" aria-controls="python-{{element_index}}" role="tab" data-toggle="pill">python</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {{#default_is_matlab}}active{{/default_is_matlab}}" id="matlab-{{element_index}}">
                <pre id="matlab-data-{{element_index}}">{{matlab_data}}</pre>
                <button type="button" class="btn btn-default btn-xs copy-button" data-clipboard-target="#matlab-data-{{element_index}}">
                    copy this text
                </button>
            </div>
            <div role="tabpanel" class="tab-pane {{#default_is_python}}active{{/default_is_python}}" id="python-{{element_index}}">
                <pre id="python-data-{{element_index}}">{{python_data}}</pre>
                <button type="button" class="btn btn-default btn-xs copy-button" data-clipboard-target="#python-data-{{element_index}}">
                    copy this text
                </button>
            </div>
        </div>
    </div>
</div>
