<script>
    (function(){
        new Clipboard('.copy-button');
    })();
</script>

<div class="card mb-4">
    <div class="card-header">
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link{{#default_is_matlab}} active{{/default_is_matlab}}" href="#matlab-{{element_index}}" aria-controls="matlab-{{element_index}}" role="tab" data-toggle="pill">matlab</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link{{#default_is_python}} active{{/default_is_python}}" href="#python-{{element_index}}" aria-controls="python-{{element_index}}" role="tab" data-toggle="pill">python</a></li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {{#default_is_matlab}}active{{/default_is_matlab}}" id="matlab-{{element_index}}">
                <pre class="bg-dark text-white rounded p-2" id="matlab-data-{{element_index}}">{{matlab_data}}</pre>
                <button type="button" class="btn btn-secondary btn-sm copy-button" data-clipboard-target="#matlab-data-{{element_index}}">
                    copy this text
                </button>
            </div>
            <div role="tabpanel" class="tab-pane {{#default_is_python}}active{{/default_is_python}}" id="python-{{element_index}}">
                <pre class="bg-dark text-white rounded p-2" id="python-data-{{element_index}}">{{python_data}}</pre>
                <button type="button" class="btn btn-secondary btn-sm copy-button" data-clipboard-target="#python-data-{{element_index}}">
                    copy this text
                </button>
            </div>
        </div>
    </div>
</div>
