<p>
  <% if (submittedAnswer.radial === "towardsIncreasing") { %>
    The particle is moving towards the origin at an increasing rate.
  <% } else if (submittedAnswer.radial === "towardsDecreasing") { %>
    The particle is moving towards the origin at a decreasing rate.
  <% } else if (submittedAnswer.radial === "awayIncreasing") { %>
    The particle is moving away from the origin at an increasing rate.
  <% } else if (submittedAnswer.radial === "awayDecreasing") { %>
    The particle is moving away from the origin at a decreasing rate.
  <% } %>
</p>
