<p>
    This date is the earliest <code>startDate</code> that appears in any <code>accessRule</code> for the course instance. Course instances are listed in order from newest to oldest according to this date.
</p>
<p>
    It is recommended that you define at least one <code>accessRule</code> that makes the course instance accessible to students only during the semester or other time period in which that particular course instance is offered. You can do so by editing the <code>infoCourseInstance.json</code> file for the course instance. For more information, see the <a href="https://prairielearn.readthedocs.io/en/latest/accessControl/">documentation on access control</a>.
</p>
