<pl-question-panel>
  <p>Which of the following are considered fundamental programming concepts?</p>
</pl-question-panel>

<pl-multiple-choice answers-name="cs-concepts" all-of-the-above="correct" number-answers="4">
  <pl-answer correct="true">Variables</pl-answer>
  <pl-answer correct="true">Loops</pl-answer>
  <pl-answer correct="true">Conditionals</pl-answer>
  <pl-answer correct="false">Graphics</pl-answer>
  <pl-answer correct="false">User Interface Design</pl-answer>
</pl-multiple-choice>
