<script>
  $(async function() {
    const element = document.getElementById('xss-{{uuid}}');
    const language = element.dataset.language;
    let code = element.dataset.code;
    // Uses the same JS library as the pl-file-editor for markdown
    // conversion and xss filter for compatibility and to avoid
    // confusion
    if (language == "markdown") {
      const marked = (await import('marked')).marked;
      await MathJax.startup.promise;
      (await import('@prairielearn/marked-mathjax')).addMathjaxExtension(marked, MathJax);
      code = marked.parse(code);
    }
    code = DOMPurify.sanitize(code);
    const shadowRoot = element.attachShadow({ mode: 'open' });
    shadowRoot.innerHTML = code;
    // MathJax styles need to be applied to the shadow DOM
    const mjxStyles = document.getElementById('MJX-SVG-styles');
    shadowRoot.appendChild(mjxStyles.cloneNode(true));
    await MathJax.typesetPromise(shadowRoot.children);
  });
</script>
<div id="xss-{{uuid}}" data-code="{{contents}}" data-language="{{language}}"></div>
