.badge-workspace {
  padding: 0.3rem 0.4rem;
}

.badge-prepend {
  border-radius: 0.25rem 0 0 0.25rem;
}

.badge-append {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: 1px solid var(--secondary);
  opacity: 0.95;
}

.badge-outline {
  border: 1px solid var(--dark);
  font-weight: 400;
}

.popover {
  max-width: 30rem;
}
