[id^='file-editor'] .editor {
  height: 300px;
  width: 100%;
}

[id^='file-editor'] .preview {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
