/* Global styles for the PrairieLearn UI components. These should be included in any
page that uses the PrairieLearn UI components, and class names should not be directly referenced by consumers.
*/

body.pl-ui-no-user-select {
  user-select: none;
  -webkit-user-select: none;
}

.pl-ui-tanstack-table-search-input {
  padding-right: 2.5rem;
}

.btn.btn-floating-clear {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.25rem 0.5rem;
  color: var(--bs-secondary);
  opacity: 0.6;
  transition: opacity 0.15s ease-in-out;
  text-decoration: none;
}

.btn.btn-floating-icon:hover {
  opacity: 1;
  color: var(--bs-secondary);
  text-decoration: none;
}

.btn.btn-floating-icon:focus {
  opacity: 1;
  color: var(--bs-secondary);
  text-decoration: none;
}

/* https://react-bootstrap.github.io/docs/getting-started/theming/#new-variants-and-sizes */
.btn.btn-tanstack-table {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: var(--bs-input-bg);
  --bs-btn-border-color: var(--bs-border-color);
  --bs-btn-hover-color: var(--bs-body-color);
  --bs-btn-hover-bg: var(--bs-border-color);
  --bs-btn-hover-border-color: var(--bs-border-color);
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
  --bs-btn-active-color: var(--bs-body-color);
  --bs-btn-active-bg: var(--bs-border-color);
  --bs-btn-active-border-color: var(--bs-border-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-body-color);
  --bs-btn-disabled-bg: var(--bs-secondary-bg);
  --bs-btn-disabled-border-color: var(--bs-border-color);
}

:is(.btn.btn-tanstack-table, .pl-ui-tanstack-table-focusable-shadow):not(:focus-visible) {
  box-shadow: var(--bs-box-shadow-sm);
}
