<p>
    Extensions may load their own custom JavaScript and CSS assets.  This extension loads a custom JavaScript file from <code class="user-output">extension-cssjs.js</code> to <span id="wave">provide some wacky effects</span>.
</p>
<p>
    Any client-side dependencies can be added to the extension's <code class="user-output">info.json</code> file, similarly to how question or element dependencies may be specified.
</p>
