<p>The reference solution:</p>

<div class="border">
  <pl-code language="python" source-file-name={{solution_path}}>
  </pl-code>
</div>
{{#notes}}
<div class="border">
  <h4>Notes regarding the solution:</h4>
  <div>
    {{notes}}
  </div>
</div>
{{/notes}}
