{{#question}}

{{#radio}}
{{#inline}}
<span>
{{/inline}}
    <span role="group" aria-label="{{aria_label}}">
    {{#answers}}
        <div class="form-check {{#inline}}form-check-inline d-inline-flex{{/inline}}{{^inline}}d-flex{{/inline}} align-items-center py-1 gap-2">
            <input
                class="form-check-input mt-0 flex-shrink-0"
                type="radio"
                name="{{name}}"
                value="{{key}}"
                id="{{name}}-{{key}}"
                {{^editable}}disabled{{/editable}}
                {{#selected}}checked{{/selected}}
            >

            <label class="form-check-label d-flex align-items-center" for="{{name}}-{{key}}">
                {{^hide_letter_keys}}<div class="pl-multiple-choice-key-label">({{key}})</div>{{/hide_letter_keys}}
                <div class="ms-1 me-1 pl-multiple-choice-answer">{{{html}}}</div>
            </label>

            {{#display_feedback}}
            <div class="pl-multiple-choice-feedback">
                {{{feedback}}}
            </div>
            {{/display_feedback}}

            {{#display_score_badge}}
                {{#correct}}
                    <span class="badge text-bg-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                {{/correct}}
                {{#incorrect}}
                    <span class="badge text-bg-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
                {{/incorrect}}
                {{#partial}}
                    <span class="badge text-bg-warning"><i class="far fa-circle" aria-hidden="true"></i></span>
                {{/partial}}
            {{/display_score_badge}}
        </div>
    {{/answers}}
    </span>

{{#display_score_badge}}
    {{#correct}}
        <span class="badge text-bg-success"><i class="fas fa-check" aria-hidden="true"></i> 100%</span>
    {{/correct}}
    {{#incorrect}}
        <span class="badge text-bg-danger"><i class="fas fa-times" aria-hidden="true"></i> 0%</span>
    {{/incorrect}}
    {{#partial}}
        <span class="badge text-bg-warning"><i class="far fa-circle" aria-hidden="true"></i> {{partial}}%</span>
    {{/partial}}
{{/display_score_badge}}

{{#inline}}
</span>
{{/inline}}
{{/radio}}
{{^radio}}
<!-- Weirdly enough putting this in a div causes it to display without the inline -->
<span
    class="py-1 d-inline align-items-center pl-multiple-choice-dropdown"
    {{#size}}style="--pl-multiple-choice-dropdown-width: {{size}}px"{{/size}}
>
    <script>
        $(() => new window.PLMultipleChoice("{{uuid}}"));
    </script>
    <select
        name="{{name}}"
        id="pl-multiple-choice-select-{{uuid}}"
        class="d-inline-flex"
        {{^editable}}disabled{{/editable}}
        aria-label="{{aria_label}}"
    >
        <option value="" disabled selected data-content="{{placeholder}}"></option>
        {{#answers}}
            <option
                value="{{key}}"
                style="white-space:normal;"
                data-content="{{^hide_letter_keys}}({{key}}){{/hide_letter_keys}} {{html}}"
                {{#selected}}selected{{/selected}}
            ></option>
        {{/answers}}
    </select>

    {{#feedback}}
    <span class="d-inline pl-multiple-choice-feedback">
        {{{feedback}}}
    </span>
    {{/feedback}}

    {{#display_score_badge}}
        {{#correct}}
            <span class="ms-1 badge text-bg-success"><i class="fas fa-check" aria-hidden="true"></i> 100%</span>
        {{/correct}}
        {{#incorrect}}
            <span class="ms-1 badge text-bg-danger"><i class="fas fa-times" aria-hidden="true"></i> 0%</span>
        {{/incorrect}}
        {{#partial}}
            <span class="ms-1 badge text-bg-warning"><i class="far fa-circle" aria-hidden="true"></i> {{partial}}%</span>
        {{/partial}}
    {{/display_score_badge}}
</span>
{{/radio}}

{{/question}}
{{#submission}}
{{#parse_error}}
    <span class="small" style="white-space: nowrap">
        <span class="badge text-bg-danger">
            Invalid <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </span>
        <a
            class="link-primary"
            tabindex="0"
            role="button"
            data-bs-placement="auto"
            data-bs-toggle="popover"
            data-bs-html="true"
            title="Format error"
            data-bs-content="{{parse_error}}"
        >
            More info…
        </a>
    </span>
{{/parse_error}}
{{^parse_error}}

{{#inline}}<span class="py-1 d-inline align-items-center">{{/inline}}
{{^inline}}<div class="py-1 d-inline-flex align-items-center">{{/inline}}

    <span>{{^hide_letter_keys}}({{submitted_key}}){{/hide_letter_keys}} {{{submitted_answer.html}}}</span>

    {{#display_feedback}}
        <span class="d-inline pl-multiple-choice-feedback">
            {{{feedback}}}
        </span>
    {{/display_feedback}}

    {{#display_score_badge}}
        {{#correct}}
            <span class="ms-1 badge text-bg-success"><i class="fas fa-check" aria-hidden="true"></i> 100%</span>
        {{/correct}}
        {{#incorrect}}
            <span class="ms-1 badge text-bg-danger"><i class="fas fa-times" aria-hidden="true"></i> 0%</span>
        {{/incorrect}}
        {{#partial}}
            <span class="ms-1 badge text-bg-warning"><i class="far fa-circle" aria-hidden="true"></i> {{partial}}%</span>
        {{/partial}}
    {{/display_score_badge}}

{{#inline}}</span>{{/inline}}
{{^inline}}</div>{{/inline}}

{{/parse_error}}
{{/submission}}
{{#answer}}
    {{#radio}}
        {{#inline}}<span class="d-inline-block"><ul class="list-inline mb-0">{{/inline}}
        {{^inline}}<div class="d-block"><ul class="list-unstyled mb-0">{{/inline}}
        {{#answers}}
            <li {{#inline}}class="list-inline-item"{{/inline}}>
                {{^hide_letter_keys}}({{key}}){{/hide_letter_keys}} {{{html}}}
            </li>
        {{/answers}}
        {{#inline}}</ul></span>{{/inline}}
        {{^inline}}</ul></div>{{/inline}}
    {{/radio}}
    {{^radio}}
        {{#answers}}
        <span>{{^hide_letter_keys}}({{key}}){{/hide_letter_keys}} {{{html}}}</span>
        {{/answers}}
    {{/radio}}
{{/answer}}
