.pl-multiple-choice-answer :last-child {
  margin-bottom: 0 !important;
}

.pl-multiple-choice-popover {
  width: 340px;
  max-width: 100%;
}

:not(.form-check-inline) > .pl-multiple-choice-key-label {
  min-width: 1.25em;
  overflow-wrap: normal;
}

.pl-multiple-choice-feedback {
  border-left: 0.25rem solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.25rem 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
}

.pl-multiple-choice-dropdown .ts-wrapper .ts-control .item {
  min-width: var(--pl-multiple-choice-dropdown-width, 220px);
}

.pl-multiple-choice-dropdown .ts-control {
  cursor: pointer !important;

  /** https://github.com/orchidjs/tom-select/issues/757 */
  padding-right: 2.5rem !important;
}
