<pl-question-panel>
  <p>Find the derivative of the following expression with respect to ${{params.x}}$.</p>
  <p>$f(x) = {{params.f}}$</p>
</pl-question-panel>

<pl-symbolic-input
  answers-name="derivative"
  label="$\dfrac{df(x)}{dx} =$"
  variables="{{params.x}}"
  display="block"
></pl-symbolic-input>

<pl-question-panel>
  <p>This template also demonstrates handling of nested absolute value expressions.</p>
  <p>Submit the expression $|x+|-x+1+2+3+4||$.</p>
  <p>Note: This tests the symbolic input's ability to handle complex nested absolute value expressions with multiple terms.</p>
</pl-question-panel>

<pl-symbolic-input
  answers-name="nested_abs"
  label="$y =$"
  variables="x"
  display="block"
></pl-symbolic-input>
