.pl-matrix-component-input-popover {
    width: 400px;
    max-width: 100%;
}

.left, .bottom-and-left, .top-and-left, .close-left {
  border-left: 3px solid black;
}
.right, .bottom-and-right, .top-and-right, .close-right {
  border-right: 3px solid black;
}
.bottom-and-left, .bottom-and-right, .close-left, .close-right  {
  border-bottom: 3px solid black;
}
.top-and-left, .top-and-right, .close-left, .close-right  {
  border-top: 3px solid black;
}

.bottom-and-left, .top-and-left, .bottom-and-right, .top-and-right, .close-left, .close-right{
  width: 8px;
}

.allborder {
  border: thin solid #D8D8D8;
  min-width: 60px
}
