.pl-matrix-component-input-popover {
    width: 400px;
    max-width: 100%;
}

.top-and-left {
  padding: 5px;
  border-top: thin solid black;
  border-left: thin solid black;
}
.top-and-right {
  padding: 5px;
  border-top: thin solid black;
  border-right: thin solid black;
}
.bottom-and-left {
  padding: 5px;
  border-bottom: thin solid black;
  border-left: thin solid black;
}
.bottom-and-right {
  padding: 5px;
  border-bottom: thin solid black;
  border-right: thin solid black;
}
.close-left {
  padding: 5px;
  border-bottom: thin solid black;
  border-left: thin solid black;
  border-top: thin solid black;
}
.close-right {
  padding: 5px;
  border-bottom: thin solid black;
  border-right: thin solid black;
  border-top: thin solid black;
}
.left {
  border-left: thin solid black;
}
.right {
  border-right: thin solid black;
}
