<pl-question-panel>
  <p>Which of the following are Newton's laws of motion? Select all that apply.</p>
</pl-question-panel>

<pl-checkbox answers-name="newtons-laws" number-answers="6" min-correct="2" max-correct="3">
  <pl-answer correct="true">An object at rest stays at rest unless acted upon by an external force</pl-answer>
  <pl-answer correct="true">Force equals mass times acceleration ($F = ma$)</pl-answer>
  <pl-answer correct="true">For every action, there is an equal and opposite reaction</pl-answer>
  <pl-answer correct="false">Energy cannot be created or destroyed, only transformed</pl-answer>
  <pl-answer correct="false">The entropy of an isolated system never decreases</pl-answer>
  <pl-answer correct="false">The speed of light in a vacuum is constant regardless of the observer's motion</pl-answer>
  <pl-answer correct="false">The pressure of a gas is inversely proportional to its volume at constant temperature</pl-answer>
  <pl-answer correct="false">Current in a circuit is directly proportional to voltage and inversely proportional to resistance</pl-answer>
</pl-checkbox>
