body {
  margin: 0;
  height: 100%;
  overflow: auto;
}
th, td {
    text-align: center;
    background-color: white
}
table {
  position: relative;
  overflow: hidden;
  height: 400px;
}

thead {
  position: relative;
  display: block;
  overflow: visible;
  max-width: 97vw;
}

tbody {
  position: relative;
  display: block;
  max-width: 97vw;
  height: 100%;
  overflow: scroll;
}

th, td {
  text-align: inherit;
  min-width: 120px;
  max-width: 120px;
  overflow: hidden;
}

/* Set first three columns of the table header larger to fit more text */
tr th:nth-child(1), th:nth-child(2), th:nth-child(3) {
  position: relative;
  min-width: 200px;
  max-width: 200px;
}

/* Set first three columns of the table body larger to fit more text */
tbody tr td:nth-child(1), td:nth-child(2), td:nth-child(3) {
  position: relative;
  min-width: 200px;
  max-width: 200px;
}

.inner {
  overflow: hidden;
}