.issue-list-item {
  padding-left: 32px;
}

.issue-status-icon {
  position: absolute;
  top: 16px;
  left: 8px;
}

.issue-status-button {
  padding: 1px;
  font-size: 0.7rem;
  position: absolute;
  top: 40px;
  left: 8px;
}
