/*****************
 * General styles
 *****************/

body {
  overflow-y: scroll;
}

canvas {
    border: 1px solid #aaa;
}

#qbody form {
    margin-top: 20px;
}

line.axis {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.grid path,
.grid line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.bar {
    stroke: #46b8da;
    fill: #5bc0de;
}

.outlineBarColor {
    color: #5bc0de;
}

.outlineBar {
    stroke: #fff;
    fill: #5bc0de;
}

.outlineBarRedColor {
    color: #FF0000;
}

.outlineBarRed {
    stroke: #fff;
    fill: #FF0000;
}

.parallelHistMean {
    stroke: #000;
    stroke-width: 3px;
}

.statsPlot .label {
    font-size: 14px;
    font-weight: normal;
}

.statsPlot .fitLine {
    stroke: #00b;
}

body table.no-border td {
    border: 0px;
}

body table.no-border th {
    border: 0px;
}

.statsPlot .point {
    stroke: #d43f3a;
    fill: #d9534f;
}

table.two-column-description tr th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 5%;
}

table.two-column-description-no-header tr td:first-of-type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 5%;
}

table.two-column-description-no-header-with-help tr td:first-of-type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 5%;
}

table.two-column-description-no-header-with-help tr td:last-of-type {
    width: 1%;
}

.table-no-wrap th {
    white-space: nowrap;
}

.table-no-wrap td {
    white-space: nowrap;
}

/**************
 * Submissions
 **************/
.submission-header {
  cursor: pointer;
}

.submission-header .expand-icon {
  transition: transform 400ms;
}

.submission-header .expand-icon-container::before {
  content: "hide";
}

.submission-header.collapsed .expand-icon {
  transform: rotateX(180deg);
}

.submission-header.collapsed .expand-icon-container::before {
  content: "show";
}

/***************************************
 * Additions for Bootstrap 4 conversion
 ***************************************/

.card > table, .card > .table-responsive > table {
  margin-bottom: 0;
}

.btn.btn-xs {
  padding: 1px 5px;
  font-size: 0.7rem;
}

a.badge {
  text-decoration: none;
}

.navbar-brand {
  position: relative;
}

.navbar-brand-label, .navbar-brand-hover-label {
  display: inline-block;
  transition: all 0.3s ease-out;
}

.navbar-brand-hover-label {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  transform: translate(0px, -3px);
}

.navbar-brand:hover .navbar-brand-label{
  transform: translate(0px, -7px);
}

.navbar-brand:hover .navbar-brand-hover-label {
  opacity: 1;
  transform: translate(0px, 0px);
}

/* Used to help vertically center badges in table cells */
table td > .badge {
  transform: translate(0, -12.5%);
}

/* Custom button styles that look better in input groups */
.btn.btn-med-light {
  color: #212529;
  background-color: #dbdcdc;
}

.btn.btn-med-light:hover {
  background-color: #ced0d0;
}

.btn.btn-med-light:focus {
  background-color: #c3c3c3;
  box-shadow: 0 0 0 0.2rem rgba(195,195,195,.25)
}
