<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
    <div class="left">
        <form method="POST" name="scan-scrap-paper" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="__action" value="scan_scrap_paper">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            
            <label for="pdf-artifact">Choose CSV file</label>
            <input id="pdf-artifact" name="file" type="file" accept="application/pdf">
            <button>Submit</button>
        </form>

        <div class="resultHolder">
            <label class="resultsTitle">Results will be shown below with <u>summary</u> at the end.</label>
        </div>
        <div id="holder">
        </div>

        <div id="summarydiv">
            <label class="resultsTitle"> Summary: </label>
            <br><br>
            <table id="summary">
                <tbody>

                </tbody>
            </table>
            <br>
            <hr>
            <label>By this summary you may decide which parameters you need to exclude, to include or to adjust more
                accurately, in order to boost the performance and improve the accuracy of the reader.</label>
        </div>
    </div>
</body>
</html>
