<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="<%= asset_path('stylesheets/issues.css') %>" rel="stylesheet" />
	<title></title>
</head>
<body>
    <%- include('../partials/navbar', {navPage: 'news_item'}); %>

    <div id="content" class="container">
        <div class="col-lg-9 col-sm-12 alert alert-warning" role="alert">
            <% if (typeof queued !== 'undefined' && queued === true) { %>
                <span>Queued PDF for decoding.</span>
            <% } %>
        </div>
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">Generate a PDF Document Containing Barcoded Scrap Paper</div>
            <div class="card-body">
                <form method="POST" name="scan-scrap-paper" method="POST" enctype="multipart/form-data">
                    <div class="col-lg-9 col-sm-12">
                        <input type="hidden" name="__action" value="scan_scrap_paper">
                        <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                        
                        <div class="col-lg-9 col-sm-12">
                        <label for="pdf-collection">Choose CSV file</label>
                        <input id="pdf-collection" name="file" type="file" accept="application/pdf">
                        </div>
                        <div class="col-lg-9 col-sm-12">
                            <button>Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
</body>

</html>
