<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="<%= asset_path('stylesheets/issues.css') %>" rel="stylesheet" />
	<title></title>
</head>
<body>
    <%- include('../partials/navbar', {navPage: 'news_item'}); %>

    <div id="content" class="container">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">Scan a PDF Collection of Barcoded Scrap Paper Documents</div>

            <div class="card-body">
                <span>Each page of the PDF collection that you are uploading should contain a barcode. The PDF should not be greater than 25MB. High-resolution, but compressed images, are recommended for each page of the PDF upload.</span>
            </div>
            <div class="card-body">

                <form method="POST" name="scan-scrap-paper" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="__action" value="scan_scrap_paper">
                        <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                        
                        <label for="pdf-collection">Choose PDF file</label>
                        <input id="pdf-collection" name="file" type="file" accept="application/pdf">
                        <button>Submit</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
</body>

</html>
