<!-- TODO figure out how to replace this with node version -->
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
    $('.interactive-dataframe').DataTable();
});
</script>

<table class="pl-dataframe-table interactive-dataframe">
<thead>
    {{#frame_header}}
    <tr>
        {{#show_index}}
            {{#index_name}}
            <th>{{.}}</th>
            {{/index_name}}
        {{/show_index}}
        {{#header_data}}
        <th>{{.}}</th>
        {{/header_data}}
    </tr>
    {{/frame_header}}
</thead>

<tbody>
    {{#frame_data}}
    <tr>
        {{#show_index}}
            {{#index}}
            <td>{{.}}</td>
            {{/index}}
        {{/show_index}}
        {{#row}}
        <td>{{.}}</td>
        {{/row}}
    </tr>
    {{/frame_data}}
</tbody>
{{#frame_footer}}
<tfoot>
    <tr>
    {{#show_index}}
        <th>dtype</th>
    {{/show_index}}
    {{#data_types}}
        <th>{{.}}</th>
    {{/data_types}}
    </tr>
</tfoot>
{{/frame_footer}}
</table>

{{{dtype_row}}}

<pl-code language="python">
import pandas as pd
{{varname}} = pd.DataFrame({{{code_string}}})
</pl-code>
{{#num_rows}}
{{#num_cols}}
    <p class="pl-dataframe-table-dimensions">{{num_rows}} rows x {{num_cols}} columns</p>
{{/num_cols}}
{{/num_rows}}
