{{#show_python}}
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#table-{{uuid}}">Table</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#code-{{uuid}}">Code</a></li>
</ul>

<div class="tab-content">
  <div id="table-{{uuid}}" class="tab-pane fade show active">
{{/show_python}}

<div>
{{{frame_html}}}

{{#num_rows}}
{{#num_cols}}
    <p class="pl-dataframe-table-dimensions">{{num_rows}} rows x {{num_cols}} columns</p>
{{/num_cols}}
{{/num_rows}}
</div>

{{#show_python}}
</div>
<div id="code-{{uuid}}" class="tab-pane fade">
<!-- Don't unindent this, since it will add annoying indentations to the display -->
<pl-code language="python">
import pandas as pd
{{varname}} = pd.DataFrame({{{code_string}}})
</pl-code>
</div>

</div>
{{/show_python}}
