{{#question}}
    <div class="d-inline-block form-group">
        <label for="pl-barcode-scan-input">Barcode</label>
        <input type="text" id="pl-barcode-scan-input" name="_pdf_barcode_scan" class="form-control text-uppercase">

        <div class="pl-barcode-scan-badge-container d-inline-block">
            <span id="pl-barcode-scan-invalid" class="badge text-danger" style="display: none;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid Barcode </span>
            <span id="pl-barcode-scan-valid" class="badge text-success" style="display: none;"><i class="fa fa-check" aria-hidden="true"></i> Valid Barcode </span>
            {{#required}}
                <span id="pl-barcode-scan-required" class="badge text-info"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Barcode Required </span>
            {{/required}}
        </div>
    </div>
{{/question}}

{{^question}}
    <div class="d-inline-flex align-items-center form-group">
        <input type="text" disabled value="{{barcode}}" class="form-control mr-2 text-uppercase">

        {{^parse-error}}
            <span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i></span>
        {{/parse-error}}

        {{#parse-error}}
            <span class="badge text-danger badge-invalid"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid Barcode </span>
        {{/parse-error}}
    </div>
{{/question}}
