<pl-question-panel>
  <p>Two matrices $A$ and $B$ are given as follows:</p>

  <pl-variable-output
    default-tab="python"
    show-mathematica="false"
    show-r="false"
    show-sympy="false"
    digits="1"
  >
    <pl-variable params-name="A">A</pl-variable>
    <pl-variable params-name="B">B</pl-variable>
  </pl-variable-output>

  <p>Find the product of these two matrices:</p>
</pl-question-panel>

<pl-matrix-input answers-name="C" comparison="sigfig" digits="3" label="$AB=$"></pl-matrix-input>
