<pl-question-panel>

<p>What is the size of the {{params.dname}}?</p>

<!-- "figure0.png" here is not a physical file. Since this pl-figure is the "dynamic" type, the figure is generated via server.py's `file()`. -->
<pl-figure file-name="figure0.png" type="dynamic" width="200px"></pl-figure>

</pl-question-panel>

<p>
<pl-integer-input answers-name="dim" label="{{params.dname}} $ \,=$" ></pl-integer-input>
</p>

<pl-question-panel>

<div class="card my-2">
<div class="card-body">
<p><i>
  The figure above is included using the element <code>pl-figure</code>
  with the attribute <code>type="dynamic"</code>.
</i></p>

<pl-code language="html">
&ltpl-figure file-name="figure0.png" type="dynamic" width="200px"&gt &lt/pl-figure&gt
</pl-code>
<p><i>
  In this case, the
  figure "figure0.png" is generated inside the server.py file,
  based on the question randomized parameters. For this question,
  the randomized parameters are the shape (diamond or circle)
  and the dimension of the figure.
</i></p>
</div>
</div>
</pl-question-panel>
