<div id="pl-variable-output-{{uuid}}" class="card mb-4">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            {{#show_matlab}}<li class="nav-item" role="presentation"><a class="nav-link{{#active_tab_matlab}} active{{/active_tab_matlab}}" href="#matlab-{{uuid}}" aria-controls="matlab-{{uuid}}" role="tab" data-toggle="pill">Matlab/Octave</a></li>{{/show_matlab}}

            {{#show_mathematica}}<li class="nav-item" role="presentation"><a class="nav-link{{#active_tab_mathematica}} active{{/active_tab_mathematica}}" href="#mathematica-{{uuid}}" aria-controls="mathematica-{{uuid}}" role="tab" data-toggle="pill">Mathematica</a></li>{{/show_mathematica}}

            {{#show_python}}<li class="nav-item" role="presentation"><a class="nav-link{{#active_tab_python}} active{{/active_tab_python}}" href="#python-{{uuid}}" aria-controls="python-{{uuid}}" role="tab" data-toggle="pill">Python</a></li>{{/show_python}}

            {{#show_r}}<li class="nav-item" role="presentation"><a class="nav-link{{#active_tab_r}} active{{/active_tab_r}}" href="#r-{{uuid}}" aria-controls="r-{{uuid}}" role="tab" data-toggle="pill">R</a></li>{{/show_r}}

            {{#show_sympy}}<li class="nav-item" role="presentation"><a class="nav-link{{#active_tab_sympy}} active{{/active_tab_sympy}}" href="#sympy-{{uuid}}" aria-controls="sympy-{{uuid}}" role="tab" data-toggle="pill">SymPy</a></li>{{/show_sympy}}
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            {{#show_matlab}}
            <div role="tabpanel" class="tab-pane {{#active_tab_matlab}}active{{/active_tab_matlab}}" id="matlab-{{uuid}}">
                <pl-code language="matlab" copy-code-button="True">{{{matlab_data}}}</pl-code>
            </div>
            {{/show_matlab}}
            {{#show_mathematica}}
            <div role="tabpanel" class="tab-pane {{#active_tab_mathematica}}active{{/active_tab_mathematica}}" id="mathematica-{{uuid}}">
                <pl-code language="mathematica" copy-code-button="True">{{{mathematica_data}}}</pl-code>
            </div>
            {{/show_mathematica}}
            {{#show_python}}
            <div role="tabpanel" class="tab-pane {{#active_tab_python}}active{{/active_tab_python}}" id="python-{{uuid}}">
                <pl-code language="python" copy-code-button="True">{{{python_data}}}</pl-code>
            </div>
            {{/show_python}}
            {{#show_r}}
            <div role="tabpanel" class="tab-pane {{#active_tab_r}}active{{/active_tab_r}}" id="r-{{uuid}}">
                <pl-code language="r" copy-code-button="True">{{{r_data}}}</pl-code>
            </div>
            {{/show_r}}
            {{#show_sympy}}
            <div role="tabpanel" class="tab-pane {{#active_tab_sympy}}active{{/active_tab_sympy}}" id="sympy-{{uuid}}">
                <pl-code language="python" copy-code-button="True">{{{sympy_data}}}</pl-code>
            </div>
            {{/show_sympy}}
        </div>
    </div>
</div>
