{{^inline}}
<div class="container-fluid {{#class}}{{class}}{{/class}}" title="{{title}}">
    <img src="{{src}}" {{#width}}width="{{width}}"{{/width}} alt="{{alt}}"  class="img-fluid mx-auto d-block" />
</div>
{{/inline}}
{{#inline}}
<img src="{{src}}" {{#width}}width="{{width}}"{{/width}} alt="{{alt}}" title="{{title}}" class="img-fluid mx-auto d-inline {{#class}}{{class}}{{/class}}" />
{{/inline}}
