{{#question}}
    <div id="pl-dropdown-{{uuid}}" class="pl-dropdown form-group">
        <select name="{{correct-answer}}" class="form-control">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    {{#options}}
        <option value="{{.}}">{{.}}</option>
    {{/options}}

        </select>
    </div>
{{/question}}

{{#submission}}
    <span class="pl-dropdown-submitted">{{submitted-answer}}</mark>
{{/submission}}

{{#answer}}
    {{#correct}}
        <span class="pl-dropdown-correct">{{submitted-answer}}</span>
    {{/correct}}
    {{^correct}}
        <span class="pl-dropdown-incorrect">{{submitted-answer}}</span> <span class="pl-dropdown-correct">{{solution}}</span>
    {{/correct}}
{{/answer}}

