{{#question}}
    <div id="pl-dropdown-{{uuid}}" class="pl-dropdown form-group">
        <select name="{{correct-answer}}" class="form-control">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    {{#options}}
        <option value="{{.}}">{{.}}</option>
    {{/options}}

        </select>
    </div>
{{/question}}

{{#submission}}
    {{#no-answer-selected}}
        <span class="badge pl-dropdown-no-answer">&lt;No answer selected&gt;</span>
    {{/no-answer-selected}}
    {{^no-answer-selected}}
        <span class="badge badge-warning d-inline">{{submitted-answer}}</span>
    {{/no-answer-selected}}
{{/submission}}

{{#answer}}
    {{#correct}}
        <span class="badge pl-dropdown-correct">{{submitted-answer}}</span>
    {{/correct}}
    {{^correct}}
        {{#no-answer-selected}}
            <span class="badge badge-danger d-inline">&lt;No answer selected&gt;</span> <span class="badge badge-success d-inline">{{solution}}</span>
        {{/no-answer-selected}}
        {{^no-answer-selected}}
            <span class="badge pl-dropdown-incorrect">{{submitted-answer}}</span> <span class="badge pl-dropdown-correct">{{solution}}</span>
        {{/no-answer-selected}}
    {{/correct}}
{{/answer}}
