.pl-dropdown {
    display: inline-block;
}

.pl-dropdown-correct {
    background: #39ff14;
    display: inline;
}

.pl-dropdown-incorrect {
    background: #ff0000;
    text-decoration: line-through;
    display: inline;
}

.pl-dropdown-submitted {
    background: #ffff00;
    display: inline;
}

.pl-dropdown-no-answer {
    background: #add8e6;
    display: inline;
}
