{{#question}}
<script>
    $(function(){
        $('#pl-string-input-{{uuid}} [data-toggle="popover"]').popover({
            sanitize: false,
            container: 'body',
            template: '<div class="popover pl-string-input-popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
        });
    });
</script>

{{#inline}}<span class="form-inline d-inline-block ml-2">{{/inline}}
    <span id="pl-string-input-{{uuid}}" class="input-group pl-string-input">
        {{#label}}
        <span class="input-group-prepend">
            <span class="input-group-text" id="pl-string-input-{{uuid}}-label">{{{label}}}</span>
        </span>
        {{/label}}
        <input
            name="{{name}}"
            type="text"
            inputmode="text"
            class="form-control pl-string-input-input"
            size="{{size}}"
            autocomplete="off"
            {{^editable}}disabled{{/editable}}
            {{#raw_submitted_answer}}value="{{raw_submitted_answer}}"{{/raw_submitted_answer}}
            aria-describedby="pl-symbolic-input-{{uuid}}-label pl-symbolic-input-{{uuid}}-suffix"
            placeholder="{{placeholder}}"
        />
        <span class="input-group-append">
            {{#suffix}}<span class="input-group-text" id="pl-symbolic-input-{{uuid}}-suffix">{{suffix}}</span>{{/suffix}}

            {{#show_info}}
                <a role="button" class="btn btn-light border d-flex align-items-center" data-toggle="popover" data-html="true" title="String" data-content="{{info}}" data-placement="auto" data-trigger="focus" tabindex="0">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                </a>
            {{/show_info}}

            {{#correct}}
                <span class="input-group-text">
                    <span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>
                </span>
            {{/correct}}
            {{#partial}}
                <span class="input-group-text">
                    <span class="badge badge-warning"><i class="far fa-circle" aria-hidden="true"></i> {{partial}}%</span>
                </span>
            {{/partial}}
            {{#incorrect}}
                <span class="input-group-text">
                    <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>
                </span>
            {{/incorrect}}
            {{#parse_error}}
                <a
                    role="button"
                    class="btn btn-light border d-flex align-items-center text-danger"
                    data-toggle="popover"
                    data-html="true"
                    title="Format Error"
                    data-placement="auto"
                    data-trigger="focus"
                    tabindex="0"
                    data-content="{{parse_error}}"
                >
                    <span class="mr-1">Invalid</span> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </a>
            {{/parse_error}}
        </span>
    </span>
{{#inline}}</span>{{/inline}}
{{/question}}

{{#submission}}
{{#inline}}<span class="d-inline-block">{{/inline}}
{{#error}}
<script>
    $(function(){
        $('#pl-string-input-submission-{{uuid}} [data-toggle="popover"]').popover({
            sanitize: false,
            container: 'body',
            template: '<div class="popover pl-string-input-popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
        });
    });
</script>
<span id="pl-string-input-submission-{{uuid}}">

{{#parse_error}}
    {{#label}}<span>{{{label}}}</span>{{/label}}
    {{#raw_submitted_answer}}<code class="user-output-invalid">{{raw_submitted_answer}}</code>{{/raw_submitted_answer}}
    <a
        href="javascript:void(0);"
        role="button"
        class="badge text-danger badge-invalid btn btn-sm btn-secondary small border"
        data-placement="auto"
        data-trigger="focus"
        data-toggle="popover"
        data-html="true"
        title="Format Error"
        tabindex="0"
        data-content="{{parse_error}}"
    > Invalid <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
    {{#suffix}}<span>{{suffix}}</span>{{/suffix}}
{{/parse_error}}
{{#missing_input}}
    {{#label}}<span>{{{label}}}</span>{{/label}}
    <a href="javascript:void(0);" role="button" class="btn btn-sm btn-secondary small border" data-placement="auto" data-trigger="focus" data-toggle="popover" data-html="true" title="Missing Input" tabindex="0" data-content="There is no submitted value for this field.  This may have happened because the question was changed by course staff after the answer was submitted."> Why <i class="fa fa-question-circle" aria-hidden="true"></i></a>
    {{#suffix}}<span>{{suffix}}</span>{{/suffix}}
{{/missing_input}}

</span>
{{/error}}
{{^error}}
{{#label}}<span>{{{label}}}</span>{{/label}}
<code class="user-output">{{a_sub}}</code>
{{#suffix}}<span>{{suffix}}</span>{{/suffix}}
{{#correct}}<span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>{{/correct}}
{{#partial}}<span class="badge badge-warning"><i class="fa fa-circle-o" aria-hidden="true"></i> {{partial}}%</span>{{/partial}}
{{#incorrect}}<span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>{{/incorrect}}
{{/error}}
{{#inline}}</span>{{/inline}}
{{/submission}}

{{#answer}}
{{#label}}<span>{{{label}}}</span>{{/label}}
<code class="user-output">{{a_tru}}</code>
{{#suffix}}<span>{{suffix}}</span>{{/suffix}}
{{/answer}}

{{#format}}
<p>
    Your answer must be a piece of text (sequence of letters, numbers, and characters). Any symbolic expressions or numbers will be intepreted as text.<br>
    {{space_hint}}
</p>
{{/format}}
