{{#question}}
{{#inline}}<span class="d-inline-block ms-2">{{/inline}}
    <span class="input-group pl-string-input">
        {{#label}}
        <span class="input-group-text" id="pl-string-input-{{uuid}}-label">{{{label}}}</span>
        {{/label}}
        <input
            name="{{name}}"
            type="text"
            inputmode="text"
            class="form-control pl-string-input-input {{#parse_error}}has-validation is-invalid{{/parse_error}}"
            {{#parse_error}}aria-invalid="true" aria-describedby="pl-string-input-{{uuid}}-error"{{/parse_error}}
            size="{{size}}"
            autocomplete="off"
            autocorrect="off"
            {{^editable}}disabled{{/editable}}
            {{#raw_submitted_answer}}value="{{raw_submitted_answer}}"{{/raw_submitted_answer}}
            aria-describedby="pl-string-input-{{uuid}}-suffix"
            aria-labelledby="pl-string-input-{{uuid}}-label"
            placeholder="{{placeholder}}"
        />
        {{#suffix}}<span class="input-group-text" id="pl-string-input-{{uuid}}-suffix">{{suffix}}</span>{{/suffix}}

        {{#show_info}}
            <button type="button" class="btn btn-light border d-flex align-items-center" data-bs-toggle="popover" data-bs-html="true" title="String" data-bs-content="{{info}}" data-bs-placement="auto">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
            </button>
        {{/show_info}}

        {{#correct}}
            <span class="input-group-text">
                <span class="badge text-bg-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>
            </span>
        {{/correct}}
        {{#partial}}
            <span class="input-group-text">
                <span class="badge text-bg-warning"><i class="far fa-circle" aria-hidden="true"></i> {{partial}}%</span>
            </span>
        {{/partial}}
        {{#incorrect}}
            <span class="input-group-text">
                <span class="badge text-bg-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>
            </span>
        {{/incorrect}}
    </span>
        {{#parse_error}}
            <span id="pl-string-input-{{uuid}}-error" class="invalid-feedback d-block">
                <span class="badge text-bg-danger">
                    Invalid 
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </span>
                You must enter a valid string.
                <a 
                    class="link-opacity-100"
                    tabindex="0"
                    role="button"
                    data-bs-container="body"
                    data-bs-placement="auto" 
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    title="Format Error"
                    data-bs-content="{{parse_error}}"
                >
                    More info...
                </a>
            </span>
        {{/parse_error}}
{{#inline}}</span>{{/inline}}
{{/question}}

{{#submission}}
{{#inline}}<span class="d-inline-block">{{/inline}}
{{#error}}
<span >

{{#parse_error}}
    {{#label}}<span>{{{label}}}</span>{{/label}}
    {{#raw_submitted_answer}}<code class="user-output-invalid">{{raw_submitted_answer}}</code>{{/raw_submitted_answer}}
    <span class="d-inline invalid-feedback is-invalid" style="white-space: nowrap">
        <span class="badge text-bg-danger">
            Invalid <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </span>
        <a
            class="link-opacity-100"
            tabindex="0"
            role="button"
            data-bs-placement="auto"
            data-bs-toggle="popover"
            data-bs-html="true"
            title="Format Error"
            data-bs-content="{{parse_error}}"
            >
           More info...
        </a>
    </span>
    {{#suffix}}<span>{{suffix}}</span>{{/suffix}}
{{/parse_error}}
{{#missing_input}}
    {{#label}}<span>{{{label}}}</span>{{/label}}
    <span class="d-inline invalid-feedback is-invalid" style="white-space: nowrap">
        <span class="badge text-bg-dark border">
            Missing Input 
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </span>
        <a 
            class="link-opacity-100"
            tabindex="0"
            role="button"
            data-bs-placement="auto"
            data-bs-toggle="popover"
            data-bs-html="true"
            title="Missing input"
            data-bs-content="There is no submitted value for this field.  This may have happened because the question was changed by course staff after the answer was submitted."
            >
           More info...
        </a>
    </span>
    {{#suffix}}<span>{{suffix}}</span>{{/suffix}}
{{/missing_input}}

</span>
{{/error}}
{{^error}}
{{#label}}<span>{{{label}}}</span>{{/label}}
<code class="user-output">{{a_sub}}</code>
{{#suffix}}<span>{{suffix}}</span>{{/suffix}}
{{#correct}}<span class="badge text-bg-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>{{/correct}}
{{#partial}}<span class="badge text-bg-warning"><i class="fa fa-circle-o" aria-hidden="true"></i> {{partial}}%</span>{{/partial}}
{{#incorrect}}<span class="badge text-bg-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>{{/incorrect}}
{{/error}}
{{#inline}}</span>{{/inline}}
{{/submission}}

{{#answer}}
{{#label}}<span>{{{label}}}</span>{{/label}}
<code class="user-output">{{a_tru}}</code>
{{#suffix}}<span>{{suffix}}</span>{{/suffix}}
{{/answer}}

{{#format}}
<p>
    Your answer must be a piece of text (sequence of letters, numbers, and characters). Any symbolic expressions or numbers will be intepreted as text.<br>
    {{space_hint}}
</p>
{{/format}}
