<td class="align-middle">
  <%= course.institution.short_name %>
  <button type="button" class="btn btn-xs btn-secondary"
     id="courseButtonInstitution<%= i %>" tabindex="0"
     data-toggle="popover" data-container="body"
     data-html="true" data-placement="auto" title="Change institution"
     data-content="<%= include('courseUpdateInstitutionColumnForm',
                   {id: 'courseButtonInstitution' + i}) %>"
     data-trigger="manual" onclick="$(this).popover('show')">
    <i class="fa fa-edit" aria-hidden="true"></i>
  </button>
</td>
