<form name="add-course-form" method="POST">
  <input type="hidden" name="__action" value="courses_insert">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
  <div class="form-group">
    <label for="courseAddInputShortName">Short name:</label>
    <input type="text" class="form-control" id="courseAddInputShortName" name="short_name" placeholder="XC 101">
  </div>
  <div class="form-group">
    <label for="courseAddInputTitle">Title:</label>
    <input type="text" class="form-control" id="courseAddInputTitle" name="title" placeholder="Template course title">
  </div>
  <div class="form-group">
    <label for="courseAddInputTimezone">Timezone:</label>
    <input type="text" class="form-control" id="courseAddInputTimezone" name="display_timezone" value="America/Chicago">
  </div>
  <div class="form-group">
    <label for="courseAddInputPath">Path:</label>
    <input type="text" class="form-control" id="courseAddInputPath" name="path" value="/data1/courses/pl-XXX">
  </div>
  <div class="form-group">
    <label for="courseAddInputRepository">Repository:</label>
    <input type="text" class="form-control" id="courseAddInputRepository" name="repository" value="git@github.com:PrairieLearn/pl-XXX.git">
  </div>
  <button type="button" class="btn btn-secondary" onclick="$('#<%= id %>').popover('hide')">
    Cancel
  </button>
  <button type="submit" class="btn btn-primary">Add course</button>
</form>
