<form name="add-user-form" method="POST">
  <input type="hidden" name="postAction" value="addUser">
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
  <div class="form-group">
    <label for="addUserInputUid">UID:</label>
    <input type="text" class="form-control" id="addUserInputUid" name="uid" placeholder="username@domain.org">
  </div>
  <button type="button" class="btn btn-default" onclick="$('#<%= id %>').popover('hide')">
    Cancel
  </button>
  <button type="submit" class="btn btn-primary">Add administrator</button>
</form>
