.pl-python-variable-table {
    display: block;
    overflow-x: scroll;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;

    border-collapse: collapse;
    border: none;
    border-spacing: 0;
    margin-bottom: 1rem;
}

.pl-python-variable-table thead {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.55px;
    border-spacing: 0px 0px;
    box-sizing: border-box;
    color: black;
    vertical-align: bottom;
}

.pl-python-variable-table th,
.pl-python-variable-table tr,
.pl-python-variable-table td {
    border: none;
}

.pl-python-variable-table td,
.pl-python-variable-table tbody th {
    padding: 0.5em 0.5em;
    text-align: right;
    vertical-align: middle;
    line-height: normal;
    white-space: normal;
    max-width: none;
    font-weight: unset;
}


.pl-python-variable-table tbody tr:nth-child(2n+1) {
    background: #f5f5f5;
}

.pl-python-variable-table tbody tr:hover {
    background: rgba(66, 165, 245, 0.2)
}

.pl-python-variable-table-dimensions {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1rem;
    text-align: left;
}
