<span class="pl-big-operator-input pl-big-operator-input__submission">
  \( \displaystyle {{#prefix_latex}}{{{prefix_latex}}}{{/prefix_latex}} {{ tex }} {{#suffix_latex}}{{{suffix_latex}}}{{/suffix_latex}} \)
  {{> score-badge }}
</span>
