<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
    <!--Select PDF Barcode Generation Options-->
    <div>
        <form>
            <label for="label">Label:</label>
            <input type="text" id="label" name="label"><br><br>
            <label for="num_pages">Last name:</label>
            <input type="text" id="num_pages" name="num_pages"><br><br>
            <input type="submit" value="Submit">
            <button>Generate Barcoded Scrap Paper</button>
        </form>
    </div>

    <!--PDF Generated in iframe for Download-->
    <div class="question-block-artifact-container">
        <iframe id="question-block-artifact-pdf" width="100%" height="800px" type="text/html" src=""></iframe>
    </div>
    
  <script>
  </script>

</body>
</html>
