<form name="generate-token-form" method="post">
  <input type="hidden" name="__action" value="token_generate">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
  <div class="form-group">
    <label for="token_name">Name:</label>
    <input type="text" class="form-control" id="token_name" name="token_name" placeholder="My token">
  </div>
  <button type="button" class="btn btn-secondary" onclick="$('#<%= id %>').popover('hide')">
    Cancel
  </button>
  <button type="submit" class="btn btn-primary">Generate token</button>
</form>
