{{#question}}
<script>
$(function() {
    var UUID = "{{uuid}}";

    new window.PLOrderBlocks(UUID, {
        maxIndent: {{max_indent}},
        inline: {{inline}},
        enableIndentation: {{check_indentation}},
    });
});
</script>


    <div class="d-flex flex-wrap">
        <div class="pl-order-blocks-container {{block_layout}} {{dropzone_layout}} ">
            <div class="card-header pl-order-blocks-header list-group-item-primary">{{source-header}}</div>
            <ul id="order-blocks-options-{{uuid}}" name="{{answer_name}}" class="card-body list-group pl-order-blocks-connected-sortable">
                {{#options}}
                    <li class="{{block_formatting}} shadow pl-order-block {{^editable}}nodrag{{/editable}}"
                        uuid="{{uuid}}"
                        string="{{inner_html}}"
                        {{#distractor_bin}}data-distractor-bin="{{distractor_bin}}"{{/distractor_bin}}
                        >{{{inner_html}}}
                    </li>
                {{/options}}
            </ul>
        </div>
        <div class="pl-order-blocks-container {{block_layout}} {{dropzone_layout}} ">
            <div class="card-header pl-order-blocks-header list-group-item-primary">
                <span class="mr-2">{{solution-header}}</span>
                <a role="button" style="vertical-align:middle;" class="btn btn-light btn-sm" data-toggle="popover" data-html="true" title="Order Blocks" data-content="{{help_text}}" data-trigger="focus" tabindex="0">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                </a>
            </div>
            <ul id="order-blocks-dropzone-{{uuid}}" name="{{answer_name}}" class="card-body list-group pl-order-blocks-connected-sortable dropzone">
                {{#submission_dict}}
                    <li class="{{block_formatting}} shadow pl-order-block {{^editable}}nodrag{{/editable}}"
                        style='margin-left: {{indent}}px;'
                        uuid="{{uuid}}"
                        string="{{inner_html}}"
                        {{#distractor_bin}}data-distractor-bin="{{distractor_bin}}"{{/distractor_bin}}
                        >
                        {{{inner_html}}}
                    </li>
                {{/submission_dict}}
            </ul>
        </div>
    </div>
    <input id="{{uuid}}-input" type="hidden" name="{{answer_name}}-input" value=""/>

{{/question}}

{{#submission}}
    {{^parse-error}}
    <div class="pl-order-blocks-answer-container {{block_layout}} {{dropzone_layout}}">
        <div class="card-header">
            Your answer:
        {{#correct}}
            <span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>
        {{/correct}}
        {{#partially_correct}}
            <span class="badge badge-warning"><i class="fa fa-times" aria-hidden="true"></i> {{partially_correct}}%</span>
        {{/partially_correct}}
        {{#incorrect}}
            <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>
        {{/incorrect}}
        </div>
        <ul class="card-body list-group list-unstyled">
            {{#student_submission}}
                {{#distractor_feedback}}
                <li class="pl-order-blocks-pairing-indicator list-group-item-warning">
                    <ul class="list-unstyled">
                        <li>
                            <div class="pl-order-blocks-correctness-badge-container">
                                {{#allow_feedback_badges}}
                                <span class="pl-order-blocks-correctness-badge badge {{badge_type}}"><i class="fa {{icon}}" aria-hidden="true"></i></span>
                                {{/allow_feedback_badges}}
                                <div class="{{block_formatting}} pl-order-block" style="margin-left: {{indent}}px;flex-grow:1;">{{{inner_html}}}</div>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <span class="pl-order-blocks-feedback-icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                        {{distractor_feedback}}
                    </div>
                </li>
                {{/distractor_feedback}}
                {{^distractor_feedback}}
                <li>
                    <div class="pl-order-blocks-correctness-badge-container">
                        {{#allow_feedback_badges}}
                        <span class="pl-order-blocks-correctness-badge badge {{badge_type}}"><i class="fa {{icon}}" aria-hidden="true"></i></span>
                        {{/allow_feedback_badges}}
                        <div class="{{block_formatting}} pl-order-block" style="margin-left: {{indent}}px;flex-grow:1;">{{{inner_html}}}</div>
                    </div>
                </li>
                {{/distractor_feedback}}
            {{/student_submission}}
        </ul>
    </div>
    <p>{{{feedback}}}</p>
    {{/parse-error}}

    {{#parse-error}}
        <strong>Your answer: </strong>
        <div id="pl-order-blocks" class="d-inline-block">
            <span class="badge text-danger badge-invalid"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid</span>
            <a role="button" class="btn btn-sm btn-secondary small border" data-placement="auto" data-trigger="focus" data-toggle="popover" data-html="true" style="margin-left: 5px" title="Format Error" tabindex="0" data-content="{{parse-error}}"> Why <i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
    {{/parse-error}}
{{/submission}}

{{#true_answer}}
    <div class="pl-order-blocks-answer-container {{block_layout}} {{dropzone_layout}}">
        <div class="card-header list-group-item-success">Correct answer ({{ordering_message}}{{indentation_message}}):</div>
        <ul class="card-body list-group">
        {{#question_solution}}
            <li class="{{block_formatting}} pl-order-block" style="margin-left: {{indent}}px">{{{inner_html}}}</li>
        {{/question_solution}}
        </ul>
    </div>

    {{#show_distractors}}
    <br><br>
    <div class="pl-order-blocks-answer-container  {{block_layout}} {{dropzone_layout}}">
        <div class="card-header list-group-item-danger">Incorrect Blocks (these blocks should not be included in your solution):</div>
        <ul class="card-body list-group list-unstyled">
        {{#distractors}}
            {{#distractor_feedback}}
            <li class="pl-order-blocks-pairing-indicator list-group-item-warning">
                <ul class="p-0">
                    <li class="{{block_formatting}} pl-order-block">{{{inner_html}}}</li>
                </ul>
                <div>
                    <span class="pl-order-blocks-feedback-icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                    {{distractor_feedback}}
                </div>
            </li>
            {{/distractor_feedback}}
            {{^distractor_feedback}}
                <li class="{{block_formatting}} pl-order-block">{{{inner_html}}}</li>
            {{/distractor_feedback}}
        {{/distractors}}
        </ul>
    </div>
    {{/show_distractors}}
{{/true_answer}}
