<pl-question-panel>
<p>
 Given that ${\bf a} =$ {{params.f_string}},
 find the unit vector ${\bf u}_a$ that gives the direction of ${\bf a}$.
</p>

</pl-question-panel>
<p>
    ${\bf u}_a =$
   <pl-number-input answers-name="ix"  size=5 display="inline"></pl-number-input> $\;\hat\imath$ 
   $\;+$ <pl-number-input answers-name="iy"  size=5 display="inline" ></pl-number-input> $\;\hat\jmath$ 
   $\;+$ <pl-number-input answers-name="iz" size=5 display="inline" ></pl-number-input> $\;\hat{k}$ 			    
</p>
