div.pl-order-blocks-right {
  /* This style applies to the DIV that holds each dropzone column */
  /* This particular style renders the dropzones in a single row horizontally */ 
  width: 46%;
  margin-right: 20px;
}

div.pl-order-blocks-bottom {
  /* This style applies to the DIV that holds each dropzone column */
  /* This particular style renders the dropzones in a single column vertically */ 
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}


ul.pl-order-blocks-connected-sortable li:hover:not(:first-child){
  cursor: move; /* For UX: The answer tiles shows a 'grab' cursor on mouse over */
  /*border: 1px solid blue;*/
  outline: 4px solid blue;
  outline-offset: -2px;
}


li.ui-state-highlight { 
  /*This styling applies to the placeholder answer tile that appears when the user is dragging */
  height: 3em !important; 
  border: none !important;
  list-style-type: none;
  background-color: #90a4ae !important; 
}

ul.pl-order-blocks-connected-sortable {
    height: 100%;
}


li.list-group-item-header-dropzone {
    background-color: #1DE9B6;
    font-weight: 600;
    color: #000000;
}

li.list-group-item-darkmode {
    border-radius: 7px;
    margin: 4px 7px 0px 7px;
    background-color: #f5f5f5;
    border: 1px solid grey !important;
    font-size: 1.2em;
    line-height: 1.1em;
}

li.list-group-item-darkmode:last-child  {
    margin-bottom: 8px !important;
}


li.list-group-item-header {
    background-color: #7C4DFF;
    border-radius: 7px;
    font-weight: 600;
    color: #ffffff;
}

code.user-output {
  border: 2px solid #A9A9A9; /* High visibility borders for accessibility */
  margin-right: 4px;
}

.answer_block_container {
    display: inline-block;
    border: 1px solid #BDBDBD;
}

li.list-group-item {
  width: inherit;
}

div.row {
  margin: inherit;
}

div.column {
  display: block;
  box-shadow: 2px #888888;
  border-radius: 4px;
  background-color: #eeeeee; 
  border: 1px solid #9e9e9e;
}

div.row:after {
  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}
