div.pl-order-blocks-right {
  /* This style applies to the DIV that holds each dropzone column */
  /* This particular style renders the dropzones in a single row horizontally */ 
  width: 46%;
  margin-right: 20px;
}

div.pl-order-blocks-bottom {
  /* This style applies to the DIV that holds each dropzone column */
  /* This particular style renders the dropzones in a single column vertically */ 
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}

ul.dropzone {
  background-color: #EFEFEF; 
  min-height: 100px;
}

ul.pl-order-blocks-connected-sortable li:hover, ul.dropzone li:hover{
  cursor: move; /* For UX: The answer tiles shows a 'grab' cursor on mouse over */
}

li.ui-state-highlight { 
  /*This styling applies to the placeholder answer tile that appears when the user is dragging */
  height: 2em !important; 
  line-height: 1.5em !important;
  border: none !important;
  color: #efefff !important; 
  background-color: #efefff !important; 
}

li.list-group-item-yellow {
  background-color: #FFA;
}

code.user-output {
  border: 2px solid #A9A9A9; /* High visibility borders for accessibility */
  margin-right: 4px;
}

.answer_block_container {
    display: inline-block;
}

li.list-group-item {
  width: inherit;
}

div.row {
  margin: inherit;
}

div.column {
  display:block;
}

div.row:after {
  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}
