{{#question}}
<script>
$(function() {
    var UUID = "{{uuid}}";

    new window.PLOrderBlocks(UUID, {
        maxIndent: {{max_indent}},
        enableIndentation: {{check_indentation}}
    });
});
</script>

    <div class="row">
        <div class="column {{dropzone_layout}}">
            <ul class="list-group-item list-group-item-primary header">
                <li><strong>{{source-header}}</strong>
                    <a role="button" class="btn btn-link btn-sm disabled" data-toggle="popover">
                        <i class="fa fa-question-circle" aria-hidden="true" style="visibility: hidden;"></i>
                    </a>
                </li>
            </ul>
            <ul id="order-blocks-options-{{uuid}}" name="{{answer_name}}" class="pl-order-blocks-connected-sortable {{inline}}">
                {{#options}}
                    <li class="list-group-item shadow" uuid="{{uuid}}" string="{{inner_html}}">{{{inner_html}}}</li>
                {{/options}}
            </ul>
        </div>
        <div class="column {{dropzone_layout}}">
            <ul class="list-group-item list-group-item-primary header">
                <li><strong>{{solution-header}}</strong>
                    <a role="button" class="btn btn-light btn-sm" data-toggle="popover" data-html="true" title="Order Blocks" data-content="{{help_text}}" data-trigger="focus" tabindex="0">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                </a>
                </li>
            </ul>
            <ul id="order-blocks-dropzone-{{uuid}}" name="{{answer_name}}" class="list-group pl-order-blocks-connected-sortable dropzone">
                {{#submission_dict}}
                    <li uuid="{{uuid}}" string="{{inner_html}}" style='margin-left: {{indent}}px;' class="list-group-item shadow">{{{inner_html}}}</li>
                {{/submission_dict}}
            </ul>
        </div>
    </div>
    <input id="{{answer_name}}-input" type="hidden" name="{{answer_name}}-input" value=""/>

{{/question}}

{{#submission}}
    {{^parse-error}}
    <div class="submission_container">
        <ul class="list-group submission_header">
            <li class="list-group-item"><strong>Your answer: </strong>
        {{#correct}}
            <span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>
        {{/correct}}
        {{#partially_correct}}
            <span class="badge badge-warning"><i class="fa fa-times" aria-hidden="true"></i>{{partially_correct}}%</span>
        {{/partially_correct}}
        {{#incorrect}}
            <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>
        {{/incorrect}}
            </li>
        </ul>
        <ul class="list-group submission_table">
            {{#student_submission}}
            	<li class="list-group-item" style="margin-left: {{indent}}px">{{{inner_html}}}</li>
            {{/student_submission}}
        </ul>
        {{{feedback}}}
    {{/parse-error}}

    {{#parse-error}}
        <strong>Your answer: </strong>
        <div id="pl-order-blocks" class="d-inline-block">
            <span class="badge text-danger badge-invalid"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid</span>
            <a role="button" class="btn btn-sm btn-secondary small border" data-placement="auto" data-trigger="focus" data-toggle="popover" data-html="true" style="margin-left: 5px" title="Format Error" tabindex="0" data-content="{{parse-error}}"> Why <i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
    {{/parse-error}}
    </div>
{{/submission}}

{{#true_answer}}
    <div class="true_answer_container">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success"><strong>Correct answer ({{grading_mode}}{{indentation_message}}):</strong></li>
        </ul>
        <ul class="list-group answer_table">
        {{#question_solution}}
            <li class="list-group-item" style="margin-left: {{indent}}px">{{{inner_html}}}</li>
        {{/question_solution}}
        </ul>
    </div>
{{/true_answer}}
