div.pl-order-blocks-right {
  /* This style applies to the DIV that holds each dropzone column */
  /* This particular style renders the dropzones in a single row horizontally */
  width: calc(50% - 16px);
  margin: 8px
}

div.pl-order-blocks-bottom {
  /* This style applies to the DIV that holds each dropzone column */
  /* This particular style renders the dropzones in a single column vertically */
  width: 100%;
  margin: 8px;
}

li.pl-order-blocks-code {
  list-style-type: none;
}

.pl-order-blocks-code > .pl-code,
.pl-order-blocks-code > .pl-code div {
  /* override margins on code block to ensure code is centered properly */
  margin-bottom: 0px !important;
}

ul.pl-order-blocks-connected-sortable li:hover{
  cursor: move; /* For UX: The answer tiles shows a 'grab' cursor on mouse over */
  outline: 2px solid blue;
  outline-offset: -2px;
}

li.ui-state-highlight {
  /* This styling applies to the placeholder answer tile created by jquery-ui when the user is dragging */
  border: none !important;
  list-style-type: none;
  background-color: #90a4ae !important;
  min-width: 3em !important;
}

.pl-order-blocks-container > ul {
  padding: 17px 17px 17px 17px;
  height: 100%;
  margin-bottom: 0px;
}

.pl-order-blocks-container li, .pl-order-blocks-answer-container li {
  margin-bottom: 5px;
  border: 1px solid grey !important;
  border-radius: 5px !important;
  line-height: 1.2em;
}

.pl-order-blocks-answer-container > ul {
  padding: 5px 5px 5px 5px;
}

div.pl-order-blocks-answer-container {
  display: inline-block;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
}

div.pl-order-blocks-container {
  display: block;
  box-shadow: 2px #888888;
  border-radius: 4px;
  background-color: #eeeeee;
  border: 1px solid #9e9e9e;
}

.pl-order-blocks-header {
  height: 3rem;
  display: flex;
  align-items: center;
}
