div.pl-order-blocks-right {
  /* This style applies to the DIV that holds each dropzone column */
  /* This particular style renders the dropzones in a single row horizontally */ 
  width: 46%;
  margin-right: 20px;
}

div.pl-order-blocks-bottom {
  /* This style applies to the DIV that holds each dropzone column */
  /* This particular style renders the dropzones in a single column vertically */ 
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}


ul.pl-order-blocks-connected-sortable li:hover{
  cursor: move; /* For UX: The answer tiles shows a 'grab' cursor on mouse over */
  outline: 2px solid blue;
  outline-offset: -2px;
}

li.ui-state-highlight { 
  /*This styling applies to the placeholder answer tile that appears when the user is dragging */
  height: 3em !important; 
  border: none !important;
  list-style-type: none;
  background-color: #90a4ae !important;
  min-width: 3em !important;
}

ul.header {
  color: black;
  list-style-type: none;
  margin-bottom: 0px;
}

ul.inline li {
  display: inline-block;
  margin-right: 5px;
}

ul.ui-sortable {
  padding: 17px 17px 17px 17px;
  height: 100%;
  margin-bottom: 0px;
}

ul.ui-sortable li, ul.answer_table li, ul.submission_table li {
  margin-bottom: 5px;
  border: 1px solid grey !important;
  border-radius: 5px !important;
  line-height: 1.1em;
}

ul.answer_table, ul.submission_table {
  padding: 10px 17px 10px 17px;
  background-color: #eeeeee;
}

div.row {
  margin: inherit;
}

div.column {
  display: block;
  box-shadow: 2px #888888;
  border-radius: 4px;
  background-color: #eeeeee; 
  border: 1px solid #9e9e9e;
}

