<h1 id="prompt">Prompt</h1>
<p>
  Explain, in English, how to solve the problem given in the Programing Problem section. When
  writing your explanation
</p>
<ol>
  <li>
    Use Markdown. You can find a cheat sheet containing all the Markdown syntax at
    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
      >https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet</a
    >
  </li>
  <li>
    Use the format we used when solving the Tic-Tac-Toe problem in class That is you should
    <ul>
      <li>Start from the top of the problem and work your way down</li>
      <li>
        Have a level two heading (<code>## My Heading</code>) for each major part of your problem
      </li>
      <li>You should have a numbered list for each step in your process</li>
      <li>
        Steps that should be repeated or are conditional should be indented one level inside the
        repetition/conditional condition
      </li>
    </ul>
  </li>
  <li>
    You cannot mention any coding constructs in your solution. This includes but is not limited to
    <ul>
      <li>Types (int, float, string, array, etc.)</li>
      <li>Functions (printf, scanf, pow, atoi, etc.)</li>
      <li>If statements</li>
      <li>Loops</li>
    </ul>
  </li>
  <li>
    Your explanation should be understandable by someone with <strong>NO</strong> prior programming
    experience
  </li>
</ol>
<h1 id="grading">Grading</h1>
<p>We will be looking for two things when grading your assignment</p>
<ol>
  <li>
    You made a sincere, honest attempt to explain how to solve the problem. Even if your solution is
    incorrect, as long as your solution looks reasonable, you will be given credit.
  </li>
  <li>
    You don&#39;t have any code related constructs in your solution. Every mention of one will
    result in a {{code_penalty}}{{^code_penalty}}10{{/code_penalty}}% penalty.
  </li>
</ol>
