<h3 id="files-to-submit">Files to submit</h3>
<ul>
    <li>quad.c</li>
</ul>
<h3 id="problem">Problem</h3>
<p>A quadratic equation is an equation in the form $ax^2 + bx + c$</p>
<p>The roots of a quadratic equation are values of x that cause the equation to evaluate to 0
    and can be solved for
    using the quadratic equation: $x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$</p>
<p>Depending on the values of a, b, and c there may be 0, 1, or 2 real solutions. </p>
<p>Write a program called quad.c that asks the user for a, b, and c and then displays the real roots of x if there are
    any.</p>
<h3 id="requirements">Requirements</h3>
<h4 id="problem-specific">Problem Specific</h4>
<ul>
    <li>Your program must have at least <strong>one</strong> other function besides main</li>
</ul>
<h4 id="general">General</h4>
<ul>
    <li>There must be a comment at the top of your program describing what it does</li>
    <li>Each function in your program must have a comment<ul>
            <li>Describing what the function does</li>
            <li>Describing the meaning of each parameter</li>
            <li>Describing what the function returns</li>
        </ul>
    </li>
    <li>Print all doubles to 2 decimal points unless stated otherwise</li>
</ul>
<h3 id="restrictions">Restrictions</h3>
<ul>
    <li>No global variables may be used</li>
</ul>
<h3 id="assumptions">Assumptions</h3>
<ul>
    <li>Input will always be valid</li>
    <li>Real values, values with decimal points, may be entered for a, b, and c</li>
    <li>The user will never enter a value of 0 for the &quot;a&quot; variable</li>
</ul>
<h3 id="tips">Tips</h3>
<p>When there are 2 solutions the + solution is printed first</p>
<h3 id="examples">Examples</h3>
<p>In the examples below user input has been italicized.
    You don&#39;t have to do any italicizing in your program.
    It is just there to help you differentiate between what is input and what is output.</p>
<h4 id="example-1">Example 1</h4>
<p>Given a quadratic equation of the form a<em>x^2 + b </em> x + c</p>
<p>Please enter a: <em>1</em></p>
<p>Please enter b: <em>2</em></p>
<p>Please enter c: <em>1</em></p>
<p>There is one real solution: -1.00</p>
<h4 id="example-2">Example 2</h4>
<p>Given a quadratic equation of the form a<em>x^2 + b </em> x + c</p>
<p>Please enter a: <em>4</em></p>
<p>Please enter b: <em>3</em></p>
<p>Please enter c: <em>7</em></p>
<p>There are no real solutions</p>
<h4 id="example-3">Example 3</h4>
<p>Given a quadratic equation of the form a<em>x^2 + b </em> x + c</p>
<p>Please enter a: <em>3</em></p>
<p>Please enter b: <em>11</em></p>
<p>Please enter c: <em>8</em></p>
<p>There are 2 real solutions</p>
<p>Solution 1: -1.00</p>
<p>Solution 2: -2.67</p>
