<p>
  This page shows has example uses of the <code>pl-template</code>
  element, including uses of templates within other templates.
</p>

<hr />

<pl-template file-name="templates/problem_statement_template.mustache">
  <pl-variable name="is-open">True</pl-variable>
  <pl-variable
    name="problem-statement"
    directory="question"
    file-name="statement.html"
  ></pl-variable>
</pl-template>

<hr />

<pl-template file-name="templates/card_template.mustache" directory="serverFilesCourse">
  <pl-variable name="header"><b>A bolded card header</b></pl-variable>
</pl-template>

<hr />

<pl-template
  file-name="templates/prompt_in_collapsed_section.mustache"
  directory="serverFilesCourse"
  log-variable-warnings="False"
>
  <pl-variable name="section_header">Click To Hide The Prompt</pl-variable>
  <pl-variable name="prompt_path">pre_code_prompt.html</pl-variable>
  <pl-variable name="parent_directory">question</pl-variable>
  <pl-variable name="show">True</pl-variable>
</pl-template>

<hr />

<pl-template
  file-name="templates/prompt_in_collapsed_section.mustache"
  directory="serverFilesCourse"
  log-variable-warnings="False"
>
  <pl-variable name="section_header">Click To Show The Prompt For The Program</pl-variable>
  <pl-variable name="prompt_path">quadratic_formula_prompt.html</pl-variable>
  <pl-variable name="parent_directory">question</pl-variable>
</pl-template>
