<pl-question-panel>
  <p>What is the largest planet in our solar system?</p>
</pl-question-panel>

<pl-multiple-choice answers-name="planet" number-answers="4">
  <pl-answer correct="true">Jupiter</pl-answer>
  <pl-answer correct="false">Mercury</pl-answer>
  <pl-answer correct="false">Venus</pl-answer>
  <pl-answer correct="false">Earth</pl-answer>
  <pl-answer correct="false">Mars</pl-answer>
  <pl-answer correct="false">Saturn</pl-answer>
  <pl-answer correct="false">Uranus</pl-answer>
  <pl-answer correct="false">Neptune</pl-answer>
</pl-multiple-choice>
