<p>
  Upload a CSV file in the format:
</p>
  <pre class="ml-4">
    groupname, uid
    teamA, one@example.com
    teamA, two@example.com
    teamB, three@example.com
    teamB, four@example.com
  </pre>
<p>
  The <tt>groupname</tt> column is a unique identification for the group. To change the grouping, link uids to the groupname.
</p>
