<p>
  Upload a CSV file in the format of
  the <tt><i>&lt;assessment&gt;</i>_grouping.csv</tt>
  file.
</p>
<p>
  Alternatively, the CSV file can be in the format:
</p>
<pre class="ml-4">groupname, uid
  teamA, mwest@illinois.edu
  teamA, zilles@illinois.edu
  teamB, mussulma@illinois.edu
  teamB, dev@illinois.edu
  </pre>
<p>
  The <tt>groupname</tt> column is a unique identification for the group. To change the grouping, link uids to the groupname.
</p>