<form name="delete-member-form" method="POST">
  UIDs:
  <input type="text" class="form-control" placeholder="A@ex.com, B@ex.com" name="delete_member_uids">
  <br>
  <input type="hidden" name="__action" value="delete_member">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
  <input type="hidden" name="group_id" value="<%= row.group_id %>">
  <button type="button" class="btn btn-secondary" onclick="$('#row<%= iRow %>Popoverdeletemember').popover('hide')">
    Cancel
  </button>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
