<p>Consider a directed graph $G$, where each edge is colored either
    red, white, or blue. A walk in $G$ is called a <em>French flag
        walk</em> if its sequence of edge colors is red, white, blue, red,
    white, blue, and so on. More formally, a walk $v_0\rightarrow v_1
    \rightarrow \ldots \rightarrow v_k$ is a French flag walk if, for
    every integer $i\in{0,\dots,k-1}$, the edge $v_i \rightarrow v_{i+1}$ is:</p>
<ul>
    <li>red if $i \bmod 3 = 0$,</li>
    <li>white if $i \bmod 3 = 1$, and</li>
    <li>blue if $i \bmod 3 = 2$.</li>
</ul>
<p>Describe an efficient algorithm to find all vertices in a given
    edge-colored directed graph $G$ that can be reached from a given
    vertex $s$ through a French flag walk.</p>
