<pl-question-panel>
  <p>Which of the following birds is a kingfisher?</p>
</pl-question-panel>

<pl-multiple-choice answers-name="kingfisher" number-answers="4">
  <pl-answer correct="true">
    <pl-figure file-name="bird-a.webp" width="250" alt="A colorful blue-and-orange bird perched on a stump."></pl-figure>
  </pl-answer>
  <pl-answer correct="true">
    <pl-figure file-name="bird-c.webp" width="250" alt="A colorful blue-and-orange bird perched on a branch."></pl-figure>
  </pl-answer>
  <pl-answer correct="true">
    <pl-figure file-name="bird-g.webp" width="250" alt="A colorful blue-and-orange bird perched on a branch against a green background."></pl-figure>
  </pl-answer>
  <pl-answer correct="true">
    <pl-figure file-name="bird-i.webp" width="250" alt="A colorful blue-and-orange bird perched on a branch against a green background."></pl-figure>
  </pl-answer>
  <pl-answer correct="true">
    <pl-figure file-name="bird-j.webp" width="250" alt="A blue-and-orange bird perched on a lichen-covered branch."></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-b.webp" width="250" alt="A small brown-and-white bird standing on the forest floor."></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-d.webp" width="250" alt="A mottled brown bird probing mud with its bill."></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-e.webp" width="250" alt="A medium-sized bird with a gray head and orange breast perched on a branch."></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-f.webp" width="250" alt="A small white bird running along the beach."></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-h.webp" width="250" alt="A small white bird on the beach."></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-k.webp" width="250" alt="A white and green bird on a small branch."></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-l.webp" width="250" alt="A small brown bird on a broken, mossy branch."></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-m.webp" width="250" alt="A tiny yellow-green bird perched in foliage."></pl-figure>
  </pl-answer>
</pl-multiple-choice>
