<pl-question-panel>
  <p>Which of the following birds is a kingfisher?</p>
</pl-question-panel>

<pl-multiple-choice answers-name="kingfisher" number-answers="4">
  <pl-answer correct="true">
    <pl-figure file-name="bird-a.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="true">
    <pl-figure file-name="bird-c.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="true">
    <pl-figure file-name="bird-g.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="true">
    <pl-figure file-name="bird-i.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="true">
    <pl-figure file-name="bird-j.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-b.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-d.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-e.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-f.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-h.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-k.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-l.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
    <pl-figure file-name="bird-m.webp" directory="clientFilesQuestion" width="250px"></pl-figure>
  </pl-answer>
</pl-multiple-choice>
