<pl-question-panel>
  <p>Arrange the steps of the scientific method in the correct order.</p>
</pl-question-panel>

<pl-order-blocks answers-name="scientific-method">
  <pl-answer correct="true">Make an observation</pl-answer>
  <pl-answer correct="true">Form a hypothesis</pl-answer>
  <pl-answer correct="true">Design an experiment</pl-answer>
  <pl-answer correct="true">Collect data</pl-answer>
  <pl-answer correct="true">Analyze results and draw conclusions</pl-answer>
  <pl-answer correct="false">Calibrate instruments</pl-answer>
  <pl-answer correct="false">Submit a grant proposal</pl-answer>
</pl-order-blocks>
