<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body style="margin: 0; overflow: hidden; height: 100%; width: 100%;">
    <div>
      <%- include('../partials/navbar', {navPage: ''}); %>
      <style>
        .mb-4 {
          margin-bottom: 0 !important;
        }
      </style>
    </div>
    <div style="position: fixed; height: 100%; width: 100%;">
      <div id="loading_page"><%- include('../partials/loading'); %></div>
      <iframe
        id="workspace_container"
        style="margin: 0; border: none; width: 100%; height: calc(100% - 57px);"
      ></iframe>
    </div>
    <button id="button" style="position: absolute; left: 250px; bottom: 0;">
      Ping the Server
    </button>
    <script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script>
      $(function () {
        var socket = io("/workspace", {
          query: 'workspace_id=<%= workspace_id %>',
          upgrade: false,
        });
        socket.on("connect", function () {
          document.getElementById("button").onclick = function () {
            socket.emit("heartbeat", "I am still alive");
          };
        });

        // save the progress every 5 sec
        setInterval(function () {
          socket.emit("heartbeat", "I am still alive");
        }, 5000);

        const iframe = document.getElementById("workspace_container");
        iframe.addEventListener("load", function () {
          var elems = iframe.contentWindow.document.getElementsByTagName("pre");
          if (elems.length == 1) {
            var elem = elems[0];
            elem.innerText = "";
            if (elem.innerText.includes("Error occured")) {
              console.log("Found error");
              setTimeout(function () {
                iframe.contentWindow.location.reload();
              }, 1000);
            }
          } else {
            console.log("Loading the page");
            document.getElementById("loading_page").style.display = "none";
          }
        });

        socket.on("host-ready", function () {
          console.log("host is ready");
          iframe.src = window.location.href + "/container/";
        });

        socket.on("update", function (msg) {
          console.log("receive update: " + msg);
        });
      });
    </script>
  </body>
</html>
