<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body style="margin:0; overflow: hidden;" width="100%" height="100%">
    <iframe id="workspace_container" width="100%" height="100%" style="margin: 0; border: none;"></iframe>
    <button id="button" style="position: absolute; left: 250px; bottom: 0">Ping the Server</button>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script>
        $(function () {
            var socket = io('/workspace', {query: 'id=' + '<%= id %>', upgrade: false});
            document.getElementById('workspace_container').src = window.location.href + '/container/'
            socket.on('connect', function () {
                console.log('connected');
                socket.emit('ping', 'Hello!');
            });

            socket.on('update', function (msg) {
                // document.getElementById('msg').innerText = 'Hello';
                console.log('receive update: ' + msg);
                
                document.getElementById('button').onclick = function() {              
                    socket.emit('heartbeat', 'I am still alive');
                };
            });
        });
    </script>
</body>
</html>
