<pl-question-panel>
  <p>Name one of the three most-limiting plant nutrients in agriculture.</p>
</pl-question-panel>
<pl-string-input
  answers-name="macronutrient"
  correct-answer="(?x) N(itrogen)? | P(hosphorus)? | K | potassium # (?x) verbose regex"
  correct-answer-format="regex"
  remove-leading-trailing="true"
  ignore-case="true"
  aria-label="Answer">
</pl-string-input>
<pl-answer-panel>
Any of: <code>nitrogen</code>, <code>phosphorus</code>, <code>potassium</code>, or abbreviations. Leading and trailing whitespace allowed.
</pl-answer-panel>
