chevron==0.14.0
flake8==6.0.0
Flake8-pyproject==1.2.2
flake8-black==0.3.6
flake8-isort==6.0.0
lxml==4.9.2
matplotlib==3.6.2
networkx==3.0
numpy==1.24.1
pandas==1.5.2
pandas-stubs==1.5.2.221124
pycryptodome==3.16.0
pyquaternion==0.9.9
regex==2022.10.31
scipy==1.10.0
sympy==1.11.1
rpy2==3.5.7
pygraphviz==1.6
ansi2html==1.8.0
scikit-learn==1.2.0
nltk==3.8.1
Pygments==2.14.0
tzlocal==4.2
sphinx==6.1.3
sphinx-markdown-builder==0.5.5
recommonmark==0.7.1
PuLP==2.7.0
text-unidecode==1.3
statsmodels==0.13.5
openpyxl==3.0.10
pytest==7.2.0
pytest-lazy-fixture==0.6.3
types-pytest-lazy-fixture==0.6.3.2
typing-extensions==4.4.0
psutil==5.9.4
isort==5.11.4
black==23.1.0
