ansi2html==1.8.0
black==23.1.0
chevron==0.14.0
Faker==18.3.1
flake8-black==0.3.6
flake8-isort==6.0.0
Flake8-pyproject==1.2.2
flake8==6.0.0
isort==5.12.0
lxml==4.9.2
lxml-stubs==0.4.0
matplotlib==3.7.0
networkx==3.0
nltk==3.8.1
numpy==1.24.2
openpyxl==3.1.1
pandas-stubs==1.5.3.230227
pandas==1.5.3
Pint==0.20.1
psutil==5.9.4
PuLP==2.7.0
pycryptodome==3.17.0
Pygments==2.14.0
pygments-ansi-color==0.2.0
pygraphviz==1.6
pyquaternion==0.9.9
pytest-lazy-fixture==0.6.3
pytest==7.2.1
recommonmark==0.7.1
regex==2022.10.31
rpy2==3.5.9
scikit-learn==1.2.1
scipy==1.10.1
sphinx-markdown-builder==0.5.5
sphinx==6.1.3
statsmodels==0.13.5
sympy==1.11.1
text-unidecode==1.3
types-chevron==0.14.2.3
types-Pygments==2.14.0.5
types-pytest-lazy-fixture==0.6.3.3
typing-extensions==4.5.0
tzlocal==4.2
