.ql-container,
.ql-toolbar {
  font-family: inherit;
  font-size: inherit;
}

.pl-rich-text-editor-container:focus-within {
  outline: 0.2rem solid rgb(0 123 255 / 25%);
}

.pl-rich-text-editor-container {
  box-shadow: 3px 3px 3px grey;
}
