{{#matrix_matlab}}
Enclose it by a single pair of square brackets. Separate entries in each row with a space. Indicate the end of each intermediate row with a semicolon. Each entry must be a number. No symbolic expressions (those that involve fractions, square roots, variables, etc.) will be accepted. Scientific notation is accepted (e.g., 1.2e03). {{#relabs}}Numbers must be accurate to within relative tolerance {{rtol}} and absolute tolerance {{atol}}.{{/relabs}}{{#sigfig}}Numbers must be accurate to {{digits}} significant figures.{{/sigfig}}{{#decdig}}Numbers must be accurate to {{digits}} digits after the decimal.{{/decdig}}
{{/matrix_matlab}}
