.plfu-dropzone {
  position: relative;
  min-height: 15ex;
  border-radius: 4px;
  background-color: #FAFDFF;
  border: 2px dashed #0087F7;
}
.plfu-dropzone.dz-clickable {
  cursor: pointer;
}
.plfu-dropzone.dz-drag-hover {
  background-color: #D9EDF7;
  border-style: solid;
}
.plfu-dropzone .dz-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
