<p>
    This will be the file download element. All available URLs:
    <ul>
        <li>dynamic question: <code>{{dynamic_question_url}}</code></li>
        <li>question: <code>{{question_url}}</code></li>
        <li>assessment: <code>{{assessment_url}}</code></li>
        <li>instance: <code>{{instance_url}}</code></li>
        <li>course: <code>{{course_url}}</code></li>
    </ul>
    Link:
    <ul>
        <li><a href="{{file_url}}" download>{{file_label}}</a></li>
    </ul>
</p>
