{
    # debug
    admin off
    auto_https disable_redirects
    http_port 8080
}

:8080 {
    log {
        output stderr
        # level DEBUG
        format console
    }
    reverse_proxy localhost:5050 {
        header_up X-Script-Name {$ADJUSTED_BASE_URL:""}
    }
}
