matplotlib==3.3.1
networkx==2.4
numpy==1.19.1
pandas==1.1.1
scipy==1.5.2
sympy==1.6.1
Pillow==7.2.0
pygraphviz==1.6
defusedxml==0.6.0
openpyxl==3.0.4
scikit-learn==0.23.2
scikit-image==0.17.2
requests==2.24.0
colormath==3.0.0
nltk==3.5
beautifulsoup4==4.9.1
bokeh==2.2.1
folium==0.11.0
Pygments==2.6.1
ipython==7.18.1
nbformat==5.0.7
nbconvert==5.6.1
