automata-lib==9.2.0
beautifulsoup4==4.14.3
bokeh==3.9.0
colormath==3.0.0
defusedxml==0.7.1
Faker==40.12.0
folium==0.20.0
ipython==9.12.0
matplotlib==3.10.8
nbconvert==7.17.0
nbformat==5.10.4
networkx==3.6.1
nltk==3.9.4
numpy==2.4.4
openpyxl==3.1.5
pandas==2.3.3
pip==26.0.1
Pillow==12.2.0
PuLP==3.3.0
Pygments==2.20.0
pyarrow==23.0.1
pygraphviz==1.14
requests==2.33.1
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
sympy==1.14.0
text-unidecode==1.3
typing-extensions==4.15.0
