<p>
  Upload a CSV file like this:
</p>
<pre class="ml-4">uid,instance,qid,score_perc
mwest@illinois.edu,1,addTwoNumbers,34.5
zilles@illinois.edu,1,matrixMultiply,100
zilles@illinois.edu,1,addTwoNumbers,78.92</pre>
<p>
  The example above will change the percentage score for
  <tt>mwest@illinois.edu</tt> on one question (<tt>addTwoNumbers</tt>
  to 34.5%), and for <tt>zilles@illinois.edu</tt> on two
  questions. Only questions explictly listed will have their scores
  changed. The <tt>instance</tt> column indicates which assessment
  instance to modify, and should be <tt>1</tt> if there is only a
  single instance per student. The total scores for the assessments
  will be automatically recalculated.
</p>
<p>
  Alternatively, the per-question points can be changed with a CSV
  containing a <tt>points</tt> column, like:
</p>
<pre class="ml-4">uid,instance,qid,points
mwest@illinois.edu,1,addTwoNumbers,8.73
zilles@illinois.edu,1,matrixMultiply,14
zilles@illinois.edu,1,addTwoNumbers,0</pre>

<h4>Optional: Feedback for display to students</h4>
<p>
  To display feedback, include an extra column called
  <tt>feedback</tt>:
</p>
<pre class="ml-4">uid,instance,qid,score_perc,feedback
mwest@illinois.edu,1,addTwoNumbers,34.5,You _divided_ rather than _multiplying_.
zilles@illinois.edu,1,matrixMultiply,100,
zilles@illinois.edu,1,addTwoNumbers,78.92,You forgot to take a *cube* root.</pre>
<p>
  The feedback will be attached to the most recent student submission.
  To display it to students you can put something like the following
  in your <tt>question.html</tt> file (here using Markdown):
</p>
<pre class="ml-4"><pl-submission-panel>
  <markdown>{{{feedback.manual}}}</markdown>
</pl-submission-panel></pre>
<p>
  Feedback can be set along with either <tt>score_perc</tt>
  or <tt>points</tt>. The <tt>feedback.manual</tt> property will be
  set to the entire feedback string. Any other properties of the
  feedback object will be left unchanged.
</p>
<p>
  To associate the feedback with a specific student submission (rather
  than the most recent one), add a <tt>submission_id</tt> column with
  values obtained from the CSV or ZIP files on the Downloads page:
</p>
<pre class="ml-4">uid,instance,qid,score_perc,submission_id,feedback
mwest@illinois.edu,1,addTwoNumbers,34.5,42983,You _divided_ rather than _multiplying_.
zilles@illinois.edu,1,matrixMultiply,100,42984,
zilles@illinois.edu,1,addTwoNumbers,78.92,42987,You forgot to take a *cube* root.</pre>
<p>
  You can alternatively use a <tt>feedback_json</tt> column containing
  JSON, which will overwrite properties of the
  existing <tt>feedback</tt> object in the submission. Note that JSON
  requires double-quotation escaping inside CSV files:
</p>
<pre class="ml-4">uid,instance,qid,score_perc,feedback_json
mwest@illinois.edu,1,addTwoNumbers,34.5,"{""msg"": ""You _divided_ rather than _multiplying_""}"
zilles@illinois.edu,1,matrixMultiply,100,
zilles@illinois.edu,1,addTwoNumbers,78.92,"{""msg"": ""You forgot to take a *cube* root.""}"</pre>
