<p>
  Upload a CSV file in the format of
  the <tt><i>&lt;assessment&gt;</i>_submissions_for_manual_grading.csv</tt>
  file from the Downloads page.
</p>
<p>
  Alternatively, the CSV file can be in the format:
</p>
<pre class="ml-4">uid,instance,qid,score_perc,feedback
mwest@illinois.edu,1,addTwoNumbers,34.5,The second step was wrong
zilles@illinois.edu,1,matrixMultiply,100,Great job!
zilles@illinois.edu,1,addTwoNumbers,78.92,</pre>
<p>
  The <tt>instance</tt> column indicates which assessment instance to
  modify. The total scores for the assessments will be automatically
  recalculated. The feedback will be attached to the most recent
  student submission. To change the per-question points, replace
  the <tt>score_perc</tt> column above with a <tt>points</tt> column.
</p>
