.pl-checkbox-popover {
  width: 340px;
  max-width: 100%;
}

:not(.form-check-inline) > .pl-checkbox-key-label {
  min-width: 1.25em;
  overflow-wrap: normal;
}

.pl-checkbox-feedback {
  border-left: 0.25rem solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.25rem 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
}

.pl-checkbox-submission-feedback {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
