{{#question}}
{{#inline}}<span class="d-inline-block ms-2">{{/inline}}
    <span class="input-group pl-symbolic-input">
        {{#label}}
        <span class="input-group-text" id="pl-symbolic-input-{{uuid}}-label">{{{label}}}</span>
        {{/label}}
        <input
            name="{{name}}"
            type="text"
            autocomplete="off"
            autocorrect="off"
            class="form-control pl-symbolic-input-input {{#parse_error}}has-validation is-invalid{{/parse_error}}"
            {{#parse_error}}aria-invalid="true"{{/parse_error}}
            size="{{size}}"
            {{^editable}}disabled{{/editable}}
            {{#raw_submitted_answer}}value="{{raw_submitted_answer}}"{{/raw_submitted_answer}}
            placeholder="{{placeholder}}"
            {{#suffix}}aria-describedby="pl-symbolic-input-{{uuid}}-suffix"{{/suffix}}
            {{#label}}aria-labelledby="pl-symbolic-input-{{uuid}}-label"{{/label}}
        />
        {{#suffix}}
        <span class="input-group-text" id="pl-symbolic-input-{{uuid}}-suffix">{{suffix}}</span>
        {{/suffix}}
        {{#show_info}}
        <button type="button" class="btn btn-light border d-flex align-items-center" data-bs-toggle="popover" data-bs-html="true" title="Symbolic" data-bs-content="{{info}}" data-bs-placement="auto">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </button>
        {{/show_info}}
        {{#correct}}
            <span class="input-group-text">
                <span class="badge text-bg-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>
            </span>
        {{/correct}}
        {{#partial}}
            <span class="input-group-text">
                <span class="badge text-bg-warning"><i class="far fa-circle" aria-hidden="true"></i> {{partial}}%</span>
            </span>
        {{/partial}}
        {{#incorrect}}
            <span class="input-group-text">
                <span class="badge text-bg-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>
            </span>
        {{/incorrect}}
    </span>
    {{#parse_error}}
        <span class="invalid-feedback d-block">
            <span class="badge text-bg-danger">
                Invalid 
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </span>
            <a 
                class="link-primary"
                tabindex="0"
                role="button"
                data-bs-placement="auto" 
                data-bs-toggle="popover"
                data-bs-html="true"
                title="Format error"
                data-bs-content="{{parse_error}}"
            >
                More info…
            </a>
        </span>
    {{/parse_error}}
{{#inline}}</span>{{/inline}}
{{/question}}


{{#submission}}
{{#inline}}<span class="d-inline-block">{{/inline}}
{{#error}}

<span>

{{#parse_error}}
    {{#label}}<span>{{{label}}}</span>{{/label}}
    {{#raw_submitted_answer}}<code class="user-output-invalid">{{raw_submitted_answer}}</code>{{/raw_submitted_answer}}
    {{#suffix}}<span>{{suffix}}</span>{{/suffix}}
    <span class="small" style="white-space: nowrap">
        <span class="badge text-bg-danger">
            Invalid <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </span>
        <a
            class="link-primary"
            tabindex="0"
            role="button"
            data-bs-placement="auto"
            data-bs-toggle="popover"
            data-bs-html="true"
            title="Format error"
            data-bs-content="{{parse_error}}"
        >
           More info…
        </a>
    </span>
{{/parse_error}}
{{#missing_input}}
    {{#label}}<span>{{{label}}}</span>{{/label}}
    <span class="small" style="white-space: nowrap">
        <span class="badge text-bg-dark border">
            Missing input 
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </span>
        <a 
            class="link-primary"
            tabindex="0"
            role="button"
            data-bs-placement="auto"
            data-bs-toggle="popover"
            data-bs-html="true"
            title="Missing input"
            data-bs-content="There is no submitted value for this field.  This may have happened because the question was changed by course staff after the answer was submitted."
        >
           More info…
        </a>
    </span>
    {{#suffix}}<span>{{suffix}}</span>{{/suffix}}
{{/missing_input}}

</span>

{{/error}}
{{^error}}
{{#label}}<span>{{{label}}}</span>{{/label}}
${{a_sub}}$

<!-- Show submitted answer submission was parsed from -->
<button type="button" class="ms-1 btn btn-sm btn-secondary small border"
    data-bs-placement="auto" data-bs-toggle="popover" data-bs-html="true"
    title="Original Input" 
    data-bs-content="Parsed from <samp class=user-output>{{raw_submitted_answer}}</samp>"
>
    <i class="fa fa-question-circle" aria-hidden="true"></i>
</button>

{{#suffix}}<span>{{suffix}}</span>{{/suffix}}

{{#correct}}<span class="badge text-bg-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>{{/correct}}
{{#partial}}<span class="badge text-bg-warning"><i class="far fa-circle" aria-hidden="true"></i> {{partial}}%</span>{{/partial}}
{{#incorrect}}<span class="badge text-bg-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>{{/incorrect}}
{{/error}}
{{#inline}}</span>{{/inline}}
{{/submission}}

{{#answer}}
{{#label}}<span>{{{label}}}</span>{{/label}}
${{a_tru}}$
{{#suffix}}<span>{{suffix}}</span>{{/suffix}}
{{/answer}}

{{#format}}
<p><strong>General format information:</strong><br>Your answer must be a symbolic expression. All numbers must be rational - so, <code class="user-output">1/2</code> instead of <code class="user-output">0.5</code>.
{{^allow_complex}}Complex numbers are not allowed.{{/allow_complex}}</p>
<!-- From https://stackoverflow.com/a/14417521/2923069 -->
{{#variables.0}}
<p>
    <strong>Allowable variables:</strong><br>
    {{#variables}} <code class="user-output">{{.}}</code> &nbsp; {{/variables}}
</p>
{{/variables.0}}
{{#constants.0}}
<p>
    <strong>Allowable constants:</strong><br>
    {{#constants}} <code class="user-output">{{.}}</code> &nbsp; {{/constants}}
</p>
{{/constants.0}}
{{#operators.0}}
<p>
    <strong>Allowable operators:</strong><br>
    {{#operators}} <code class="user-output">{{.}}</code> &nbsp; {{/operators}}
</p>
{{/operators.0}}

<p>Note that either <code class="user-output">^</code> or <code class="user-output">**</code> can be used for exponentiation.</p>
{{/format}}

{{#format_error}}
    <hr>
    {{{ format_string }}}
{{/format_error}}
