<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <main class="container">
      <div class="card mb-4">
        <div class="card-body">
          <p class="text-center">A password is required to access this assessment.</p>

          <% if (passwordInvalid) { %>
          <p class="text-center text-danger">
          Previous password invalid or expired. Please try again.
          </p>
          <% } %>

          <form method="POST">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
