.roles-grid-row,
.roles-grid-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.7fr 0.7fr 0.4fr;
  gap: 0 0.75rem;
  padding: 0.5rem;
  align-items: center;
  min-width: 40rem;
}

.roles-grid-header {
  font-weight: bold;
  font-size: 0.875rem;
  border-bottom: 2px solid var(--bs-border-color);
}

.roles-grid-row {
  border-bottom: 1px solid var(--bs-border-color);
}

.roles-grid-row:last-child {
  border-bottom: none;
}

.roles-grid-row__span-all {
  grid-column: 1 / -1;
}

.roles-grid-row__error-name {
  grid-column: 1;
  grid-row: 2;
}

.roles-grid-row__error-size-both {
  grid-column: 2 / 4;
  grid-row: 2;
}

.roles-grid-row__error-min {
  grid-column: 2;
  grid-row: 2;
}

.roles-grid-row__error-max {
  grid-column: 3;
  grid-row: 2;
}
