#input-feedback-and-units-container {
  display: none;
}

/* If units are shown, or a response was provided, display the answer units and feedback container */
#input-feedback-and-units-container.show-units,
#input-feedback-and-units-container.correct,
#input-feedback-and-units-container.incorrect {
  display: flex;
}

/* By default, the feedback badges (0%, 100%) are hidden */
#input-feedback-and-units-container .feedback-badge-correct,
#input-feedback-and-units-container .feedback-badge-incorrect {
  display: none;
}

/* Show the proper feedback badge based on the correctness of the user's response */
#input-feedback-and-units-container.correct .feedback-badge-correct,
#input-feedback-and-units-container.incorrect .feedback-badge-incorrect {
  display: block;
}

/* Hide the answer units by default */
#input-feedback-and-units-container #answer-units {
  display: none;
}

#input-feedback-and-units-container.show-units #answer-units {
  display: block;
  margin-right: 0;
}

/* Add padding between the units and the feedback badge when both are displayed */
#input-feedback-and-units-container.correct #answer-units,
#input-feedback-and-units-container.incorrect #answer-units {
  margin-right: 0.5rem;
}

#multiple-choice-response,
#input-response {
  display: none;
}

#response-container.multiple-choice-response #multiple-choice-response {
  display: block;
}

#response-container.input-response #input-response {
  display: flex;
}

#multiple-choice-feedback-container {
  width: fit-content;
  margin-top: 1rem;
}

#multiple-choice-feedback-container .feedback-badge-correct,
#multiple-choice-feedback-container .feedback-badge-partially-correct,
#multiple-choice-feedback-container .feedback-badge-incorrect {
  display: none;
}

#multiple-choice-feedback-container.correct .feedback-badge-correct,
#multiple-choice-feedback-container.partially-correct .feedback-badge-partially-correct,
#multiple-choice-feedback-container.incorrect .feedback-badge-incorrect {
  display: block;
}

#string-response .feedback-badge-correct,
#string-response .feedback-badge-incorrect {
  display: none;
}

#string-response.correct .feedback-badge-correct,
#string-response.incorrect .feedback-badge-incorrect {
  display: block;
}

/* If the answer label contains MathJax, remove unnecessary padding from the MathJax container */
#answer-label > mjx-container {
  margin: 0;
}
