:is(html, body):has(div.app-container) {
  width: 100%;
  height: 100%;
}

body:has(div.app-container) {
  overflow-y: unset !important;
}

.app-container {
  display: grid;
  position: relative;
  height: 100%;
  width: 100vw;
  grid-template:
    'top-nav top-nav' auto
    'side-nav content' 1fr / 300px 1fr;
  transition: 300ms;
}

.app-container.no-sidebar {
  /* display: block; */
  grid-template:
    'top-nav top-nav' auto
    'side-nav content' 1fr / 0 1fr;
}

.app-top-nav {
  grid-area: top-nav;
}

.app-side-nav {
  grid-area: side-nav;
  padding: 0.75rem;
  overflow-y: auto;

  /* --bs-primary-bg-subtle from Bootstrap 5.3 */
  background-color: #cfe2ff;
  transition: 300ms;
}

.app-container.no-sidebar .app-side-nav {
  padding: 0.75rem 0;
  overflow: hidden;
}

.app-main {
  grid-area: content;
  overflow-x: hidden;
}

.app-main-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.side-nav {
  display: flex;
  flex-direction: column;
}

.side-nav-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.side-nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: var(--bs-body-color) !important;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  position: relative;
  white-space: nowrap;
}

.side-nav-link:hover,
.side-nav-link-active {
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}

.side-nav-link-active {
  font-weight: bold;
}

.side-nav-link-active::after {
  content: '';
  display: block;
  height: 100%;
  width: 4px;
  position: absolute;
  left: -0.75rem;
  background-color: var(--bs-primary);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.side-nav-section-header {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid var(--bs-body-color);
  margin-bottom: 0.5rem;
  white-space: nowrap;
}
