:is(html, body):has(div.app-container) {
  width: 100%;
  height: 100%;
}

body:has(div.app-container) {
  overflow-y: unset !important;
}

.app-container {
  display: block;
}

/* app-container styles when the side nav can show */
.app-container.side-nav-can-show {
  display: grid;
  position: relative;
  width: 100vw;
  height: 100%;
  transition: 300ms;
  grid-template:
    'top-nav top-nav' auto
    'side-nav content' 1fr / 50px 1fr;
}

/* app-container styles when the side nav is shown */
.app-container.side-nav-can-show.show-side-nav {
  grid-template:
    'top-nav top-nav' auto
    'side-nav content' 1fr / 300px 1fr;
}

.app-container #course-dropdown {
  display: none;
}

.app-container.side-nav-can-show.show-side-nav #course-dropdown {
  display: flex;
}

.app-cotnainer.side-nav-can-show.show-side-nav .side-nav-link-text {
  border-radius: 0;
}

.app-top-nav {
  grid-area: top-nav;
}

.app-side-nav {
  padding: 0.75rem 0;
  grid-area: side-nav;
  overflow: hidden;

  /* --bs-primary-bg-subtle from Bootstrap 5.3 */
  background-color: #cfe2ff;
  transition: 300ms;
}

.app-container.show-side-nav .app-side-nav {
  padding: 0.75rem;
  overflow-y: auto;
}

.app-main {
  grid-area: content;
  overflow-x: hidden;
}

.app-main-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.side-nav {
  display: flex;
  flex-direction: column;
}

.side-nav-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.side-nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: var(--bs-body-color) !important;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  position: relative;
  white-space: nowrap;
}

.side-nav-link:hover,
.side-nav-link-active {
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}

.side-nav-link-active {
  font-weight: bold;
}

.side-nav-link-active::after {
  content: '';
  display: block;
  height: 100%;
  width: 4px;
  position: absolute;
  left: -0.75rem;
  background-color: var(--bs-primary);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.app-container .side-nav-link {
  justify-content: center;
}

.app-container .side-nav-link .side-nav-link-text {
  display: none;
}

.app-container.side-nav-can-show.show-side-nav .side-nav-link {
  justify-content: flex-start;
}

.app-container.side-nav-can-show.show-side-nav .side-nav-link .side-nav-link-text {
  display: block;
}

.side-nav-section-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid var(--bs-body-color);
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.side-nav-section-header-row .side-nav-section-header-text {
  display: none;
  margin: 0;
}

.app-container.side-nav-can-show.show-side-nav
  .side-nav-section-header-row
  .side-nav-section-header-text {
  display: block;
}
