{{#question}}
<script>
$(() => {
  new window.PLFileUpload("{{uuid}}", {
    acceptedFiles: {{&file_names}},
    optionalFiles: {{&optional_file_names}},
    submittedFileNames: {{&submitted_file_names}},
    checkIconColor: "{{check_icon_color}}",
  });
});
</script>

<div id="file-upload-{{uuid}}" {{#submission_files_url}}data-submission-files-url="{{submission_files_url}}"{{/submission_files_url}}>
  <input type="hidden" name="{{name}}" data-skip-unload-check="true">
  {{#editable}}
  <div class="upload-dropzone d-flex align-items-center justify-content-center p-3 mb-3 rounded">
    <div class="text-center dz-message">
      Drop files here or click to upload.
      <br/>
      <small>Only the files listed below will be accepted&mdash;others will be ignored.</small>
      <br/>
      <small>The combined size limit of all uploaded files is 5MB.</small>
    </div>
  </div>
  {{/editable}}
  <div class="messages">
{{#parse_error}}
    <a role="button"
      class="btn btn-light border d-flex align-items-center text-danger"
      data-toggle="popover"
      data-html="true"
      title="Format Error"
      data-placement="auto"
      data-trigger="focus"
      tabindex="0"
      data-content="{{.}}">
      <span class="mr-1">Invalid </span> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </a>
{{/parse_error}}
  </div>
  <div class="file-upload-status" style="margin-top: 1ex;">
    <div class="card mb-4">
      <div class="card-header">Files</div>
      <ul class="list-group list-group-flush">
      </ul>
    </div>
  </div>
</div>
{{/question}}