<p>You may not be able to join back the current instance</p>
<form name="leave-group-form" method="POST">
  <input type="hidden" name="__action" value="leaveGroup">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
  <button id="leave-group" type="submit" class="btn btn-danger">Confirm</button>
  <button type="button" class="btn btn-secondary" onclick="$('#popoverLeave').popover('hide')">
    Cancel
  </button>
</form>
