<p>
    This date is the latest <code>endDate</code> that appears in any <code>accessRule</code> for the course instance. If two course instances have the same "Earliest Access Date," then they are listed from newest to oldest according to this "Latest Access Date."
</p>
<p>
    It is recommended that you define at least one <code>accessRule</code> that makes the course instance accessible to students only during the semester or other time period in which that particular course instance is offered. You can do so by editing the <code>infoCourseInstance.json</code> file for the course instance. For more information, see the <a href="https://prairielearn.readthedocs.io/en/latest/accessControl/">documentation on access control</a>.
</p>
