<div id="file-preview-{{uuid}}">
  {{#errors}}
  <div class="alert alert-danger"><strong>Error:</strong> {{.}}</div>
  {{/errors}}
  <div class="file-upload-status">
    <div class="card">
      <div class="card-header">Files</div>
      {{#has_files}}
      <ul class="list-group list-group-flush">
        {{#files}}
        <li class="list-group-item" data-file="{{name}}">
          <div class="file-status-container has-preview collapsed" data-toggle="collapse" data-target="#file-preview-contents-{{uuid}}-{{index}}">
            <div class="file-status-container-left">
              <i class="file-status-icon fa fa-check-circle" style="color: #4CAF50;" aria-hidden="true"></i>
              {{name}}
              <p class="file-status">uploaded</p>
            </div>
            <div class="file-status-container-right">
              <button type="button" class="btn btn-outline-secondary btn-sm file-preview-button">
                <i class="file-preview-icon fa fa-angle-down"></i>
              </button>
            </div>
          </div>
          <div class="file-preview collapse" id="file-preview-contents-{{uuid}}-{{index}}">
            <pre class="bg-dark text-white rounded p-3 mb-0"><code>{{contents}}</code></pre>
          </div>
        </li>
        {{/files}}
      </ul>
      {{/has_files}}
      {{^has_files}}
      <div class="card-body">
        No files were present in this submission.
      </div>
      {{/has_files}}
    </div>
  </div>
</div>
