<p>
  This will mark all students' current variants of this question as broken,
  meaning that <b>all unsubmitted attempts will be lost.</b>
  It is designed for cases where a broken question is being fixed or replaced.
</p>
<p>
  Students will receive a new variant of their question upon reloading.
</p>
<form name="break-form" method="POST">
  <input type="hidden" name="__action" value="break">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
  <input type="hidden" name="__assessment_question_id" value="<%= question.id %>">
  <button type="button" class="btn btn-secondary" onclick="$('#row<%= iRow %>PopoverBreak').popover('hide')">
    Cancel
  </button>
  <button type="submit" class="btn btn-danger">Mark as broken</button>
</form>
