<li class="d-flex mb-1">
  <a href="<%= href %>" class="py-2 px-3 mr-1 border rounded">
    <div class="font-weight-bold">
      <%= course.short_name %>
    </div>
    <div class="text-truncate" style="max-width: 400px;">
      <%= course.title %>
    </div>
  </a>
</li>