{{#render_button}}
<button type="button" name="{{button_class}}" class="btn btn-primary pl-drawing-button" opts='{{{ options }}}'><img /></button>
{{/render_button}}

{{#render_element}}
{{#parse_error}}
<script>
    $(function(){
        $('#drawing-interface-{{uuid}} [data-toggle="popover"]').popover({
            container: 'body',
            template: '<div class="popover pl-number-input-popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
        });
    });
</script>
<span id="drawing-interface-{{uuid}}">
    <a role="button" class="btn btn-light btn-sm" data-placement="auto"
       data-trigger="focus" data-toggle="popover" data-html="true" title="Error"
       tabindex="0" data-content="{{parse_error}}">
        INVALID <span><i class="fa fa-question-circle" aria-hidden="true"></i></span></a>
</span>
{{/parse_error}}
{{^parse_error}}
<div id="drawing-interface-{{uuid}}" class="pl-drawing-container">
    <div>
        <canvas width="{{width}}" height="{{height}}"> </canvas>
        {{#show_tolerance}}
            <div><small>({{{ tolerance }}})</small></div>
        {{/show_tolerance}}
        {{#feedback}}
            <div>
                Your answer has missing or incorrect items:<br>
                <ul>
                    {{{ feedback }}}
                </ul>
            </div>
        {{/feedback}}
    </div>
    {{#show_buttons}}
        <div class="pl-drawing-sidebar">
            <input type="hidden" name="{{name}}">
            {{{btn_markup}}}
        </div>
    {{/show_buttons}}
</div>
<script>
 (function() {
     let element = document.currentScript.previousElementSibling;
     let options = JSON.parse(`{{{options_json}}}`);
     {{^input_answer}}
     let submitted_answer = null;
     {{/input_answer}}
     {{#input_answer}}
     let submitted_answer = JSON.parse(`{{{input_answer}}}`);
     {{/input_answer}}
     $(function() {
         window.DrawingInterface(element, options, submitted_answer);
     });
 })();
</script>
{{/parse_error}}
{{/render_element}}
