.pl-overlay {
  display: block;
}

.pl-overlay-coordinate-plane {
  position: relative;
}

.pl-overlay-locations-container {
  position: absolute;
  inset: 0;
}

.pl-overlay-clip {
  overflow: hidden;
}

.pl-overlay-location {
  position: absolute;
}
