beautifulsoup4==4.12.3
bokeh==3.6.1
colormath==3.0.0
defusedxml==0.7.1
Faker==30.8.2
folium==0.18.0
ipython==8.30.0
jupyter-collaboration==2.1.2
matplotlib==3.9.3
nbconvert==7.16.4
nbformat==5.10.4
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
openpyxl==3.1.5
pandas==2.2.3
Pillow==11.0.0
PuLP==2.9.0
Pygments==2.18.0
pyarrow==18.1.0
pygraphviz==1.14
requests==2.32.3
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
sympy==1.13.3
text-unidecode==1.3
typing-extensions==4.12.2
