<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'questions'}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{result.title}} ({{result.qid}})</h3>
        </div>

        <table class="table table-condensed table-hover">
          <tbody>
            <tr>
              <th>Title</th>
              <td>{{result.title}}</td>
            </tr>
            <tr>
              <th>QID</th>
              <td>{{result.qid}}</td>
            </tr>
            <tr>
              <th>Type</th>
              <td>{{result.type}}</td>
            </tr>
            <tr>
              <th>Topic</th>
              <td>{{result.topic_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
