details.instructions {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: .5em .5em 0;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, .03);
}

.instructions summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    outline: none;
}

details.instructions[open] {
    padding: .5em;
}

details.instructions[open] summary {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: .5em;
}
