<pl-question-panel>


<p>Which photo was not taken in the Champaign-Urbana area?</p>

<pl-multiple-choice answers-name="ans">

  <pl-answer correct="true">
      <pl-figure file-name={{params.correct_filename}} directory="clientFilesQuestion"></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
      <pl-figure file-name={{params.wrong_filename0}} directory="clientFilesQuestion"></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
      <pl-figure file-name={{params.wrong_filename1}} directory="clientFilesQuestion"></pl-figure>
  </pl-answer>
  <pl-answer correct="false">
      <pl-figure file-name={{params.wrong_filename2}} directory="clientFilesQuestion"></pl-figure>
  </pl-answer>


</pl-multiple-choice>

</pl-question-panel>
