<% if (status == 'pending') { %>
    <span class="badge badge-secondary"> <i class="fa fa-clock"></i> Pending </span>
<% } else if (status == 'creating') { %>
    <span class="badge badge-info"> <i class="fa fa-sync"></i> Job in progress </span>
<% } else if (status == 'failed') { %>
    <span class="badge badge-danger"> <i class="fa fa-times"></i> Job failed </span>
<% } else if (status == 'approved') { %>
    <span class="badge badge-success"> <i class="fa fa-check"></i> Approved </span>
<% } else if (status == 'denied') { %>
    <span class="badge badge-danger"><i class="fa fa-times"></i> Denied </span>
<% } %>
