importFrom("unix", "eval_safe", "user_info")
importFrom("jsonlite", "write_json")
importFrom("utils", "lsf.str")

export("source_and_eval_safe",
       "eval_safe_as",
       "source_and_eval_safe_with_hiding",
       "source_as_uid",
       "source_std",
       "source_ref",
       "get_question_details",
       "test_question",
       "message_to_test_result")
