importFrom("unix", "eval_safe", "user_info")
importFrom("jsonlite", "write_json")

export("source_and_eval_safe",
       "eval_safe_as",
       "source_and_eval_safe_with_hiding",
       "source_as",
       "get_question_details",
       "test_question",
       "message_to_test_result")
