.pl-drawing-button {
  padding: 3px;
  margin-top: 2px;
  background-position: center;
  background-repeat: no-repeat;
}

.pl-drawing-button img {
  filter: invert(100%);
}

.pl-drawing-container {
  display: flex;
}

.pl-drawing-sidebar {
  margin-left: 20px;
  flex-grow: 1;
}
