{{#render_button}}
<button type="button" name="{{button_class}}" class="btn btn-primary pl-drawing-button" opts="{{{ options }}}" title="{{button_class}}"><img src=""></button>
{{/render_button}}

{{#render_element}}
{{#parse_error}}
<span class="small" style="white-space: nowrap">
    <span class="badge text-bg-danger">
        Invalid <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </span>
    <a
        class="link-primary"
        tabindex="0"
        role="button"
        data-bs-placement="auto"
        data-bs-toggle="popover"
        data-bs-html="true"
        title="Format error"
        data-bs-content="{{parse_error}}"
    >
        More info…
    </a>
</span>
{{/parse_error}}
{{^parse_error}}
<div id="pl-drawing-{{uuid}}" class="pl-drawing-container pl-requires-svg-mathjax mb-3">
    <div>
        <canvas
            width="{{width}}"
            height="{{height}}"
            {{#preview_mode}}role="img"{{/preview_mode}}
            {{#aria_description}}aria-description="{{aria_description}}"{{/aria_description}}
            {{#aria_label}}aria-label="{{aria_label}}"{{/aria_label}}
        >
        </canvas>
        {{#show_tolerance}}
            <div><small>({{{ tolerance }}})</small></div>
        {{/show_tolerance}}
        {{#feedback}}
            <div>
                Your answer has missing or incorrect items:<br>
                <ul>
                    {{{ feedback }}}
                </ul>
            </div>
        {{/feedback}}
    </div>
    {{#show_buttons}}
        <div class="pl-drawing-sidebar">
            <input type="hidden" name="{{name}}">
            {{{btn_markup}}}
        </div>
    {{/show_buttons}}
</div>
<script>
 (function() {
     let element = document.getElementById("pl-drawing-{{uuid}}");
     let options = JSON.parse(`{{{options_json}}}`);
     {{^input_answer}}
     let submitted_answer = null;
     {{/input_answer}}
     {{#input_answer}}
     let submitted_answer = JSON.parse(`{{{input_answer}}}`);
     {{/input_answer}}
     $(function() {
         window.PLDrawingApi.setupCanvas(element, options, submitted_answer);
     });
 })();
</script>
{{/parse_error}}
{{/render_element}}
