<form name="time-limit-finish-form" method="POST">
  <input type="hidden" name="__action" value="timeLimitFinish">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
</form>
<!-- TODO Remove the form above and make it dynamic in TS file. This
will require tests to use a different method of retrieving this
form. -->
