<span class="align-middle">
  <%
  const badge_color = {
    unanswered: 'danger',
    invalid: 'danger',
    grading: 'default',
    saved: 'info',
    complete: 'success',
    correct: 'success',
    incorrect: 'danger',
  };
  %>
  <span class="badge badge-<%= badge_color[instance_question.status] ?? 'default' %>"><%= instance_question.status %></span>

<% if ((instance_question.allow_grade_left_ms ?? 0) > 0) { %>
<a class="grade-rate-limit-popover btn btn-xs" data-toggle="popover" data-html="true" data-content="This question limits the rate of submissions. Further grade allowed <%= instance_question.allow_grade_interval %> (as of the loading of this page)." data-placement="auto" data-trigger="focus" data-container="body" tabindex="0">
    <i class="fa fa-hourglass-half" aria-hidden="true"></i>
</a>
<% } %>
</span>
