<li class="nav-item">
  <a class="nav-link" href="/pl/administrator/institutions">
    Admin
  </a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/pl/administrator/institution/<%= institution.id %>">
    <%= institution.short_name %>
  </a>
</li>
