<nav class="navbar navbar-dark bg-secondary" id="navbarDeveloper" style="display: none">
  <span class="navbar-text"
    >Developer: <a id="navbarDeveloperUrl" target="_blank" title="Open in new tab"></a>
    <button
      class="btn btn-sm btn-outline-primary"
      type="button"
      onClick="location.reload();"
      title="Reload page"
    >
      <i class="fa-solid fa-rotate-right"></i>
    </button>
  </span>
  <span class="navbar-text">
    <button
      class="btn btn-sm btn-outline-light"
      type="button"
      onClick="window.parent.postMessage({subject: 'toggleCourseNavigationMenu'}, '*')"
    >
      <i class="fa-solid fa-angle-left"></i> <i class="fa-solid fa-bars"></i> Toggle course nav
    </button>
    <button
      class="btn btn-sm btn-outline-light"
      type="button"
      onclick="var i=document.getElementById('navbarDeveloper');i.style.display='none';"
    >
      <i class="fa-solid fa-angle-up"></i>
    </button>
    <button
      class="btn btn-sm btn-outline-light"
      type="button"
      onClick="window.parent.postMessage({subject: 'lti.hideRightSideWrapper'}, '*');style.display='none'"
    >
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </span>
</nav>

<script type="text/javascript">
  // Only display helper bar when in iframe
  if (window.self !== window.top) {
    document.getElementById('navbarDeveloper').style.display = 'block';
    var u = document.getElementById('navbarDeveloperUrl');
    u.innerHTML = window.location.pathname;
    u.href = window.location.pathname;
  }
</script>
