
      <% if (is_administrator) { %>
      <li class="nav-item <% if (navPage == "admin") { %>active<% } %>"><a class="nav-link" href="<%= plainUrlPrefix %>/administrator/admins">Admin</a></li>
      <% } %>
