<li class="nav-item">
  <a class="nav-link" href="/pl/institution/<%= institution.id %>/admin">
    <%= institution.short_name %>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/pl/institution/<%= institution.id %>/admin">
    Admin
  </a>
</li>
