<% include('pointsFormatter'); %>

<% if (previous_variants) { %>
    <% for (var i = 0; i < previous_variants.length; i++) { %>
        <span class="badge badge-secondary">
            <a class="text-white" href="<%= urlPrefix %>/instance_question/<%= instance_question_id %>/?variant_id=<%= previous_variants[i].variant_id %>"><%= Math.round(previous_variants[i].max_submission_score * 100) + "%"  %></a> 
        </span>
    <% } %>
<% } %>
