<script>
$(function() {
    var rte = window.PLRTE('{{editor_uuid}}', {
        readOnly: {{read_only}},
        placeholder: '{{placeholder}}',
        format: '{{format}}',
        markdownShortcuts: {{markdown_shortcuts}},
        {{#quill_theme}}
        theme: '{{.}}',
        {{/quill_theme}}
    });
});
</script>
<input type="hidden" id="rte-input-{{editor_uuid}}"
       name="{{name}}" value="{{current_file_contents}}"/>
<div class="pl-rich-text-editor-container">
  <div id="rte-{{editor_uuid}}" class="border mathjax_ignore"></div>
</div>
