<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {pageTitle: 'Edit Failure'}); %>
</head>

<body>
    <%- include('../partials/navbar', {navPage: 'error'}); %>

    <main id="content" class="container">
        <script>
            $(function() {
                let showDetailElement = $("#results-some-uuid-button");
                showDetailElement.click(function() {
                    showDetailElement.text(showDetailElement.text() == "Show detail" ? "Hide detail" : "Show detail");
                });
            });
        </script>

        <div class="card mb-4">
            <h5 class="card-header bg-danger text-white">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        Edit Failure
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-light btn-sm" data-toggle="collapse" href="#results-some-uuid" role="button" id="results-some-uuid-button">Show detail</a>
                    </div>
                </div>
            </h5>
            <div class="card-body">
                <p>The file edit did not complete successfully.</p>
                <% if (failedSync) { %>
                    <p>
                        In particular, it looks like your changes were written to disk<% if (config.fileEditorUseGit) { %> and were pushed to the remote GitHub repository<% } %>, but that there was a failure to sync these changes to the database. The most likely cause is broken course content. Please fix this content, then click <strong>Pull from remote GitHub repository</strong> to try again.
                    </p>
                    <form method="POST">
                        <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                        <div class="mx-4">
                            <button name="__action" value="pull" class="btn btn-primary">Pull from remote GitHub repository</button>
                        </div>
                    </form>
                <% } else { %>
                    <p>Please go back and try again.</p>
                <% } %>
            </div>
        </div>

        <div class="collapse" id="results-some-uuid">
            <%- include('../partials/jobSequenceResults', {job_sequence: job_sequence, job_sequence_enable_live_update: false}); %>
        </div>
    </main>
</body>

</html>
