chevron==0.13.1
flake8==3.7.9
flake8-quotes==2.1.1
lxml==4.5.0
matplotlib==3.1.2
networkx==2.4
numpy==1.18.1
pandas==1.0.0
pycryptodome==3.9.4
pyquaternion==0.9.5
scipy==1.4.1
sympy==1.5.1
rpy2==3.2.5
pygraphviz==1.5
ansi2html==1.5.2
scikit-learn==0.22.1
nltk==3.4.5
tzlocal==2.0.0
