<script>
$(function() {
  window.PLGraphRender({
    uuid: "{{uuid}}",
    workerURL: "{{workerURL}}",
    data: {{{ data }}},
    engine: "{{engine}}",
  })
})
</script>



<div id="pl-graph-{{uuid}}" class="pl-graph">
  {{{svg}}}
</div>
