{{#extensions}}
    <div class="card my-2">
        <div class="card-header">
            {{name}}
        </div>
        <div class="card-body">
            {{{html}}}
        </div>
    </div>
{{/extensions}}
