<script>
    $(function(){
        $('#pl-artifact-scan-{{uuid}} [data-toggle="popover"]').popover({
            sanitize: false,
            container: 'body',
            template: '<div class="popover pl-dropdown-popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
        });
    });
</script>

{{#question}}
    <div id="pl-artifact-scan-{{uuid}}" class="d-inline-block form-group form-inline">
        <label for="barcode">Barcode</label>
        <input type="text" id="barcode" name="barcode">
    </div>
{{/question}}

{{^question}}
    <div id="pl-dropdown-{{uuid}}" class="d-inline-block">

        {{^parse-error}}
            <span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i></span>
            <label for="barcode">Barcode</label>
            <input type="text" id="barcode" name="barcode" value="{{barcode}}">
        {{/parse-error}}

        {{#parse-error}}
            <span class="badge text-danger badge-invalid"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid Barcode </span>
            <input type="text" disabled value="{{barcode}}">
            <a href="javascript:void(0);" role="button" class="btn btn-sm btn-secondary small border" data-placement="auto" data-trigger="focus" data-toggle="popover" data-html="true" style="margin-left: 5px" title="Format Error" tabindex="0" data-content="{{parse-error}}"> Why <i class="fa fa-question-circle" aria-hidden="true"></i></a>
        {{/parse-error}}
    </div>
{{/question}}