.pl-sketch {
    overflow: scroll;
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 5px;
}

.pl-sketch-controls {
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    box-shadow: 0px 0px 2px #757575;
    z-index: 2;
}

.pl-sketch-canvas {
    z-index: 1;
}

.pl-sketch-control-group {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    user-select: none;
}

.pl-sketch-control {
    display: inline-block;
    height: 40px;
    padding: 5px;
    user-select: none;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
}

.pl-sketch-circle {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.pl-sketch-popup {
    transform: translate(calc(15px - 50%), 0);
    opacity: 1.0;
    background: #FAFAFA;
    box-shadow: 0px 0px 2px #757575;
    padding: 8px;
    padding-bottom: 4px;
    border-radius: 15px;
    transition: all 0.15s ease-in-out;
    transition-property: transform, opacity;
    z-index: 2;
    position: absolute;
}

.pl-sketch-popup.pl-sketch-hidden {
    /* opacity: 0.0; */
    display: none;
    transform: translate(calc(15px - 50%), -10px);
    pointer-events: none;
}

.pl-sketch-color-icon {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
}
