chevron==0.13.1
flake8==3.8.3
flake8-quotes==3.2.0
lxml==4.5.1
matplotlib==3.2.2
networkx==2.4
numpy==1.19.0
pandas==1.0.5
pycryptodome==3.9.8
pyquaternion==0.9.5
regex==2020.6.8
scipy==1.5.0
sympy==1.6
rpy2==3.3.4
pygraphviz==1.5
ansi2html==1.5.2
scikit-learn==0.23.1
nltk==3.5
tzlocal==2.1
Pygments==2.6.1
sphinx==3.1.1
sphinx-markdown-builder==0.5.4
recommonmark==0.6.0
mkdocs-material==5.4.0
