<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>PrairieLearn</h1>
        <p class="lead">An online system for problem-driven learning.</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/pl/shibcallback" role="button">University of Illinois login</a>
          <a class="btn btn-info btn-lg" href="/pl/oauth2login" role="button">Google login</a>
          <a class="btn btn-success btn-lg" href="/pl/azure_login" role="button">INTL ID login</a>
        </p>
      </div>
    <%- include('../partials/advertisement'); %>
    </div>
  </body>
</html>
