<div class="container-fluid">
    <canvas src="{{src}}" {{#width}}width="{{width}}"{{/width}} {{#test_x}}test_x="{{test_x}}"{{/test_x}} {{#test_y}}test_y="{{test_y}}"{{/test_y}} {{#test_width}}test_width="{{test_width}}"{{/test_width}} {{#show_coordinates}}show_coordinates="{{show_coordinates}}"{{/show_coordinates}}   id="clickable" class="img-responsive center-block" />
    <input name="cordinate_x" id="cordinate_x" type="hidden" class="form-control"   aria-describedby="basic-addon1" />
    <input name="cordinate_y" id="cordinate_y" type="hidden" class="form-control"   aria-describedby="basic-addon1" />
</div>
