{{#question}}
<div class="container-fluid">
    <canvas src="{{src}}" {{#width}}width="{{width}}"{{/width}} {{#test_x}}test_x="{{test_x}}"{{/test_x}} {{#test_y}}test_y="{{test_y}}"{{/test_y}} {{#test_width}}test_width="{{test_width}}"{{/test_width}} {{#test_height}}test_height="{{test_height}}"{{/test_height}}{{#show_coordinates}}show_coordinates="{{show_coordinates}}"{{/show_coordinates}}   id="clickable" class="img-responsive center-block" />
    <input name="cordinate_x" id="cordinate_x" type="hidden" class="form-control"   aria-describedby="basic-addon1" />
    <input name="cordinate_y" id="cordinate_y" type="hidden" class="form-control"   aria-describedby="basic-addon1" />
</div>
    <script>
        $(function() {
            var cords = [];
            var can = document.getElementById('clickable');
            var ctx = can.getContext('2d');
            var src = $('#clickable').attr('src');
            var scale = $('#clickable').attr('width')
            scale = scale/100;
            var img = new Image();
            img.src = src;
            img.onload = function() {
                $('#clickable').attr('height', img.height*scale);
                $('#clickable').attr('width', img.width*scale);
                ctx.drawImage(img, 0, 0, can.width,can.height);
                if($("#clickable").attr("test_x")!='' && $("#clickable").attr("test_y")!='' && $("#clickable").attr("test_radius")!=''){
                    try{
                        drawRect(Number($("#clickable").attr("test_x")), Number($("#clickable").attr("test_y")), Number($("#clickable").attr("test_width")), Number($("#clickable").attr("test_height")));
                    } catch(exception){
                        console.log(exception)
                    }
                }
            };
            $("#clickable").click(function(e) {
                var offset = $(this).offset();
                var relativeX = (e.pageX - offset.left);
                var relativeY = (e.pageY - offset.top);
                drawX(relativeX,relativeY,ctx,img,can,10);
                if($("#clickable").attr("show_coordinates")==='true'){
                    alert('x:' + relativeX + ' y:' + relativeY);
                }
                $('#cordinate_x').val(relativeX);
                $('#cordinate_y').val(relativeY);
            });
            function drawRect(x,y,width,height) {
                x=x-width/2;
                y=y-height/2;
                ctx.rect(x,y,width,height);
                ctx.strokeStyle="#FF0000";
                ctx.stroke();
                ctx.strokeStyle="#000000";
            }
        });
    </script>
{{/question}}
{{#submission}}
    <div class="container-fluid">
        <canvas src="{{src}}" id="submitted{{incremental}}" class="img-responsive center-block" />
    </div>
    <script>
        $(window).load(function() {
            var sub_x{{incremental}} = {{submission_x}}
            var sub_y{{incremental}} = {{submission_y}}
            var sub_can{{incremental}};
            var sub_ctx{{incremental}};
            var src{{incremental}} = $('#submitted{{incremental}}').attr('src');
            sub_can{{incremental}} = document.getElementById('submitted{{incremental}}');
            sub_ctx{{incremental}} = sub_can{{incremental}}.getContext('2d');
            var img{{incremental}} = new Image();
            img{{incremental}}.src = src{{incremental}};
            img{{incremental}}.onload = function() {
                sub_ctx{{incremental}}.drawImage(img{{incremental}}, 0, 0, sub_can{{incremental}}.width,sub_can{{incremental}}.height);

                //calculate cordinates relative to size
                var question_can = document.getElementById('clickable');
                var scale_width = (sub_can{{incremental}}.width/question_can.width);
                var scale_height = (sub_can{{incremental}}.height/question_can.height);
                sub_x{{incremental}} = sub_x{{incremental}}*scale_width;
                sub_y{{incremental}} = sub_y{{incremental}}*scale_height;
                drawX(sub_x{{incremental}},sub_y{{incremental}},sub_ctx{{incremental}},img{{incremental}},sub_can{{incremental}},5);
            };
        });
    </script>
{{/submission}}
{{#answer}}
    <div class="container-fluid">
        <canvas src="{{src}}" id="answer" class="img-responsive center-block" />
    </div>
    <script>
        $(window).load(function() {
            var ans_x = {{answer_x}}
            var ans_y = {{answer_y}}
            var ans_can;
            var ans_ctx;
            var ans_src = $('#answer').attr('src');
            try{
                ans_can = document.getElementById('answer');
                ans_ctx = ans_can.getContext('2d');
            } catch(exception){
                console.log(exception)
            }
            var ans_img = new Image();
            ans_img.src = ans_src;


            ans_img.onload = function() {
                ans_ctx.drawImage(ans_img, 0, 0, ans_can.width,ans_can.height);

                var question_can = document.getElementById('clickable');
                var ans_scale_width = (ans_can.width/question_can.width);
                var ans_scale_height = (ans_can.height/question_can.height);
                ans_x = ans_x*ans_scale_width;
                ans_y = ans_y * ans_scale_height;
                console.log(ans_can.height + ":" + question_can.height);
                drawX(ans_x,ans_y,ans_ctx,ans_img,ans_can,5);
            };
        });
    </script>
{{/answer}}