<div class="container-fluid">
    <canvas src="{{src}}" {{#width}}width="{{width}}"{{/width}} {{#height}}height="{{height}}"{{/height}}  id="clickable" class="img-responsive center-block" />
    <input name="cordinates" id="cordinates" type="hidden" class="form-control"   aria-describedby="basic-addon1" />
</div>
