{{#question}}
<script>
$(function() {
    var UUID = "{{uuid}}";

    new window.PLFileEditor(UUID, {
        originalContents: "{{original_file_contents}}",
        currentContents: "{{current_file_contents}}",
        editorConfigFunction: {{#editor_config_function}}"{{editor_config_function}}"{{/editor_config_function}}{{^editor_config_function}}undefined{{/editor_config_function}},
        aceMode: {{#ace_mode}}"{{ace_mode}}"{{/ace_mode}}{{^ace_mode}}undefined{{/ace_mode}}
    });
});
</script>
<div id="file-editor-{{uuid}}">
    <input type="hidden" name="{{name}}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{file_name}}</h4>
        </div>
        <div class="editor"></div>
    </div>
    {{submission}}
</div>
{{/question}}
