<li class="nav-item">
    <a class="nav-link <% if (navSubPage == activeSubPage) { %>active text-dark<% } else { %>text-secondary<% } %>" href="<%= urlPrefix %><%= urlSuffix %>"><i class="<%= iconClasses %>"></i> <%= tabLabel %></a>
</li>
