<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script src="/javascripts/socket.io.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container-fluid">
      <%- include('../partials/jobSequenceResults', {job_sequence_enable_live_update: true}) %>
    </div>
  </body>
</html>
