.connectedSortable {
  /* This style applies to the MCQ options table, on the left hand side*/
  border: 3px solid #eee;
  border-radius: 4px;
  background-color: #efefff; /* Pale Blue */
  min-width: 200px;
  width: 350px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 20px 0;
  float: left;
  margin-right: 50px;
}

.dropzone {
  /* This style applies to answer dropzone */
  background-color: #FFA; /* Yellow */
  min-height: 30px;
}


.connectedSortable li, .dropzone li{
  /* This style applies to the answer draggable tiles themselves */
  background-color: #EFEFEF; /* Grey */
  border: 1px solid;
  border-radius: 4px;
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis; /* Show overflow text as ... without mouse over */
  white-space: nowrap;
}

.connectedSortable li:hover, .dropzone li:hover{
    /* Show overflow text in the answer draggable tiles */
	white-space: normal;
	height: auto;
	max-height: none;
	overflow: visible;
}

.info {
  /* This styling applies to the instruction text for the dropzones */
  background-color: transparent !important;
  border: none !important;
}

.ui-state-highlight { 
  /*This styling applies to the placeholder answer tile that appears when the user is dragging */
  height: 40px;
  border: none !important;
  color: #efefff !important; 
  background-color: #efefff !important; 
}


.row:after {
  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}

.pl-dropdown-input-popover {
    width: 400px;
    max-width: 100%;
}

.pl-dropdown-input-input {
    height: auto;
}

