
.connectedSortable {
  /* This style applies to the MCQ options table, on the left hand side*/
  border: 2px solid #A9A9A9; /* High visibility borders for accessibility */
  border-radius: 4px;
  background-color: #efefff; /* Pale Blue */

  width: 100%;

  margin: 0 40px 0 10px;

  list-style-type: none;
  padding: 5px 0 20px 0;
  float: left;
}

.horizontalLayout {
  /* This style applies to the DIV that holds each dropzone column */
  /* This particular style renders the dropzones in a single row horizontally */ 
  width: 46%;
  margin-right: 20px;
}

.verticalLayout {
  /* This style applies to the DIV that holds each dropzone column */
  /* This particular style renders the dropzones in a single column vertically */ 
  width: 55%;
  margin-right: 20px;
  margin-bottom: 20px;
}


.dropzone {
  /* This style applies to answer dropzone */
  background-color: #FFA; /* Yellow */
  min-height: 30px;
}


.connectedSortable li, .dropzone li{
  /* This style applies to the answer draggable tiles themselves */
  background-color: #EFEFEF; /* Grey */
  border: 2px solid #A9A9A9;
  border-radius: 4px;
  margin: 0 10px 5px 10px;
  padding: 5px;
  font-size: 1.2em;

  display: block;

  overflow: hidden;
  text-overflow: ellipsis; /* Show overflow text as ... without mouse over */
  white-space: nowrap;
}

.connectedSortable li:hover, .dropzone li:hover{
    /* Show overflow text in the answer draggable tiles */
  white-space: normal;
  height: auto;
  max-height: none;
  overflow: visible;

  cursor: move; /* For UX: The answer tiles shows a 'grab' cursor on mouse over */
}



.info {
  /* This styling applies to the instruction text for the dropzones */
  background-color: transparent !important;
  border: none !important;
  cursor: auto !important;
}

.ui-state-highlight { 
  /*This styling applies to the placeholder answer tile that appears when the user is dragging */
  height: 40px;
  border: none !important;
  color: #efefff !important; 
  background-color: #efefff !important; 
}

code.user-output {
  border: 2px solid #A9A9A9; /* High visibility borders for accessibility */
  margin-right: 4px;
}


.row:after {
  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}

.pl-dropdown-input-popover {
    width: 400px;
    max-width: 100%;
}

.pl-dropdown-input-input {
    height: auto;
}

