<pl-question-panel>
  <p>Which of the following best describes the function of mitochondria?</p>
</pl-question-panel>

<pl-multiple-choice answers-name="mitochondria" number-answers="4">
  <pl-answer correct="true">They produce ATP through cellular respiration</pl-answer>
  <pl-answer correct="true">They are the primary energy-producing organelles in eukaryotic cells</pl-answer>
  <pl-answer correct="true">They convert nutrients into usable chemical energy for the cell</pl-answer>
  <pl-answer correct="false">They store genetic information for cell division</pl-answer>
  <pl-answer correct="false">They package and modify proteins for secretion</pl-answer>
  <pl-answer correct="false">They are responsible for photosynthesis in plant cells</pl-answer>
  <pl-answer correct="false">They form the structural framework of the cell membrane</pl-answer>
  <pl-answer correct="false">They synthesize ribosomal RNA in the nucleolus</pl-answer>
  <pl-answer correct="false">They transport molecules across the cell membrane</pl-answer>
</pl-multiple-choice>
