:root {
  --md-primary-fg-color: #052c65;
}

/* Allow captioned code blocks to function */
code {
  text-align: left;
}

/* Prevent wrapping attributes inside tables */
td code {
  white-space: nowrap;
}
