:root {
  --md-primary-fg-color: #084298; /* PrairieLearn blue */
  --md-accent-fg-color: #106eb0; /* arbitrary darker blue */
}

/* Custom CSS for the link color */
[data-md-color-scheme='default'],
[data-md-color-scheme='full-width'] {
  --md-typeset-a-color: #127ac4; /* arbitrary blue */
}
/* Allow captioned code blocks to function */
code {
  text-align: left;
}

/* Prevent wrapping attributes inside tables, but not mkdocstrings */
td:not(.code) code {
  white-space: nowrap;
}

.md-nav__item--section > .md-nav__link[for],
.md-nav__title {
  text-transform: uppercase;
  color: var(--md-primary-fg-color);
}

/* CSS for width selection */
@media (max-width: 1220px) {
  .width-icon {
    display: none;
  }
}

[data-md-color-media='full-width'] {
  .md-main__inner {
    max-width: 100%;
  }
}

/* Center all diagrams */
a svg {
  width: 100%;
  max-height: 80vh;
}

/* mkdocs styles interferes with d2 code styles */
foreignObject .md pre {
  position: static;
  .md-clipboard {
    display: none;
  }
}

.palette-icon {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  font-size: 1.5em;
}

.doc-class:not(:first-of-type) {
  margin-top: 2em;
  border-top: 1px solid gray;
}
.doc-function {
  border-top: 0.5px solid lightgray;
}

.doc h3.doc-heading {
  margin: 1em 0 0.5em;
}

.doc h2.doc-heading {
  margin: 1.2em 0 0.6em;
}
