chevron==0.13.1
flake8==3.8.3
flake8-quotes==3.2.0
lxml==4.5.2
matplotlib==3.3.2
networkx==2.5
numpy==1.19.4
pandas==1.1.2
pycryptodome==3.9.9
pyquaternion==0.9.5
regex==2020.9.27
scipy==1.5.2
sympy==1.6.2
rpy2==3.3.5
pygraphviz==1.6
ansi2html==1.5.2
scikit-learn==0.23.2
nltk==3.5
tzlocal==2.1
Pygments==2.7.2
sphinx==3.3.1
sphinx-markdown-builder==0.5.4
recommonmark==0.6.0
mkdocs-material==6.1.6
PuLP==2.3.1
