chevron==0.13.1
flake8==3.8.4
flake8-quotes==3.2.0
lxml==4.6.2
matplotlib==3.3.3
networkx==2.5
numpy==1.19.4
pandas==1.2.0
pycryptodome==3.9.9
pyquaternion==0.9.9
regex==2020.11.13
scipy==1.6.0
sympy==1.7.1
rpy2==3.3.6
pygraphviz==1.6
ansi2html==1.6.0
scikit-learn==0.24.0
nltk==3.5
tzlocal==2.1
Pygments==2.7.3
sphinx==3.4.1
sphinx-markdown-builder==0.5.4
recommonmark==0.7.1
mkdocs-material==6.2.7
PuLP==2.4
