chevron==0.14.0
flake8==3.8.4
flake8-quotes==3.2.0
lxml==4.6.2
matplotlib==3.3.4
networkx==2.5
numpy==1.20.0
pandas==1.2.1
pycryptodome==3.9.9
pyquaternion==0.9.9
regex==2020.11.13
scipy==1.6.0
sympy==1.7.1
rpy2==3.4.2
pygraphviz==1.6
ansi2html==1.6.0
scikit-learn==0.24.1
nltk==3.5
tzlocal==2.1
Pygments==2.7.4
sphinx==3.4.3
sphinx-markdown-builder==0.5.4
recommonmark==0.7.1
mkdocs-material==6.2.7
PuLP==2.4
