{{#show_widget}}
<script>
    (() => {
        const initialize = async () => {
            const module = await import("pl-excalidraw-js");
            await module.initializeExcalidraw("{{uuid}}", "{{name}}", JSON.parse(atob("{{metadata}}")));
        };
        if (window.PrairieLearnExamPrinting) {
            const initializationPromise = new Promise((resolve) => $(resolve)).then(initialize);
            window.PrairieLearnExamPrinting.waitUntil(initializationPromise);
        } else {
            $(initialize);
        }
    })();
</script>
{{/show_widget}}

<div>
    {{#errors}}
    <div class="alert alert-danger" role="alert">
        {{.}}
    </div>
    {{/errors}}
    {{#show_widget}}
    <input type="hidden"{{#name}} name="{{name}}"{{/name}} id="excalidraw-input-{{uuid}}" data-deferred-initial-value="true"/>
    <div class="excalidraw-root">
        <div id="excalidraw-{{uuid}}"></div>
    </div>
    {{/show_widget}}
</div>
