<script>
$(function() {
  // Turn off Dropzone autodiscover; we'll configure it manually
  window.Dropzone.autoDiscover = false;

  var ELEMENT_ID = "#file-upload-{{uuid}}";
  var UUID = "{{uuid}}";

  new window.PLFileUpload(ELEMENT_ID, {
    uuid: UUID,
    acceptedFiles: {{&file_names}}
    {{#has_files}}, files: {{&files}}{{/has_files}}
  });
});
</script>

<div id="file-upload-{{uuid}}">
  <input type="hidden" name="{{name}}">
  <div class="dropzone">
    <div class="dz-message">
      Drop files here or click to upload.
      <br/>
      <small>Only the files listed below will be accepted&mdash;others will be ignored.</small>
    </div>
  </div>
  <div class="messages">
  </div>
  <div class="file-upload-status" style="margin-top: 1ex;">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">Files</h4></div>
      <ul class="list-group">
      </ul>
    </div>
  </div>
</div>
