name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0
    - name: Build the plbase docker image if needed
      run: sh ./tools/build-image-if-needed.sh images/plbase prairielearn/plbase
    - name: Build the grader-c docker image if needed
      run: sh ./tools/build-image-if-needed.sh graders/c prairielearn/grader-c
    - name: Build the grader-java docker image if needed
      run: sh ./tools/build-image-if-needed.sh graders/java prairielearn/grader-java
    - name: Build the grader-python docker image if needed
      run: sh ./tools/build-image-if-needed.sh graders/python prairielearn/grader-python
    - name: Build the grader-r docker image if needed
      run: sh ./tools/build-image-if-needed.sh graders/r prairielearn/grader-r
    - name: Build the workspace-jupyterlab docker image if needed
      run: sh ./tools/build-image-if-needed.sh workspaces/jupyterlab prairielearn/workspace-jupyterlab
    - name: Build the workspace-xtermjs docker image if needed
      run: sh ./tools/build-image-if-needed.sh workspaces/xtermjs prairielearn/workspace-xtermjs
    - name: Build the testing docker image
      run: docker build -t pltest .
    - name: Start the container
      run: docker run -td --name=test_container pltest /bin/bash
    - name: Run the JavaScript linter
      run: docker exec test_container /PrairieLearn/docker/lint_js.sh
    - name: Run the Python linter
      run: docker exec test_container /PrairieLearn/docker/lint_python.sh
    - name: Run typechecker
      run: docker exec test_container /PrairieLearn/docker/typecheck.sh
    - name: Run the JavaScript tests
      run: docker exec test_container /PrairieLearn/docker/test_js.sh
    - name: Run the Python tests
      run: docker exec test_container /PrairieLearn/docker/test_python.sh
    - name: Copy code-coverage data out of container
      run: docker cp test_container:/PrairieLearn/coverage coverage
    - name: Directory listing for debug
      run: ls -lR
    - name: Head of lcov.info for debug
      run: head -1000 coverage/lcov.info
    - name: Send code-coverage data to Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
      continue-on-error: true
