name: Release

# We want this workflow to run on master, but only after we've finished the
# main CI workflow. This ensures that, for instance, if integration tests
# fail on master, we don't accidentally publish broken versions of pacakges.
#
# See the `if` condition on the `release` job for the second half of this logic.
on:
  workflow_run:
    workflows:
      - CI
    branches:
      - master
    types:
      - completed

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Setup Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          # This invokes the `release` script in `package.json`, which will build
          # all the packages and then invoke `changeset publish`.
          publish: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # This token was generated by Nathan Walters on 8 February 2022.
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
