name: Upgrade Containers

on:
  workflow_dispatch:
  schedule:
    # At 14:00 (8am CST, 9am CDT) on day-of-month 15.
    - cron: '0 14 15 * *'

jobs:
  upgrade-containers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up timestamp
        id: get-timestamp
        run: echo "timestamp=$(date +%Y-%m-%d-%H-%M-%S)" >> "$GITHUB_OUTPUT"

      - name: Upgrade containers
        run: |
          find . -name 'Dockerfile' -exec sed -i "s/ARG CACHEBUST=.*/ARG CACHEBUST=${{ steps.get-timestamp.outputs.timestamp }}/" {} \;

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: upgrade-containers-${{ steps.get-timestamp.outputs.timestamp }}
          title: 'Upgrade Docker containers'
          commit-message: 'Bump CACHEBUST value of containers'
          committer: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'
          author: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'
          body: |
            This PR updates all Dockerfiles with a new `CACHEBUST` value to rebuild the images.
          labels: chore,dependencies,docker
