{{#question}}
<script>
    $(function(){
        $('#pl-symbolic-input-{{uuid}} [data-toggle="popover"]').popover({
            container: 'body',
            template: '<div class="popover pl-symbolic-input-popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
        });
    });
</script>

{{#inline}}<span class="form-inline d-inline-block ml-2">{{/inline}}
    <span id="pl-symbolic-input-{{uuid}}" class="input-group pl-symbolic-input">
        {{#label}}
        <span class="input-group-prepend">
            <span class="input-group-text">{{label}}</span>
        </span>
        {{/label}}
        <input name="{{name}}" type="text" class="form-control" size="35" {{^editable}}disabled{{/editable}} {{#raw_submitted_answer}}value="{{raw_submitted_answer}}"{{/raw_submitted_answer}} placeholder="{{shortinfo}}" />
        <span class="input-group-append">
            <a class="btn btn-light border" role="button" data-toggle="popover" data-html="true" title="Symbolic" data-content="{{info}}" data-placement="auto" data-trigger="focus" tabindex="0">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                {{#correct}}&nbsp;<span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>{{/correct}}
                {{#partial}}&nbsp;<span class="badge badge-warning"><i class="fa fa-circle-o" aria-hidden="true"></i> {{partial}}%</span>{{/partial}}
                {{#incorrect}}&nbsp;<span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>{{/incorrect}}
            </a>
        </span>
    </span>
{{#inline}}</span>{{/inline}}
{{/question}}


{{#submission}}
{{#inline}}<span class="d-inline-block">{{/inline}}
{{#parse_error}}
<script>
    $(function(){
        $('#pl-symbolic-input-submission-{{uuid}} [data-toggle="popover"]').popover({
            container: 'body',
            template: '<div class="popover pl-symbolic-input-popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
        });

        $('#pl-symbolic-input-submission-{{uuid}} [data-toggle="popover"]').on('shown.bs.popover', function () {
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, '#pl-symbolic-input-submission-{{uuid}} [data-toggle="popover"]']);
        });
    });
</script>
<span id="pl-symbolic-input-submission-{{uuid}}">
    {{#label}}<span>{{label}}</span>{{/label}}
    <a class="btn btn-secondary btn-sm" role="button" data-placement="auto" data-trigger="focus" data-toggle="popover" data-html="true" title="Error" tabindex="0" data-content="{{parse_error}}{{#raw_submitted_answer}}<hr><h5><small class='text-uppercase'>What you submitted</small></h5><pre>{{raw_submitted_answer}}</pre>{{/raw_submitted_answer}}">INVALID <span><i class="fa fa-question-circle" aria-hidden="true"></i></span></a>
</span>
{{/parse_error}}
{{^parse_error}}
{{#label}}<span>{{label}}</span>{{/label}}
${{a_sub}}$
{{#correct}}<span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> 100%</span>{{/correct}}
{{#partial}}<span class="badge badge-warning"><i class="fa fa-circle-o" aria-hidden="true"></i> {{partial}}%</span>{{/partial}}
{{#incorrect}}<span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> 0%</span>{{/incorrect}}
{{/parse_error}}
{{#inline}}</span>{{/inline}}
{{/submission}}

{{#answer}}
{{#label}}<span>{{label}}</span>{{/label}}
${{a_tru}}$
{{/answer}}

{{#format}}
Your answer must be a symbolic expression. All numbers must be rational - so, <code>1/2</code> instead of <code>0.5</code>.
{{^allow_complex}}Complex numbers are not allowed.{{/allow_complex}}
<hr>
<h5><small class='text-uppercase'>Allowable Operators</small></h5>
<pre>{{operators}}</pre>
<p>All operations must be explicit - examples of valid expressions are <code>cos(1)</code> and <code>2*(3)</code>. Examples of invalid expressions are <code>cos 1</code> and <code>2(3)</code>. Note that either <code>^</code> or <code>**</code> can be used for exponentiation.</p>
<hr>
<h5><small class='text-uppercase'>Allowable Constants</small></h5>
<pre>{{constants}}</pre>{{#variables}}
{{#allow_complex}}<p>Either <code>i</code> or <code>j</code> can be used to denote the imaginary unit. Examples of valid complex numbers are <code>1 + 2 * i</code> and <code>-3 * j</code>.</p>{{/allow_complex}}
<hr>
<h5><small class='text-uppercase'>Allowable Variables</small></h5>
<pre>{{variables}}</pre>{{/variables}}
{{/format}}

{{#shortformat}}
symbolic expression
{{/shortformat}}
