<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <!-- TODO: Create the manual grading assessments page -->
    </div>
  </body>
</html>
