
<script>
testData = "<mxfile host=\"embed.diagrams.net\" modified=\"2021-02-23T03:23:07.833Z\" agent=\"5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36\" etag=\"0Po4Ny1YaGpWAow8ApBk\" version=\"14.4.2\" type=\"embed\"><diagram id=\"4wXPHjGsfcsBOBC4T4IS\" name=\"Page-1\">lZRvT4MwEMY/DS9NKHXLfOnm3GI00SzRxHcNvUGTQkk5BvjpLXL8GzPOV2t/d732nueGxzdJtbMii1+MBO0Fvqw8/uAFAeOcuZ+G1C1ZsVULIqskJQ3goL6AoE+0UBLySSIao1FlUxiaNIUQJ0xYa8pp2tHo6a2ZiGAGDqHQc/qhJMbUxcIf+B5UFHc3M58iieiSCeSxkKYcIb71+MYag+0qqTagG/E6Xdpzj79E+4dZSPGaA5/PbM+OTxXTi/Xy7d1f14m5oSonoQtqGCFHojnWnQzWFKmEppLv8XUZK4RDJsImWjrjHYsx0W7H3HL+su4asAjVCNFLd2ASQFu7FIryJalW97q2+3IwoZ+ReGzALUFBxkd97UEbtyB5/iFVMJNqphKk8r6ZObcLtchzFV4pTG4KG8LfPoGcTOtcvpE8iwvqdMyCFqhO0xm/pBjd8GqUe3Hvzq0/dYffnYne9kOnxjN5VojxM5vPC6GwEeCs0I+BfduXPHXb4a/Vpg8fKL79Bg==</diagram></mxfile>"
</script>
<img id="inputImg" onclick='DiagramEditor.editElement(this);' src="data:image/svg+xml;base64,{{imgSrc}}" style="cursor:pointer;">
<img alt="button  " onclick='parseDiagram(null)'>