
<input type="hidden" value="" name="{{name}}" id="diagramHiddenInput">
<input type="hidden" value="{{initial-xml}}" name="diagramXML" id="diagramXML">
<iframe id="diagramFrame" style="width:100%;height:500px;border:0">
