
<input type="hidden" value="" name="{{name}}" id="diagramHiddenInput">
<img id="inputImg" onclick='DiagramEditor.editElement(this);' src="data:image/svg+xml;base64,{{imgSrc}}" style="cursor:pointer;">
<img alt="button  " onclick='parseDiagram(null)'>